.contacts {
  padding: 50px 0px;
  background-color: #F2F2FA;
}

.contacts__title {
  margin: 50px 0px;
}

.contacts__items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 2.5% 15px;
  margin: 3.3% 0px 6% 0px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.contacts__social {
  margin: 0px 0px 6% 0px;
}

.contacts__map {
  margin: 0px 0px 6% 0px;
  height: 305px;
  width: 100%;
}

.item-contact {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  padding: 13px 0px;
  color: #828282;
}

.item-contact a {
  font-size: 14px;
  color: #828282;
  text-decoration: none;
}

.item-contact a:hover {
  color: #E3672A;
}

.item-contact a:hover svg path {
  fill: #E3672A;
}

.item-contact span {
  display: inline-block;
}

@media (max-width: 767px) {
  .item-contact {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    font-size: 12px;
  }
}

.item-contact__icon {
  display: inline-block;
  margin: 0px 15px 0px 0px;
}

.item-contact__icon svg {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .social-item {
    text-align: center;
  }
}

.social-item__title {
  color: #234D60;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  margin: 0px 0px 10px 0px;
}

.social-item__link {
  display: inline-block;
  margin: 0px 7px 0px 0px;
  width: 28px;
  height: 28px;
}

@media (max-width: 767px) {
  .social-item__link {
    margin: 5px 10px 0px 10px;
  }
}

.social-item a:hover .social-item__link path {
  fill: #E3672A;
}
