@charset "UTF-8";
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot");
  src: local("☺"), url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.svg") format("svg");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot");
  src: local("☺"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg") format("svg");
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  font-family: "Montserrat-Regular";
  width: 1040px;
  margin: 0 auto;
}

.mainblock {
  background-color: #eb5838;
  padding: 60px 80px 160px;
  position: relative;
}

.mainblock_title {
  font-family: 'Montserrat-ExtraBold';
  color: #fff;
  text-transform: uppercase;
  width: 850px;
  font-size: 70px;
  line-height: 80px;
}

.mainblock_text {
  color: #fff;
  margin: 40px 0px 60px 0px;
  font-size: 30px;
  line-height: 45px;
}

.mainblock_arrows {
  opacity: 0.25;
  position: absolute;
  bottom: 55px;
  left: 110px;
  height: 150px;
}

.mainblock_arrows img {
  width: 320px;
}

.mainblock_smile {
  opacity: 0.25;
  position: absolute;
  bottom: 40px;
  right: -70px;
  height: 150px;
}

.mainblock_smile img {
  width: 150px;
}

.bottomblock {
  padding: 50px 80px 100px 80px;
  position: relative;
}

.bottomblock_text {
  font-family: 'Montserrat-SemiBold';
  width: 490px;
  font-size: 22px;
  line-height: 30px;
}

.bottomblock_image {
  position: absolute;
  top: -230px;
  left: 600px;
}

.bottomblock_image img {
  width: 340px;
}
