.container {
  max-width: 1030px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 12px;
  position: relative;
}

.container.a {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 1042px) {
  .container.a {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container.a {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container.a {
    max-width: none;
    padding: 0 10px;
  }
}

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.content__info-row {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  padding: 30px 45px 0px 45px;
}

@media (max-width: 479.98px) {
  .content__info-row {
    padding: 25px 15px 0px 15px;
  }
}

.content__info-row-link {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.43;
  color: #6d7278;
  letter-spacing: 0.5px;
  margin: 0px 15px 0px 0px;
}

.content__info-row-link:nth-child(1) {
  letter-spacing: 1.5px;
}

.content__info-row-link:nth-child(1):hover {
  text-decoration: underline;
}

.content__info-row-link:last-child {
  color: #8a7c5d;
}

@media (max-width: 479.98px) {
  .content__info-row-link:last-child {
    font-size: 0;
  }
}

.content__info-row-link svg {
  margin: 0px 8px 0px 0px;
  width: 16px;
  height: 16px;
}

.content__main {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto 30px;
  padding: 0px 45px;
}

@media (max-width: 479.98px) {
  .content__main {
    padding: 0px 15px 0px 15px;
    margin: 0px auto 15px;
  }
}

.content__title {
  font-size: 30px;
  line-height: 1.27;
  margin: 0px 0px 10px 0px;
}

.content__text {
  font-size: 16px;
  line-height: 1.5;
  max-width: 450px;
}

.content__image {
  background-position: 50% 40%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 450px;
  height: 100%;
}

@media (max-width: 1042px) {
  .content__image {
    background-position: 50% 20%;
  }
}

@media (max-width: 767.98px) {
  .content__image {
    height: 220px;
  }
}

.content__image img {
  height: 100%;
}

.spoiler {
  background-color: #142536;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 2px solid transparent;
}

.spoiler.active {
  border-bottom: 2px solid #405265;
}

.spoiler:hover {
  background-color: #22374b;
}

.spoiler__title-body {
  max-width: 1300px;
  width: 100%;
  position: relative;
}

.spoiler__title-body:before, .spoiler__title-body:after {
  -webkit-transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -moz-transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -ms-transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -o-transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 50%;
  background-color: #fff;
  margin: -2px 0px 0px 0px;
}

.spoiler__title-body:after {
  right: 52px;
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

.spoiler__title-body:before {
  right: 45px;
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.spoiler__title-body.active .spoiler__title {
  border-bottom: 2px solid #405265;
}

.spoiler__title-body.active:after {
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.spoiler__title-body.active:before {
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

@media (max-width: 479.98px) {
  .spoiler__title-body:after {
    right: 22px;
  }
  .spoiler__title-body:before {
    right: 15px;
  }
}

.spoiler__title {
  font-size: 22px;
  line-height: 1.27;
  padding: 25px 30px 25px 0px;
  margin: 0px 45px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 479.98px) {
  .spoiler__title {
    margin: 0px 15px;
    padding: 15px 40px 15px 0px;
  }
}

.spoiler__text-block {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  padding: 29px 45px 25px 0px;
}

@media (max-width: 767.98px) {
  .spoiler__text-block {
    display: block;
    padding: 15px 0px 30px 0px;
  }
}

.spoiler__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  font-size: 16px;
  line-height: 1.5;
  max-width: 800px;
}

.spoiler__text span {
  display: inline-block;
  padding: 0px 0px 0px 45px;
}

.spoiler__text p {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 767.98px) {
  .spoiler__text {
    max-height: 100%;
  }
  .spoiler__text span {
    padding: 0px 45px 0px 45px;
  }
}

@media (max-width: 479.98px) {
  .spoiler__text {
    padding: 0px 15px;
  }
  .spoiler__text span {
    padding: 0;
  }
}

.spoiler__text a {
  color: #6385C2;
}

.spoiler__text a:hover {
  text-decoration: underline;
}

.spoiler__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0px 0px 0px 8%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 992.98px) {
  .spoiler__image {
    margin: 0px 0px 0px 5%;
  }
}

@media (max-width: 767.98px) {
  .spoiler__image {
    margin: 20px auto 0px;
  }
}

.spoiler__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.spoiler .form {
  margin: 20px 45px 0px;
}

@media (max-width: 767.98px) {
  .spoiler .form {
    text-align: center;
    margin: 20px 0px 0px;
  }
}

.spoiler .remove-this {
  width: 300px;
  margin: 0px auto 0px;
}

@media (max-width: 479.98px) {
  .spoiler .remove-this {
    width: 100%;
    padding: 0px 15px;
  }
}

.spoiler__input {
  display: inline-block;
  border-bottom: 1px solid #5c738b;
  width: 100%;
  max-width: 280px;
  margin: 10px 0px 10px 0px;
  padding: 2px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.35px;
  position: relative;
  -webkit-transition: all 0.15s ease 0s;
  -moz-transition: all 0.15s ease 0s;
  -ms-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

@media (max-width: 767.98px) {
  .spoiler__input {
    max-width: 100%;
  }
}

.spoiler__input:hover {
  border-bottom: 1px solid #fff;
}

.spoiler__input.focus {
  border-bottom: 1px solid #fff;
}

.spoiler .btn-clear {
  cursor: pointer;
  display: none;
  background-color: #536578;
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
  padding: 0;
  margin: 0px 0px 0px -17px;
}

.spoiler .btn-clear.active {
  display: inline-block;
}

.spoiler .btn-clear:before, .spoiler .btn-clear:after {
  -webkit-transition: all 0.15s ease 0s;
  -moz-transition: all 0.15s ease 0s;
  -ms-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  content: "";
  position: absolute;
  background-color: #142536;
  width: 11px;
  height: 1px;
  top: 7px;
  left: 2px;
}

.spoiler .btn-clear:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.spoiler .btn-clear:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.spoiler .btn-clear:hover:before, .spoiler .btn-clear:hover:after {
  background-color: #fff;
}

.spoiler__btn {
  margin: 30px 0px 0px 0px;
  -webkit-transition: all 0.15s ease 0s;
  -moz-transition: all 0.15s ease 0s;
  -ms-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  height: 50px;
  width: 214px;
  border-radius: 30px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.25px;
}

@media (max-width: 479.98px) {
  .spoiler__btn {
    width: 100%;
  }
}

.spoiler__btn:hover {
  background-color: #fff;
  color: #000;
}
