.container {
  max-width: 320px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 0px;
  position: relative;
}

.container.a {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 332px) {
  .container.a {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container.a {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container.a {
    max-width: none;
    padding: 0 10px;
  }
}

.loader-page {
  background: -webkit-gradient(linear, left bottom, right top, from(#162073), to(#55cbe7));
  background: -webkit-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: -o-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: linear-gradient(to top right, #162073 0%, #55cbe7 100%);
  height: 500px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.loader-page_logo {
  max-width: 200px;
  margin: 0px auto 0px;
}

.loader-page_logo img {
  width: 100%;
  height: 100%;
}

.loader-page_text {
  font-size: 16px;
  text-align: center;
  color: #FAFBFD;
  padding: 20px 0px;
}

.loader-page_text span {
  opacity: 0;
}

.loader-page_text span:nth-child(1) {
  animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -webkit-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -moz-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -o-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.loader-page_text span:nth-child(2) {
  animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
  -webkit-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
  -moz-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
  -o-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
}

.loader-page_text span:nth-child(3) {
  animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s;
  -webkit-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s;
  -moz-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s;
  -o-animation: load 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s;
}

@-webkit-keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background-color: #162073;
  height: 60px;
  border-radius: 0px 0px 5px 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 20px;
}

.header svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.home-page {
  background: -webkit-gradient(linear, left bottom, right top, from(#162073), to(#55cbe7));
  background: -webkit-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: -o-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: linear-gradient(to top right, #162073 0%, #55cbe7 100%);
  margin: 20px 0px 0px 0px;
  border: 1px solid #000;
  height: 500px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home-page_header {
  padding: 0;
}

.home-page_header_text {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.home-page_content {
  padding: 0px 20px 0px 20px;
}

.home-page_item {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #333;
  font-size: 14px;
  height: 40px;
  line-height: 38px;
  padding: 0px 20px;
  margin: 0px 0px 5px 0px;
  border-radius: 3px;
}

.home-page_btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 7px 20px;
  background-color: #162073;
}

.home-page_btn-item {
  border-radius: 5px;
  width: 96px;
  text-align: center;
  border: 1px solid #55cbe7;
  padding: 5px 0px;
}

.home-page_btn-item svg {
  width: 32px;
  height: 32px;
}

.promo {
  height: 500px;
  border: 1px solid #000;
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: -webkit-gradient(linear, left bottom, right top, from(#162073), to(#55cbe7));
  background: -webkit-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: -o-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: linear-gradient(to top right, #162073 0%, #55cbe7 100%);
}

.promo_header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 20px;
}

.promo_header_btn {
  padding: 5px 0px 0px 0px;
}

.promo_header_text {
  color: #fff;
  text-align: center;
  padding: 10px 20px 0px 20px;
  height: 100%;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.promo_content {
  text-align: center;
}

.promo_text {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  margin: 0px 0px 80px 0px;
}

.promo_table {
  margin: 10px auto 100px;
  width: 260px;
}

.promo_row {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  font-size: 12px;
  line-height: 32px;
  color: #fff;
}

.promo_row:nth-child(1) {
  color: #333;
}

.promo_row.rowhead {
  background-color: #eee;
  font-weight: 600;
}

.promo_row .column1 {
  border-right: 1px solid #ccc;
  width: 50px;
  height: 40px;
  line-height: 38px;
}

.promo_row .column2 {
  border-right: 1px solid #ccc;
  width: 100%;
  height: 40px;
  line-height: 38px;
  text-align: left;
  padding: 0px 0px 0px 20px;
}

.promo_btn {
  margin: 0px 0px 10px 0px;
}

.btn {
  font-size: 14px;
  border: 1px solid linear-gradient(to top right, #162073 0%, #55cbe7 100%);
  display: inline-block;
  height: 30px;
  line-height: 28px;
  padding: 0px 20px;
  border-radius: 5px;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, right top, from(#162073), to(#55cbe7));
  background: -webkit-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: -o-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: linear-gradient(to top right, #162073 0%, #55cbe7 100%);
}

.modalAdd {
  height: 500px;
  margin: 20px 0px 0px 0px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modalAdd_body {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 250px;
  padding: 30px 20px 15px 20px;
  text-align: center;
}

.modalAdd_promo {
  height: 100%;
}

.modalAdd_promo form {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  font-size: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modalAdd_promo form select {
  width: 150px;
  height: 25px;
  margin: 5px auto 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalAdd_promo form input.number {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 55px;
  height: 25px;
  padding: 0px 5px;
  margin: 5px auto 20px;
}

.modalAdd_promo form input.text {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  height: 25px;
  padding: 0px 5px;
  margin: 5px auto 20px;
}

.partners {
  background: -webkit-gradient(linear, left bottom, right top, from(#162073), to(#55cbe7));
  background: -webkit-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: -o-linear-gradient(bottom left, #162073 0%, #55cbe7 100%);
  background: linear-gradient(to top right, #162073 0%, #55cbe7 100%);
  height: 500px;
  border: 1px solid #000;
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.partners_header {
  color: #fff;
}

.partners_header_btn {
  padding: 5px 0px 0px 0px;
}

.partners_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.partners_text {
  color: #fff;
  font-weight: 700;
}

.partners_table {
  width: 100%;
  font-size: 12px;
}

.partners_row {
  color: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  font-size: 12px;
  line-height: 32px;
}

.partners_row.rowhead {
  background-color: #eee;
  font-weight: 600;
  color: #333;
}

.partners_row .column1 {
  width: 30px;
  border-right: 1px solid #ccc;
}

.partners_row .column2 {
  width: 115px;
  border-right: 1px solid #ccc;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
}

.partners_row .column2:nth-child(3) {
  width: 30px;
}

.partners_row .column2:nth-child(5) {
  width: 30px;
}

.partners_row .column2 svg {
  width: 16px;
  height: 16px;
}

.partners_btn {
  margin: 0px 0px 10px 0px;
}
