@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700,800,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Exo 2";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  @media (max-width: 767.98px) {
    body.lock {
      width: 100%;
      overflow: hidden; } }

input, button, textarea {
  font-family: "Exo 2"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearace: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px 0px 0px 0px; }
  .slick-slider .slick-slide {
    margin: 0px 0.1%; }
    @media (max-width: 1292px) {
      .slick-slider .slick-slide {
        margin: 0px 0%; } }
    @media (max-width: 767.98px) {
      .slick-slider .slick-slide {
        margin: 0px -0.05%; } }
  .slick-slider .slick-next, .slick-slider .slick-prev {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    height: 100%;
    width: 60px;
    bottom: 0;
    z-index: 5; }
    .slick-slider .slick-next svg, .slick-slider .slick-prev svg {
      width: 30px;
      padding: 6px; }
      .slick-slider .slick-next svg path, .slick-slider .slick-prev svg path {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        fill: #E4F1F6; }
    .slick-slider .slick-next:hover svg, .slick-slider .slick-prev:hover svg {
      border-radius: 5px; }
      .slick-slider .slick-next:hover svg path, .slick-slider .slick-prev:hover svg path {
        fill: #67AFCB; }
  .slick-slider .slick-next {
    left: 50%;
    margin: 20px 0px 0px 318px; }
    .slick-slider .slick-next svg {
      position: relative;
      right: 0.5px; }
    @media (max-width: 767.98px) {
      .slick-slider .slick-next {
        margin: 20px 0px 0px 193px; } }
    @media (max-width: 479.98px) {
      .slick-slider .slick-next {
        margin: 20px 0px 0px 120px; } }
  .slick-slider .slick-prev {
    left: 50%;
    margin: 20px 322px 0px -342px; }
    @media (max-width: 767.98px) {
      .slick-slider .slick-prev {
        margin: 20px 0px 0px -230px; } }
    @media (max-width: 479.98px) {
      .slick-slider .slick-prev {
        margin: 20px 0px 0px -180px; } }
  .slick-slider .slick-dots {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    background-color: transparent; }
    @media (max-width: 767.98px) {
      .slick-slider .slick-dots {
        margin: 0px 0px 0px 0px; } }
    .slick-slider .slick-dots li {
      width: 28px;
      height: 28px; }
      .slick-slider .slick-dots li:hover button:before {
        opacity: 1;
        background-color: #275d72; }
      .slick-slider .slick-dots li button {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 1px solid #1A3E4C;
        position: absolute;
        top: 25%;
        left: 25%; }
        .slick-slider .slick-dots li button:before {
          content: "";
          top: 0%;
          left: 0%;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
      .slick-slider .slick-dots li.slick-active button:before {
        background-color: #67AFCB; }

.slick-slide.slick-active {
  -webkit-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -moz-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -ms-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -o-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  opacity: 1;
  position: relative;
  top: -20px; }
  @media (max-width: 479.98px) {
    .slick-slide.slick-active {
      top: 0px; } }

.slick-slide.slick-center {
  -webkit-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -moz-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -ms-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -o-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  opacity: 1;
  position: relative;
  top: -20px; }
  @media (max-width: 479.98px) {
    .slick-slide.slick-center {
      top: 0px; } }

.slick-slide {
  -webkit-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -moz-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -ms-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -o-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  opacity: 0.5;
  position: relative;
  top: 90px;
  padding: 0px 60px; }
  @media (max-width: 479.98px) {
    .slick-slide {
      top: 40px; } }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.eot");
  src: url("../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick/slick.woff") format("woff"), url("../fonts/slick/slick.ttf") format("truetype"), url("../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px; }

.slick-prev:before {
  content: ""; }
  [dir="rtl"] .slick-prev:before {
    content: ""; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none !important; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #092834; }
