.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
}

@media (max-width: 1292px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*page1*/
.myslider {
  padding: 10px 0px 40px 0px;
}

.myslider__title {
  text-align: center;
  color: #347C98;
  font-size: 31px;
  font-weight: 800;
  line-height: 44px;
  margin: 40px 0px;
}

@media (max-width: 479.98px) {
  .myslider__title {
    margin: 20px 0px -20px 0px;
    font-size: 20px;
  }
}

.myslider__body {
  max-width: 600px;
  margin: 0px 0px 20px 3%;
}

@media (max-width: 767.98px) {
  .myslider__body {
    max-width: 400px;
  }
}

@media (max-width: 479.98px) {
  .myslider__body {
    max-width: 280px;
    margin: 0px 0px 20px 0%;
  }
}

.myslider__top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 0px -10%;
}

@media (max-width: 479.98px) {
  .myslider__top {
    margin: 0;
  }
}

.myslider__image {
  border-radius: 5px;
  background-position: 50% 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  -webkit-box-shadow: 0 10px 9px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 9px 1px rgba(0, 0, 0, 0.07);
  border: 5px solid #347C98;
  background-color: #E4F1F6;
  position: relative;
  right: 0px;
  z-index: 2;
}

@media (max-width: 767.98px) {
  .myslider__image {
    width: 96px;
    height: 96px;
  }
}

@media (max-width: 479.98px) {
  .myslider__image {
    border-radius: 5px 5px 5px 0px;
  }
}

.myslider__image:before {
  content: "";
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.15;
  background-color: #347C98;
}

.myslider__text {
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 30px;
  max-width: 65%;
  min-width: 65%;
  -webkit-box-shadow: 0 10px 9px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 9px 1px rgba(0, 0, 0, 0.07);
  background-color: #347C98;
  position: relative;
  z-index: 2;
}

@media (max-width: 479.98px) {
  .myslider__text {
    border-radius: 0px 5px 0px 0px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px 10px;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.myslider__user {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  color: #1A3E4C;
  font-size: 15px;
  font-weight: 900;
  line-height: 24px;
  margin: 10px 0px 10px 0px;
}

@media (max-width: 767.98px) {
  .myslider__user {
    font-size: 10px;
    margin: 0;
  }
}

@media (max-width: 479.98px) {
  .myslider__user {
    font-size: 10px;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    line-height: 20px;
  }
}

.myslider__date {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  color: #E4F1F6;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  margin: 10px 0px 10px 0px;
}

@media (max-width: 767.98px) {
  .myslider__date {
    font-size: 10px;
    margin: 0;
  }
}

@media (max-width: 479.98px) {
  .myslider__date {
    font-size: 7px;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    line-height: 20px;
  }
}

.myslider__name {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #E4F1F6;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin: 0px 0px 10px 0px;
}

@media (max-width: 767.98px) {
  .myslider__name {
    font-size: 10px;
    margin: 0;
  }
}

@media (max-width: 479.98px) {
  .myslider__name {
    font-size: 8px;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    line-height: 20px;
  }
}

.myslider__bottom {
  -webkit-box-shadow: 0 10px 9px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 9px 1px rgba(0, 0, 0, 0.07);
  background-color: #E4F1F6;
  border-radius: 5px;
  margin: -75px 0px 70px 0px;
  padding: 125px 40px 90px 40px;
}

@media (max-width: 767.98px) {
  .myslider__bottom {
    padding: 70px 20px 30px 20px;
    margin: -50px 0px 70px 0px;
  }
}

@media (max-width: 479.98px) {
  .myslider__bottom {
    padding: 90px 20px 30px 20px;
    margin: -70px 0px 70px 0px;
  }
}

.myslider__bottom__text {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #222;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  text-align: justify;
  position: relative;
  z-index: 1;
}

.myslider__bottom__text:before {
  content: ",,";
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  color: #347C98;
  opacity: 0.2;
  font-size: 200px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  font-weight: 600;
  top: 70px;
  left: 0px;
  letter-spacing: -20px;
  z-index: -1;
}

@media (max-width: 767.98px) {
  .myslider__bottom__text:before {
    font-size: 160px;
    letter-spacing: -10px;
    top: 60px;
  }
}

@media (max-width: 479.98px) {
  .myslider__bottom__text:before {
    font-size: 150px;
    letter-spacing: -10px;
    top: 50px;
  }
}

@media (max-width: 767.98px) {
  .myslider__bottom__text {
    font-size: 11px;
    line-height: 20px;
  }
}

@media (max-width: 479.98px) {
  .myslider__bottom__text {
    font-size: 10px;
    line-height: 15px;
  }
}
