@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.lato, .header__text, .content__slogan {
  font-family: "Lato";
  font-weight: 100; }

.latolight, .menu-header__link, .column-first__text, .column-medium__subscribe__mail input, .column-medium__text, .text, .content__text, .imglogo__text {
  font-family: "Lato";
  font-weight: 300; }

.latoi {
  font-family: "Lato";
  font-weight: 100;
  font-style: italic; }

.latoblack, .column-medium__title, .column-last__title, .logo, .title, .tab-navlist__navitem {
  font-family: "Lato";
  font-weight: 900; }

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .ibg img {
    display: none; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 479.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input, button, textarea {
  font-family: "Open Sans"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  position: relative;
  max-width: 973px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1013px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 479.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.header {
  z-index: 50;
  position: fixed;
  width: 100%;
  background-color: rgba(16, 22, 54, 0.5); }
  .header__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 52px;
    padding: 0px 0px 10px 0px;
    max-width: 973px;
    margin: 0 auto; }
    @media (max-width: 1013px) {
      .header__body {
        margin: 0px 20px 0px 20px; } }
    @media (max-width: 479.98px) {
      .header__body {
        height: 62px; } }
  .header__column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 479.98px) {
      .header__column {
        display: block; } }
  .header__logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 21px;
    margin: 0px 33px 0px 0px;
    z-index: 1;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 479.98px) {
      .header__logo {
        position: relative;
        top: 10px;
        padding: 5px 0px 0px 0px; } }
    @media (max-width: 767.98px) {
      .header__logo.active {
        font-size: 35px; } }
  .header__text {
    opacity: 0.3;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.94px;
    position: relative;
    padding: 0px 0px 0px 20px;
    z-index: 1;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s; }
    @media (max-width: 479.98px) {
      .header__text {
        padding: 20px 0px 0px 20px;
        font-size: 12px; } }
    @media (max-width: 767.98px) {
      .header__text.active {
        opacity: 1; }
        .header__text.active:before {
          opacity: 1; } }
    @media (max-width: 479.98px) {
      .header__text.active {
        padding: 40px 0px 0px 20px; } }
    .header__text:before {
      content: "";
      background-color: #1E90FF;
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 13px;
      width: 1px; }

.menu-header {
  position: relative;
  cursor: pointer; }
  .menu-header__up {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    padding: 7px;
    background-color: #101636;
    opacity: 0.2;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .menu-header__up img {
      opacity: 1;
      width: 25px; }
    .menu-header__up:hover {
      opacity: 0.5; }
  @media (max-width: 767.98px) {
    .menu-header__overlay {
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s;
      -ms-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s;
      position: fixed;
      top: 0;
      right: -110%;
      width: 100%;
      height: 100%;
      opacity: 0.65;
      background-color: #101636; } }
  .menu-header__icon {
    display: none;
    width: 40px;
    height: 40px;
    background-color: #101636;
    opacity: 0.3;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 4;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    @media (max-width: 767.98px) {
      .menu-header__icon {
        display: block; } }
    @media (max-width: 479.98px) {
      .menu-header__icon {
        top: 10px; } }
    .menu-header__icon:hover {
      opacity: 0.8; }
    .menu-header__icon span {
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      position: absolute;
      right: 0;
      width: 25px;
      height: 1px;
      border-radius: 1px;
      background-color: #fff;
      top: 50%;
      left: 20%; }
      .menu-header__icon span:before {
        content: "";
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        position: absolute;
        right: 0;
        width: 25px;
        height: 1px;
        border-radius: 1px;
        background-color: #fff;
        top: 8px; }
      .menu-header__icon span:after {
        content: "";
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        position: absolute;
        right: 0;
        width: 25px;
        height: 1px;
        border-radius: 1px;
        background-color: #fff;
        top: -8px; }
  @media (max-width: 767.98px) {
    .menu-header__menu {
      -webkit-transition: all 0.8s ease 0s;
      -moz-transition: all 0.8s ease 0s;
      -ms-transition: all 0.8s ease 0s;
      -o-transition: all 0.8s ease 0s;
      transition: all 0.8s ease 0s;
      overflow: hidden;
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      background-color: rgba(16, 22, 54, 0.5); } }
  .menu-header__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
    @media (max-width: 767.98px) {
      .menu-header__list {
        display: block;
        margin: 60px 0px 0px 0px; }
        .menu-header__list li {
          margin: 20px 10px; } }
    .menu-header__list .active span {
      opacity: 1; }
    .menu-header__list .active:before {
      content: "";
      background-color: #1E90FF;
      opacity: 1;
      height: 5px;
      width: 83%;
      top: -29px;
      right: 7%; }
    @media (max-width: 767.98px) {
      .menu-header__list .active:before {
        width: 2px;
        height: 100%;
        top: 0px;
        left: -23px;
        opacity: 1; }
      .menu-header__list .active:hover:before {
        top: 0px;
        left: -23px; } }
  .menu-header__link {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.81px;
    margin: 0px 0px 0px 12px;
    padding: 2px 5px 2px 5px;
    position: relative; }
    .menu-header__link span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      opacity: 0.3; }
      .menu-header__link span:hover {
        opacity: 1; }
    .menu-header__link:before {
      content: "";
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      opacity: 0.2;
      background-color: #fff;
      border-radius: 1px;
      position: absolute;
      height: 300%;
      width: 83%;
      top: -85px;
      right: 7%;
      z-index: -1; }
    .menu-header__link:hover {
      color: #fff; }
      .menu-header__link:hover:before {
        top: -29px; }
    @media (max-width: 767.98px) {
      .menu-header__link {
        font-size: 16px; }
        .menu-header__link:before {
          opacity: 0.2;
          height: 100%;
          width: 140px;
          top: 0px;
          left: -165px;
          z-index: -1; }
        .menu-header__link:hover {
          color: #fff; }
          .menu-header__link:hover:before {
            left: -33px;
            top: 0px; } }

.menu-header__active .menu-header__overlay {
  right: 0%; }

.menu-header__active .menu-header__icon {
  background-color: transparent; }
  .menu-header__active .menu-header__icon span {
    -webkit-transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
    background-color: transparent; }
    .menu-header__active .menu-header__icon span:before {
      -webkit-transition: all 0.5s ease 0.5s;
      -moz-transition: all 0.5s ease 0.5s;
      -ms-transition: all 0.5s ease 0.5s;
      -o-transition: all 0.5s ease 0.5s;
      transition: all 0.5s ease 0.5s;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0; }
    .menu-header__active .menu-header__icon span:after {
      -webkit-transition: all 0.5s ease 0.5s;
      -moz-transition: all 0.5s ease 0.5s;
      -ms-transition: all 0.5s ease 0.5s;
      -o-transition: all 0.5s ease 0.5s;
      transition: all 0.5s ease 0.5s;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0; }

.menu-header__active .menu-header__menu {
  right: 0; }

.menu-header__active .menu-header__link {
  font-size: 20px; }

.footer {
  background-color: #000; }
  .footer__body {
    height: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 767.98px) {
      .footer__body {
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 100%;
        padding: 10px; } }

.body-footer__column {
  max-width: 245px;
  padding: 30px 0px 0px 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  min-height: 100%; }
  .body-footer__column:first-child {
    padding: 30px 0px 0px 20px; }
  @media (max-width: 767.98px) {
    .body-footer__column {
      margin: 0px 20px 10px 20px;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      padding: 0; } }
  @media (max-width: 479.98px) {
    .body-footer__column:first-child {
      padding: 10px 0px 0px 20px; } }

.column-first__logo {
  font-size: 27px;
  margin: 0px 0px 20px 0px; }
  @media (max-width: 767.98px) {
    .column-first__logo {
      margin: -5px 0px 10px 0px; } }

.column-first__text {
  opacity: 0.5;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px; }
  @media (max-width: 767.98px) {
    .column-first__text {
      line-height: 12px; } }

.column-medium__title {
  opacity: 0.8;
  color: #1E90FF;
  font-size: 18px;
  line-height: 21.61px;
  margin: 0px 0px 37px 0px; }
  @media (max-width: 767.98px) {
    .column-medium__title {
      margin: 10px 0px 10px 0px; } }

.column-medium__subscribe {
  position: relative; }
  .column-medium__subscribe__mail input {
    padding: 0px 30px 0px 10px;
    color: #999;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    height: 40px;
    border: 2px solid #ccc;
    background-color: #000; }
    .column-medium__subscribe__mail input:focus {
      border: 2px solid #1E90FF; }
    @media (max-width: 767.98px) {
      .column-medium__subscribe__mail input {
        margin: 0px 0px 5px 0px;
        padding: 0px 25px 0px 5px;
        height: 30px; } }
  .column-medium__subscribe__button {
    display: inline-block;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 9px; }
    .column-medium__subscribe__button img {
      background-color: #000;
      width: 20px; }
    @media (max-width: 767.98px) {
      .column-medium__subscribe__button {
        bottom: 10px;
        right: 5px; } }

.column-medium__text {
  opacity: 0.5;
  color: #ffffff;
  font-size: 12px;
  line-height: 25px; }
  @media (max-width: 767.98px) {
    .column-medium__text {
      line-height: 12px; } }

.column-last__title {
  opacity: 0.8;
  color: #1E90FF;
  font-size: 18px;
  line-height: 21.61px;
  margin: 0px 0px 30px 0px; }
  @media (max-width: 767.98px) {
    .column-last__title {
      margin: 0px 0px 5px 0px; } }

.column-last__listlink1 {
  width: 50%;
  display: inline-block;
  margin: 0px right 0px;
  font-size: 12px;
  line-height: 25px; }
  .column-last__listlink1 a {
    color: #ffffff;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .column-last__listlink1 a:hover {
      opacity: 1;
      color: #1E90FF; }
  @media (max-width: 767.98px) {
    .column-last__listlink1 {
      line-height: 18px; } }

body {
  background-color: #fff; }

.logo {
  color: #fff;
  letter-spacing: 1.4px; }
  .logo span {
    color: #1E90FF;
    letter-spacing: 1.4px; }

.title {
  color: #1E90FF;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.heart {
  display: inline-block;
  width: 20px;
  position: relative; }
  .heart:before, .heart:after {
    content: "";
    background-color: #cccccc;
    position: absolute;
    top: 50%;
    width: 90px;
    height: 1px; }
  .heart:before {
    left: 50px; }
  .heart:after {
    right: 50px; }
  .heart img {
    width: 100%; }

.text {
  opacity: 0.8;
  color: #062033;
  font-size: 14px;
  line-height: 17.75px; }

.topblock {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .topblock__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .topblock__image {
    background-blend-mode: multiply;
    background-color: #fff;
    height: 701px;
    background-size: cover;
    background-position: 50% 70%; }
  .topblock__content {
    background-color: rgba(16, 22, 54, 0.5); }
  .topblock__social {
    background-color: rgba(16, 22, 54, 0.5);
    position: relative;
    border-radius: 10px;
    top: 110px; }

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  left: -100%; }
  .content__logo {
    padding: 80px 0px 0px 0px;
    font-size: 62px;
    margin: 0px 0px 10px 0px; }
    .content__logo span {
      font-size: 44px; }
    @media (max-width: 479.98px) {
      .content__logo {
        margin: 0px 0px 20px 0px; } }
  .content__text {
    padding: 0px 20px 0px 20px;
    text-align: center;
    opacity: 0.9;
    color: #ffffff;
    font-size: 48px;
    margin: 0px 0px 25px 0px; }
    .content__text span {
      color: #1E90FF; }
    @media (max-width: 479.98px) {
      .content__text {
        margin: 0px 0px 35px 0px;
        font-size: 45px; } }
  .content__slogan {
    opacity: 0.9;
    color: #ffffff;
    font-size: 18px;
    margin: 0px 0px 20px 0px;
    position: relative; }
    @media (max-width: 479.98px) {
      .content__slogan {
        margin: 0px 0px 30px 0px;
        font-size: 14px; } }
    .content__slogan:before, .content__slogan:after {
      content: "";
      background-color: #1E90FF;
      position: absolute;
      bottom: 7px;
      height: 1px;
      width: 28px; }
    .content__slogan:before {
      left: -65px; }
    .content__slogan:after {
      right: -65px; }
    @media (max-width: 479.98px) {
      .content__slogan:before {
        left: -45px; }
      .content__slogan:after {
        right: -45px; } }

.social {
  margin: 0px 12px 0px 12px; }
  .social img {
    width: 20px;
    height: 20px; }
  .social__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    padding: 10px 0px 10px 0px; }
    .social__list li {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      opacity: 0.8;
      margin: 0px 6px 0px 6px; }
      .social__list li:hover {
        opacity: 1; }
      @media (max-width: 767.98px) {
        .social__list li {
          padding: 5px; } }
      @media (max-width: 479.98px) {
        .social__list li {
          padding: 10px; } }

.features {
  background-color: #efefef;
  padding: 60px 0px 40px 0px; }
  @media (max-width: 1013px) {
    .features {
      padding: 40px 20px 40px 20px; } }

.top-features {
  text-align: center; }
  .top-features__title {
    padding: 0px 0px 20px 0px; }
  .top-features__icon {
    margin: 0px 0px 60px 0px; }
    @media (max-width: 767.98px) {
      .top-features__icon {
        margin: 0px 0px 0px 0px; } }

.bottom-features {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  @media (max-width: 767.98px) {
    .bottom-features {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .bottom-features__column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%; }
    @media (max-width: 767.98px) {
      .bottom-features__column {
        margin: 30px 0px 0px 0px;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%; } }
  .bottom-features__second-column {
    margin: 0px 7px; }
    @media (max-width: 767.98px) {
      .bottom-features__second-column {
        margin: 0px; } }
  .bottom-features__icon {
    display: inline-block;
    border: 1px solid #1E90FF;
    border-radius: 50%;
    width: 34px;
    height: 34px; }
    .bottom-features__icon img {
      display: block;
      max-width: 16px;
      margin: 7px auto; }
  .bottom-features__title {
    margin: 0px 0px 20px 0px;
    color: #062033;
    font-size: 17px;
    font-weight: 600; }
    @media (max-width: 767.98px) {
      .bottom-features__title {
        margin: 10px 10px 20px 10px;
        max-width: none; } }
  .bottom-features__text {
    opacity: 0.7;
    color: #062033;
    font-size: 11px;
    line-height: 17.62px;
    text-align: justify;
    max-width: 252px; }
    @media (max-width: 767.98px) {
      .bottom-features__text {
        max-width: none;
        margin: 0px 0px 0px -35px; } }

.mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  max-width: 973px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 767.98px) {
    .mobile {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2; } }
  .mobile__title {
    color: #282528;
    font-size: 15px;
    line-height: 30.15px;
    text-align: center;
    max-width: 782px;
    margin: 40px auto 40px;
    padding: 0px 20px 0px 20px; }
    @media (max-width: 1013px) {
      .mobile__title {
        margin: 20px auto 20px; } }
    @media (max-width: 479.98px) {
      .mobile__title {
        line-height: 20.15px;
        margin: 20px auto 20px; } }
  .mobile__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

.bg-phone {
  text-align: center; }
  .bg-phone__bg {
    background-size: auto 100%;
    width: 100%;
    height: 600px; }
    @media (max-width: 767.98px) {
      .bg-phone__bg {
        opacity: 0.5; } }
    .bg-phone__bg .bg-phone__tabitem {
      display: inline-block;
      border: 1px solid #000;
      visibility: hidden;
      opacity: 0;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 10px;
      width: 220px;
      height: 391px;
      position: absolute;
      margin: 0px 0px 0px -3px;
      -webkit-transition: all 1s ease 0.25s;
      -moz-transition: all 1s ease 0.25s;
      -ms-transition: all 1s ease 0.25s;
      -o-transition: all 1s ease 0.25s;
      transition: all 1s ease 0.25s;
      top: 70px; }
      .bg-phone__bg .bg-phone__tabitem.active {
        visibility: visible; }
        .bg-phone__bg .bg-phone__tabitem.active.anim {
          opacity: 1;
          -webkit-transition: all 1s ease 0s;
          -moz-transition: all 1s ease 0s;
          -ms-transition: all 1s ease 0s;
          -o-transition: all 1s ease 0s;
          transition: all 1s ease 0s; }
    .bg-phone__bg .bg-phone__image {
      visibility: hidden; }

.imglogo {
  z-index: 9;
  position: relative;
  top: 320px;
  right: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: inline-block; }
  .imglogo__logo {
    font-size: 25px;
    margin: 0px 0px 10px 0px; }
  .imglogo__text {
    color: #ffffff;
    font-size: 17px;
    padding: 0px 5px 0px 6px;
    margin: 0px 2px 10px 2px; }
    .imglogo__text span {
      color: #1E90FF; }
  .imglogo__slogan {
    color: #ffffff;
    font-size: 10px;
    margin: 10px 0px 20px 0px;
    position: relative; }
    .imglogo__slogan span {
      display: inline-block;
      background-color: #1E90FF;
      position: relative;
      right: 10px;
      bottom: 3px;
      height: 1px;
      width: 15px; }
      .imglogo__slogan span:first-child {
        right: 10px; }
      .imglogo__slogan span:last-child {
        left: 10px; }

.social {
  display: inline-block;
  background-image: none;
  margin: 10px 0px 20px 0px; }
  .social a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 0px 10px 0px 10px;
    opacity: 0.5; }
    .social a:hover {
      opacity: 1; }
  .social img {
    display: inline-block; }

.column-mobile-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin: 20px 0px 50px 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  left: -100%; }
  .column-mobile-item__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%; }
    .column-mobile-item__column:first-child {
      margin: 0px 0px 0px -20px; }
    .column-mobile-item__column:last-child {
      margin: 0px 0px 0px 0px; }
    @media (max-width: 1013px) {
      .column-mobile-item__column:first-child {
        margin: 0;
        padding: 0px 20px 0px 0px; }
      .column-mobile-item__column:last-child {
        padding: 0px 20px 0px 0px; } }
    @media (max-width: 767.98px) {
      .column-mobile-item__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
        .column-mobile-item__column:first-child {
          padding: 0px 0px 0px 0px; }
        .column-mobile-item__column:last-child {
          padding: 0px 0px 0px 0px; } }
    @media (max-width: 479.98px) {
      .column-mobile-item__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
  @media (max-width: 767.98px) {
    .column-mobile-item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 0;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: rgba(16, 22, 54, 0.5);
      border-radius: 10px;
      height: 550px;
      left: 0;
      top: -620px; } }
  @media (max-width: 479.98px) {
    .column-mobile-item {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.item-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  overflow: hidden;
  margin: 20px -20px 80px 0px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .item-column.active {
    background-color: rgba(247, 227, 39, 0.1); }
  .item-column:hover {
    background-color: rgba(247, 227, 39, 0.1);
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1); }
  @media (max-width: 767.98px) {
    .item-column {
      padding: 5px 0px 5px 0px;
      margin: 40% 0px 40% 0px; } }
  @media (max-width: 479.98px) {
    .item-column {
      margin: 0px 0px 0px 0px;
      border-radius: 0px; } }
  .item-column_first img {
    max-width: 32px; }
    .item-column_first img:last-child {
      display: none; }
    @media (max-width: 767.98px) {
      .item-column_first img:first-child {
        display: none; }
      .item-column_first img:last-child {
        display: block; } }
  .item-column_second {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }
  .item-column__icon {
    margin: 10px 35px 0px 20px; }
    @media (max-width: 1013px) {
      .item-column__icon {
        margin: 10px 10px 0px 20px; } }
  .item-column__title {
    color: #282528;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.08px;
    margin: 10px 0px 10px 0px; }
    @media (max-width: 767.98px) {
      .item-column__title {
        margin: 10px 0px 10px 0px;
        color: #fff; } }
    @media (max-width: 479.98px) {
      .item-column__title {
        margin: 15px 0px 5px 0px; } }
  .item-column__text {
    color: #282528;
    font-size: 11px;
    line-height: 20.1px;
    padding: 0px 20px 0px 0px; }
    @media (max-width: 1013px) {
      .item-column__text {
        text-align: justify; } }
    @media (max-width: 767.98px) {
      .item-column__text {
        line-height: 15px;
        margin: 10px 5px 0px -40px;
        max-width: none;
        color: #fff; } }
    @media (max-width: 479.98px) {
      .item-column__text {
        margin: 15px 5px 0px -40px; } }

.works {
  text-align: center; }
  .works__top {
    margin: 0px 0px 40px 0px; }
    @media (max-width: 767.98px) {
      .works__top {
        margin: -620px 0px 40px 0px; } }
    @media (max-width: 479.98px) {
      .works__top {
        margin: -620px 0px 20px 0px; } }
  .works__bottom {
    margin: 0px 0px 60px 0px; }
    @media (max-width: 1013px) {
      .works__bottom {
        margin: 0px 0px 40px 0px; } }

.top-content__title {
  margin: 0px 0px 20px 0px; }

.top-content__icon {
  margin: 0px 0px 40px 0px; }
  @media (max-width: 479.98px) {
    .top-content__icon {
      margin: 0px 0px 20px 0px; } }

.top-content__text {
  padding: 0px 20px 20px 20px; }

.bottom-content__nav {
  margin: 0px 20px 40px 20px; }
  @media (max-width: 479.98px) {
    .bottom-content__nav {
      margin: 0px 20px 20px 20px; } }

.bottom-content__item {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: all 1s ease 0.5s;
  -moz-transition: all 1s ease 0.5s;
  -ms-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  opacity: 0;
  display: none; }
  .bottom-content__item.active {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
    .bottom-content__item.active.anim {
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      opacity: 1; }

@media (max-width: 479.98px) {
  .tab-navlist {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.tab-navlist__navitem {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 0px 0px 0px;
  color: #062033;
  font-size: 14px; }
  .tab-navlist__navitem.active {
    color: #fff;
    background-color: #1E90FF;
    border-radius: 5px; }
  @media (max-width: 479.98px) {
    .tab-navlist__navitem {
      margin: 0px 0px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }

.tab-itemlist__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%; }
  @media (max-width: 767.98px) {
    .tab-itemlist__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }
  @media (max-width: 479.98px) {
    .tab-itemlist__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; } }

.tab-item-column {
  position: relative; }
  .tab-item-column__column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
    .tab-item-column__column:first-child {
      height: 100%; }
    .tab-item-column__column:last-child {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
    .tab-item-column__column:hover:last-child {
      opacity: 1; }

.column-tab {
  background-color: rgba(30, 144, 255, 0.75);
  min-height: 221px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  @media (max-width: 1013px) {
    .column-tab {
      min-height: 190px; } }
  .column-tab__image {
    height: 100%;
    width: 100%; }
  .column-tab__icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0px 0px 20px 0px; }
    .column-tab__icon img {
      width: 15px;
      height: 15px; }
  .column-tab__text {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.6px; }
    .column-tab__text span {
      text-align: center;
      display: block;
      font-size: 10px;
      font-weight: 400; }

.team__top {
  text-align: center; }

.team__bottom {
  margin: 0px 0px 60px 0px; }
  @media (max-width: 1013px) {
    .team__bottom {
      margin: 0px 0px 40px 0px; } }
  @media (max-width: 479.98px) {
    .team__bottom {
      margin: 0px 0px 0px 0px; } }

.top-team__title {
  margin: 0px 0px 20px 0px; }
  @media (max-width: 479.98px) {
    .top-team__title {
      margin: 0px 0px 20px 0px; } }

.top-team__icon {
  margin: 0px 0px 40px 0px; }
  @media (max-width: 479.98px) {
    .top-team__icon {
      margin: 0px 0px 30px 0px; } }

.top-team__text {
  max-width: 800px;
  margin: 0px auto 40px; }
  @media (max-width: 1013px) {
    .top-team__text {
      padding: 0px 20px; } }
  @media (max-width: 479.98px) {
    .top-team__text {
      margin: 0px auto 20px; } }

.bottom-team {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1013px) {
    .bottom-team {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .bottom-team__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    margin: 10px 0px 10px 0px;
    text-align: center; }
    @media (max-width: 767.98px) {
      .bottom-team__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        margin: 0px auto 0px; } }
    @media (max-width: 479.98px) {
      .bottom-team__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
        margin: 0px 5px 20px 5px; } }

.column-bottom {
  position: relative;
  max-width: 150px; }
  .column-bottom__image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0px 0px 0px 0px;
    height: 250px; }
    @media (max-width: 767.98px) {
      .column-bottom__image {
        width: 100%;
        height: 200px; } }
  .column-bottom__name {
    width: 100%; }
  .column-bottom__hover {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    background-color: rgba(30, 144, 255, 0.75);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    opacity: 0; }
    .column-bottom__hover:hover {
      opacity: 0.9; }
    @media (max-width: 767.98px) {
      .column-bottom__hover {
        height: 200px;
        width: 100%;
        padding: 0px 5px 0px 5px;
        margin: 0px 0px 0px 0px; } }

.name-column__name {
  color: #062033;
  font-size: 15px;
  font-weight: 700;
  line-height: 19.91px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .name-column__name:hover {
    color: #0eb493; }
  @media (max-width: 479.98px) {
    .name-column__name {
      font-size: 11px;
      line-height: 15px; } }

.name-column__position {
  opacity: 0.56;
  color: #062033;
  font-size: 11px;
  line-height: 19.91px; }
  @media (max-width: 479.98px) {
    .name-column__position {
      font-size: 8px;
      line-height: 10px;
      padding: 0px 0px 5px 0px; } }

.hover-column__text {
  cursor: default;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  margin: 20px 0px 0px 0px; }
  @media (max-width: 1013px) {
    .hover-column__text {
      font-size: 12px; } }
  @media (max-width: 767.98px) {
    .hover-column__text {
      font-size: 10px;
      line-height: 10px;
      letter-spacing: 1px; } }
  .hover-column__text span {
    margin: 10px 0px 0px 0px;
    opacity: 0.75;
    display: block;
    font-weight: 400; }
    @media (max-width: 1013px) {
      .hover-column__text span {
        font-size: 11px; } }
    @media (max-width: 767.98px) {
      .hover-column__text span {
        margin: 10px 0px 0px 0px;
        font-size: 9px;
        line-height: 10px; } }

.hover-column__social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0px auto 20px; }
  @media (max-width: 767.98px) {
    .hover-column__social {
      margin: 0px auto 10px; } }

.social-list__icon {
  opacity: 0.75;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 2.5px 0px 2.5px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 32px; }
  .social-list__icon img {
    width: 30px;
    height: 30px;
    padding: 5px; }
    @media (max-width: 767.98px) {
      .social-list__icon img {
        width: 20px;
        height: 20px;
        padding: 2px; } }
  .social-list__icon:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 767.98px) {
    .social-list__icon {
      margin: 0px 1px 0px; } }

.facts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  .facts__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 410px; }
    @media (max-width: 767.98px) {
      .facts__column {
        height: 310px; } }
    @media (max-width: 479.98px) {
      .facts__column {
        height: 440px; } }

.facts-column-top {
  margin: 0px 0px 60px 0px; }
  @media (max-width: 1013px) {
    .facts-column-top {
      margin: 0px 0px 40px 0px; } }
  .facts-column-top__image {
    background-position: 50% 0%;
    height: 100%; }

.facts-column-bottom {
  background-color: rgba(6, 32, 51, 0.8);
  position: relative;
  left: -100%;
  padding: 0px 0px 0px 0px; }
  .facts-column-bottom__top {
    text-align: center; }

.top-title_title {
  margin: 60px 0px 20px 0px; }
  @media (max-width: 767.98px) {
    .top-title_title {
      margin: 40px 0px 20px 0px; } }
  @media (max-width: 479.98px) {
    .top-title_title {
      margin: 35px 0px 20px 0px; } }

.top-title_icon {
  margin: 0px 0px 40px 0px; }
  @media (max-width: 479.98px) {
    .top-title_icon {
      margin: 0px 0px 40px 0px; } }

.bottom-stat {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 479.98px) {
    .bottom-stat__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }

.stat-number {
  text-align: center; }
  .stat-number__icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    margin: 10px auto 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    margin: 0px auto 30px; }
    @media (max-width: 767.98px) {
      .stat-number__icon {
        margin: 0px auto 10px;
        width: 50px;
        height: 50px; } }
    .stat-number__icon img {
      padding: 30px;
      width: 100%; }
      @media (max-width: 767.98px) {
        .stat-number__icon img {
          padding: 13px; } }
  .stat-number__number {
    color: #fff;
    font-size: 45px;
    margin: 0px 0px 10px 0px; }
    @media (max-width: 767.98px) {
      .stat-number__number {
        margin: 0px 0px 5px 0px;
        font-size: 30px; } }
  .stat-number__text {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 0px 50px 0px; }
    @media (max-width: 767.98px) {
      .stat-number__text {
        font-size: 10px; } }

.contacts__toprow {
  text-align: center; }

.contacts__mediumrow {
  margin: 0px -20px 0px -20px;
  padding: 0px 20px 0px 20px; }
  @media (max-width: 1013px) {
    .contacts__mediumrow {
      margin: 0px -20px 0px -20px;
      padding: 0px 40px 0px 40px; } }

.top-row__title {
  margin: 0px 0px 20px 0px; }

.top-row__icon {
  margin: 0px 0px 40px 0px; }

.top-row__text {
  margin: 0px 20px 40px 20px; }

.medium-row__column {
  margin: 0px 0px 10px 0px; }

.bottom-row__map {
  height: 200px;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .bottom-row__map:hover {
    opacity: 1; }
  @media (max-width: 479.98px) {
    .bottom-row__map {
      height: 310px; } }

.row-column-medium {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 479.98px) {
    .row-column-medium {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .row-column-medium__text {
    max-width: 225px;
    text-align: left;
    color: #062033;
    font-size: 18px;
    line-height: 26.7px;
    padding: 0px 10px 0px 0px; }
    @media (max-width: 767.98px) {
      .row-column-medium__text {
        line-height: 20.02px; } }
    @media (max-width: 479.98px) {
      .row-column-medium__text {
        max-width: none;
        width: 100%;
        margin: 0px 0px 10px 0px; } }
    .row-column-medium__text span {
      margin: 20px 0px 0px 0px;
      opacity: 0.5;
      display: block;
      font-size: 11px;
      font-weight: 400;
      color: #000;
      line-height: 20.02px; }
      .row-column-medium__text span a {
        display: block;
        color: #000; }
        .row-column-medium__text span a:hover {
          text-decoration: underline; }
  .row-column-medium__form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 645px; }
    @media (max-width: 1013px) {
      .row-column-medium__form {
        width: 100%; } }
    @media (max-width: 767.98px) {
      .row-column-medium__form {
        margin: 0px 0px 10px 0px; } }
  @media (max-width: 479.98px) {
    .row-column-medium__social {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin: 0px 0px 10px 0px; } }
  .row-column-medium__social__icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0.2;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin: 5px 0px 0px 10px;
    height: 35px;
    width: 35px;
    padding: 1px;
    text-align: center; }
    .row-column-medium__social__icon:hover {
      opacity: 0.5; }
    .row-column-medium__social__icon img {
      width: 100%;
      padding: 5px; }
    @media (max-width: 479.98px) {
      .row-column-medium__social__icon {
        margin: 4px 10px 4px 10px; } }

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearace: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.medium-form__title {
  color: #000;
  opacity: 0.6;
  font-size: 20px;
  font-weight: 700;
  line-height: 20.02px;
  margin: 5px 0px 20px 0px; }

.medium-form__body .formflex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.medium-form__line {
  text-align: left;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  opacity: 0.5;
  color: #5b646e;
  font-size: 11px;
  font-weight: 400;
  line-height: 35px;
  border-radius: 0 !important;
  width: 100%;
  height: 35px;
  display: inline-block;
  margin: 0px 0px 20px 0px; }
  .medium-form__line__name {
    border-bottom: 2px solid #ccc;
    width: 100%;
    height: 100%; }
    .medium-form__line__name:focus {
      border-color: #1E90FF; }
  .medium-form__line__mail {
    border-bottom: 2px solid #ccc;
    width: 100%;
    height: 100%; }
    .medium-form__line__mail:focus {
      border-color: #1E90FF; }
  .medium-form__line__message {
    border-bottom: 2px solid #ccc;
    line-height: 32px;
    text-align: left;
    min-height: 35px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    resize: vertical; }
    .medium-form__line__message:focus {
      border-color: #1E90FF; }

.medium-form__button {
  text-align-last: right; }
  .medium-form__button button {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    background-color: transparent;
    padding: 0px 4px 0px 10px;
    margin: 10px 1px 0px 0px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .medium-form__button button:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5); }
    .medium-form__button button:before {
      content: "";
      display: inline-block;
      margin: -5px 0px 0px 0px;
      position: relative;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      background-image: url("../img/Contacts/icon/msg.svg"); }
