.premium-main-wrapper {
	max-width: 1140px;
	margin: 0 auto;
}
h1.page-title {
	font-size: 32px;
	line-height: 42px;
	font-family: Montserrat_semibold;
	color: #354052;
	padding: 0px;
	margin: 0px 0px 40px;
}
.premium-categories_wrapper {
	width: 100%;
	max-width: 100%;
	margin-bottom: 60px;
	height: 25px;
	overflow-y: hidden;
}
.premium-categories {
	display: flex;
	width: 100%;
	max-width: 100%;
	overflow-y: hidden;	
	overflow-x: scroll;
	margin-bottom: -30px;
	padding-bottom: 30px;
}
.premium-categories span,
.premium-categories a{
	display: block;
	font-family: Montserrat_semibold;
	margin: 0px 10px;
	white-space: nowrap;
}
.premium-categories span {
	color: #1991EB;
}
.premium-container__item {
	position: relative;
	display: block;
	padding: 12px 0px 12px 25px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 6px;	
}
.premium-container__item + .premium-container__item {
	margin-top: 25px;
}
.premium-container__item:hover {
	text-decoration: none;
}
.premium-container__item::after {
	content: "";
	display: block;
	clear: both;
}
.premium-container__item img {
	border-radius: 6px;
	overflow: hidden;
	margin-right: 26px;
	float: left;
}
.premium-container__item .premium-wrapper {
	overflow: hidden;
	padding-right: 240px;
}
.premium-wrapper__title {
	font-size: 20px;
	line-height: 23px;
	font-family: Montserrat_semibold;
	margin-top: 8px;
	margin-bottom: 4px;
	color: #354052;
}
.premium-wrapper__year {
	font-size: 14px;
	line-height: 21px;	
	color: #A4A5B0;
	font-family: Montserrat_semibold;
	margin-bottom: 12px;
}
.premium-wrapper__text {
	font-size: 14px;
	line-height: 22px;
	color: #354052;
}
.premium-wrapper__more {
	position: absolute;
	width: 188px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	color: #1991EB;
	font-size: 14px;
	line-height: 21px;
	font-family: Montserrat_semibold;
	border-left: 1px solid #E9EDF1;
	text-align: center;
	vertical-align: middle;
}
.premium-wrapper__more span {
	position: absolute;
	height: 20px;
	line-height: 20px;
	top: 50%;
	text-align: center;
	width: 100%;
	margin-top: -10px;
	left: 0px;
	right: 0px;
}
.center_reader {
	margin-top: 50px;
}
.premuim-mobile-photo {
	display: none;
}

@media(max-width:991px) {
	.premium-wrapper__more {
		position: relative;
		width: 100%;
		float: left;
		top: auto;
		right: auto;
		bottom: auto;		
		border-left: none;
	}
	.premium-wrapper__more span {
		position: relative;
		margin-top: 10px;
		left: auto;
		right: auto;		
		top: auto;
		display: block;
		text-align: left;
		padding-left: 147px;
	}
	.premium-container__item .premium-wrapper {
		padding-right: 20px;
	}
	.premium-categories_wrapper {
		margin-bottom: 35px;
	}
	.premium-container__item {
		padding-left: 12px;
		padding-right: 12px;
	}
}

@media(max-width:575px) {
	.premium-container__item .premium-wrapper {
		padding-right: 0px;
	}
	.premuim-desktop-photo {
		display: none;
	}
	.premuim-mobile-photo {
		display: block;
	}
	.premium-container__item {
		padding: 10px;
	}
	.premium-container__item img {
		width: 86px;
		margin-right: 15px;
	}
	.premium-wrapper__more span {
		padding-left: 0px;
	}
	.premium-wrapper__text {
		clear: both;
		padding-top: 10px;
		overflow: hidden;
	}
}
.premium-detail-img {
	width: 285px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 6px;	
	overflow: hidden;
	margin-top: 30px;
}
.premium-detail-text {
	color: #354052;
	font-size: 18px;
	line-height: 28px;
}
h1.page-title.premium-detail-h1 {
	margin-bottom: 20px;
	margin-top: 30px;	
}
a.premium-detail-text__show {
	margin-bottom: 56px;
	display: inline-block;
	margin-top: 15px;
	font-size: 14px;
	line-height: 21px;
	text-decoration-line: underline;
	color: #1991EB;
}
.premium-detail-year {
	font-family: Montserrat_semibold;
	width: 285px;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #A4A5B0;	
	margin-top: 26px;
	margin-bottom: 56px;
}
.premiums-table {
	margin-bottom: 65px;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
}
.premiums-table__titles {
	background: #F8F8F8;
	font-size: 14px;
	line-height: 28px;
}
.premiums-table__titles::after {
	content: "";
	display: block;
	clear: both;
}
.premiums-table__title-col {
	font-family: Montserrat_semibold;
	color: #A4A5B0;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	float: left;
}
.pr-col-noms {
	width: 13%;
}
.pr-col-descr {
	width: 20%;
}
.pr-col-book {
	width: 30%;
}
.pr-col-laur {
	width: 30%;
}
.pr-col-nom {
	width: 22%;
}
.pr-col-year {
	width: 5%;
}
.premiums-table__body {
	border-top: 1px solid #E9EDF1;
}
.premiums-table__row {
	display: flex;
	justify-content: center;
}
.pr-col-body-year {
	text-align: center;
	color: #A4A5B0;
	font-size: 14px;
	line-height: 28px;
	font-family: Montserrat_semibold;
}
.pr-col-body-nom,
.pr-col-body-descr {
	padding-left: 16px;
	font-size: 14px;
	line-height: 18px;	
	color: #354052;
}
.pr-col-body-nom,
.pr-col-body-descr {
	padding-right: 16px;
}
.pr-col-body-noms {
	text-align: center;
	font-family: Montserrat_semibold;
	color: #1991EB;
	font-size: 14px;
	line-height: 21px;	
}
.premiums-table__row-col {
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.premiums-table__row-col +
.premiums-table__row-col {
	border-left: 1px solid #E9EDF1;
}
.pr-separatop {
	width: calc(100% + 24px);
	border-top: 1px solid #E9EDF1;
	margin: 10px -12px;
}
.pr-col-body-laur,
.pr-col-body-book {
	font-size: 14px;
	line-height: 22px;	
	color: #354052;
	font-family: Montserrat_semibold;
}
.premiums-table__row + .premiums-table__row {
	border-top: 1px solid #E9EDF1;	
}
.premiums-table__body .premiums-table__row:nth-child(even) {
	background: #F8F8F8;
}
.pr-col-body-laur_bottom::before {
	display: inline-block;
	content: "";
	background: #A4A5B0 no-repeat center center url('../images/icons/open-book.svg');
	width: 28px;
	min-width: 28px;
	height: 28px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
}
.pr-col-body-laur {
	padding-top: 0px;
	padding-bottom: 0px;
}
.pr-col-body-laur_top,
.pr-col-body-book {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px 12px;
}
.pr-col-body-laur_top-titles {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pr-col-body-laur_top-avatars {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
}
.pr-col-body-laur_top-avatars div {
	border-radius: 50%;
	position: relative;
	width: 56px;
	height: 56px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.pr-col-body-laur_top-avatars div:hover {
	z-index: 3;
}

.pr-col-body-laur_top-avatars div + div{
	margin-left: -40px;
}
.pr-col-body-laur_bottom {
	align-items: center;
	justify-content: flex-start;
	display: flex;
	line-height: 20px;
	flex-direction: row;
	padding: 10px 12px;
	border-top: 1px solid #E9EDF1;		
}
.pr-col-body-noms span {
	vertical-align: top;
	cursor: pointer;
}
.pr-col-body-noms span::after {
	content: "";
	margin-left: 5px;
	margin-top: 5px;
	display: inline-block;
	background: no-repeat center center url('../images/icons/arrow-blue.svg');
	background-size: 8px 8px;
	width: 8px;
	height: 9px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);	
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;	
}
.pr-col-body-noms span.opened::after {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.j-open-list-noms {
	position: relative;
}
.premuim-dropdown {
	display: none;
	border: 1px solid #DFE3E9;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);	
	position: absolute;
	right: 20px;
	top: 100%;
	background: #fff;
	z-index: 5;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	opacity: 0;
}
.pr-col-body-noms span.opened .premuim-dropdown{
	display: block;
	opacity: 1;
}
.premuim-dropdown .premuim-dropdown__item{
	cursor: pointer;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;	
	display: block;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 18px;
	color: #354052;
	min-width: 230px;
	max-width: 250px;
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.premuim-dropdown .premuim-dropdown__item div:last-child{
	display: flex;
	padding-left: 5px;
	flex-direction: column;
	justify-content: center;
}
.premuim-dropdown .premuim-dropdown__item:hover{
	text-decoration: none;
	background: #E9EDF1;
}
.premuim-dropdown .premuim-dropdown__item .premuim-dropdown__item-avatar{
	width: 30px;
	height: 30px;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 50%;
	margin-right: 5px;
}
.premuim-dropdown .premuim-dropdown__item + .premuim-dropdown__item{
	border-top:1px solid #E2E7EE;
}
.premuim-dropdown {
	overflow: hidden;
	max-height: 180px;
}
.premuim-dropdown__scroll {
	max-height: 180px;
	overflow-y: scroll;
	margin-right: -40px;
	padding-right: 20px;
	width: calc(100% + 20px);
}
.premium-detail-text {
	max-height: 252px;
	overflow: hidden;
}
.j-show-all-text {
	cursor: pointer;
}
.show-on-mobile {
	display: none;
}
.premiums-table__row-col label{
	display: none;
}
.premium-header {
	display: none;
}
.premium-detail-mobile-title {
	display: none;
}
@media(max-width:991px) {
	.premium-main-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	.premium-detail-img,
	.premium-detail-year {
		width: 100%;
	}
	h1.page-title {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.premium-detail-text {
		font-size: 14px;
		line-height: 22px;
	}
	.premium-detail-text {
		max-height: 175px;
	}
	.pr-col-body-nom, 
	.pr-col-body-descr,
	.pr-col-body-laur_top-titles,
	.pr-col-body-noms,
	.pr-col-body-laur_bottom {
		font-size: 12px;
		line-height: 16px;
	}
	.pr-col-body-laur_top-avatars {
		display: none;
	}
	.premiums-table__title-col {
		font-size: 12px;
		line-height: 12px;
	}
	.pr-col-year {
		display: none;
	}
	.pr-col-noms {
		width: 16%;
	}
	.pr-col-descr {
		width: 31%;
	}
	.pr-col-laur {
		width: 32%;
	}
	.pr-col-nom {
		width: 21%;
	}
	.pr-col-body-nom {
		border-left: none !important;
	}
	.show-on-mobile {
		display: block;
	}
	.premuim-choose-year {
		font-size: 12px;
		margin-bottom: 20px;
		line-height: 36px;
	}
	.premuim-choose-year .custom-select-mobile{
		font-family: Montserrat_semibold;
		display: inline-block;
		position: relative;
		margin-left: 12px;
		width: 222px;
		background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
		border: 1px solid #CED0DA;
		box-sizing: border-box;
		border-radius: 4px;		
		color: #354052;
		font-size: 14px;
		line-height: 21px;
		padding-left: 16px;
		text-align: left;
		height: 36px;
		line-height: 36px;
		color: #354052;
	}
	.premuim-choose-year .custom-select-mobile select{
		position: absolute;
		opacity: 0;
		z-index: 3;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	    width: 100%;
	    display: block;
	}
	.premuim-choose-year .custom-select-mobile::after{
		position: absolute;
		right: 10px;
		top: 13px;
		display: block;
		content: "";
		z-index: 2;
		background: no-repeat center center url('../images/icons/arrow-slider.svg');
		background-size: 8px 8px;
		width: 8px;
		height: 9px;
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.premium-header {
		z-index: 10;
		display: block;
		position: fixed;
		top:-80px;
		left: 0px;
		right: 0px;
		background: #F8F8F8;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);		
		padding: 12px 20px;
		-webkit-transition: all 400ms ease-in-out;
		-moz-transition: all 400ms ease-in-out;
		-ms-transition: all 400ms ease-in-out;
		-o-transition: all 400ms ease-in-out;
		transition: all 400ms ease-in-out;
		opacity: 0;
	}
	.premium-header.showed {
		top:47px;
		opacity: 1;
	}
	.premium-header_inner {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.premium-header_title{
		font-size: 12px;
		line-height: 21px;
		color: #354052;
		width: 100px;
	}
	.premium-header_select {
		width: calc(100% - 100px);
	}
	.premium-header_inner .premuim-choose-year{
		margin-bottom: 0px;
	}
	.premium-header_select .custom-select-mobile {
		width: 100% !important;
		display: block;
		
	}
}
@media(max-width:767px) {
	.crumbs {
		margin-bottom: 16px;
	}
	.premium-table__container {
		width: calc(100% + 40px); 
		padding-left: 0px;
		padding-right: 0px;
		margin-left: -20px;
		margin-right: -20px;
	}
	.premiums-table {
		border-radius: 0px;
	}

}

@media(max-width:620px) {
	h1.page-title {
		font-size: 20px;
		line-height: 25px;
	}
	.premium-table__container {
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.premiums-table__titles {
		display: none;
	}
	.premiums-table {
		box-shadow: none;
	}
	.premiums-table__body {
		border: none;
	}
	.premiums-table__row {
		display: block;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		border-radius: 6px;		
		background: none !important;
	}
	.premiums-table__row + .premiums-table__row {
		margin-top: 22px;
	}
	.premiums-table__row .premiums-table__row-col {
		float: none;
		width: 100%;
		border: none;
		padding: 14px 0px;
	}
	.pr-col-body-nom,
	.pr-col-body-laur,
	.pr-col-body-descr,
	.pr-col-body-noms {
		flex-direction: row;
	}
	.premiums-table__row-col {
		border: none;
	}
	.pr-col-body-nom {
		border-radius: 6px 6px 0px 0px;
		background: #F8F8F8;
	}
	.premiums-table__row-col label{
		margin-bottom: 0px;
		display: inline-block;
		width: 120px;
		margin-left: 14px;
		text-align: left;
		font-size: 12px;
		line-height: 28px;
		color: #A4A5B0;
		font-family: Montserrat_semibold;
	}
	.premiums-table__row-col .inner-value {
		display: inline-block;
		width: calc(100% - 50px);
	}
	.pr-col-body-nom .inner-value {
		font-family: Montserrat_semibold;
		padding-top: 5px;
		font-size: 12px;
		line-height: 18px;
	}
	.pr-col-body-laur_top,
	.pr-col-body-laur_bottom {
		padding: 0px;
	}
	.pr-col-body-laur_top-titles {
		padding-left: 0px;
	}
	.pr-col-body-laur_bottom {
		margin-top: 7px;
		border: none;
	}
	.pr-col-body-laur .inner-value {
		display: flex;
		flex-direction: column;		
	}
	.pr-col-body-laur_bottom::before {
		width: 22px;
		min-width: 22px;
		height: 22px;
		background-size: 14px 14px;
	}
	.pr-col-body-noms .inner-value {
		line-height: 28px;
		text-align: left;
	}
	.pr-col-body-noms .inner-value .j-open-list-noms {
		width: 100%;
		display: block;
	}
	.premiums-table__row-col .inner-value {
		padding-right: 15px;
	}
	.premuim-dropdown a {
		width: 300px;
		max-width: 300px;
	}
}

@media(max-width:575px) {	
	.premium-main-wrapper.premium-main-wrapper_detail {
		padding-left: 0px;
		padding-right: 0px;
	}
	.premium-detail-year,
	.premium-detail-h1 {
		display: none;
	}
	.premium-detail-mobile-title,
	.premium-detail-mobile-title .premium-detail-year,
	.premium-detail-mobile-title .premium-detail-h1 {
		display: block;
	}
	.premium-detail-img {
		width: 100px;
		margin-right: 15px;
		display: inline-block;
		vertical-align: top;
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.premium-detail-mobile-title .premium-detail-h1 {
		font-size: 18px;
		line-height: 23px;
		color: #354052;
		font-family: Montserrat_semibold;
		margin-top: 10px;
		margin-bottom: 25px;
	}
	.premium-detail-year {
		text-align: left;
		margin-bottom: 30px;
	}
	.premium-detail-mobile-title {
		margin-top: 30px;
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 130px);
	}

	.premuim-choose-year .custom-select-mobile {
		width: 50%;
	}
	.container.ignore-mobile-paddings {
		padding-left: 0px;
		padding-right: 0px;
	}
}


/*==========================================================
table*/
.pr-col-body-book {
  padding: 0px 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 620px) {
  .pr-col-body-book {
    padding: 0;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.pr-col-body-book-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 57px;
  flex: 0 0 57px;
  -webkit-box-shadow: 0px 0px 10px rgba(75, 76, 78, 0.15);
  box-shadow: 0px 0px 10px rgba(75, 76, 78, 0.15);
  width: 57px;
  height: 87px;
  margin: 5px 0px;
}

.pr-col-body-book-image div {
  display: inline-block;
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pr-col-body-book-titles {
  display: inline-block;
  font-family: Montserrat_bold;
  font-size: 14px;
  line-height: 22px;
  color: #354052;
  padding: 0px 0px 0px 15px;
}

@media (max-width: 620px) {
  .pr-col-body-book-titles {
    font-size: 12px;
    line-height: 18px;
  }
}

/**/
.premiums-table-short .pr-col-noms {
  display: none;
}

.premiums-table-short .pr-col-book {
  width: 40%;
}

.premiums-table-short .pr-col-laur {
  width: 35%;
}

.premiums-table-short .pr-col-nom {
  width: 20%;
}

.premiums-table-short .pr-col-year {
  width: 5%;
}

@media (max-width: 991px) {
  .premiums-table-short .pr-col-book {
    width: 35%;
  }
  .premiums-table-short .pr-col-laur {
    width: 40%;
  }
  .premiums-table-short .pr-col-nom {
    width: 25%;
  }
}

@media (max-width: 620px) {
  .premiums-table-short .pr-col-book {
    width: 100%;
  }
  .premiums-table-short .pr-col-laur {
    width: 100%;
  }
  .premiums-table-short .pr-col-nom {
    width: 100%;
  }
}

/**/
@media (max-width: 620px) {
  .premiums-table {
    margin: 40px 0px 65px 0px;
  }
  .premiums-table__row {
    position: relative;
    margin: 0px 0px 50px 0px;
  }
  .pr-col-body-year {
    display: inline-block;
    position: absolute;
    width: auto !important;
    padding: 0 !important;
    top: -35px;
    left: 15px;
  }
}

/*======================================================*/
