@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
  }
}

input, button, textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover, input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header_body {
  -webkit-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -ms-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -o-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 20px 30px 20px;
}

@media (max-width: 767.98px) {
  .header_body {
    padding: 20px 0px 30px 0px;
  }
}

.header_logo {
  width: 120px;
  height: 80px;
  margin: 0px 20px 0px 0px;
}

.header_logo img {
  width: auto;
  height: 100%;
}

.header_login form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}

@media (max-width: 767.98px) {
  .header_login form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.header_login form span {
  width: 180px;
  padding: 0px 10px 0px 0px;
}

@media (max-width: 767.98px) {
  .header_login form span {
    width: 100%;
    padding: 0;
  }
}

.header_btn {
  font-size: 24px;
  background-image: url("../img/home_ico.png");
  background-repeat: no-repeat;
  background-position: 5px 30px;
  background-size: 40%;
}

@media (max-width: 767.98px) {
  .header_btn {
    width: 100% !important;
    margin: 10px 0px 0px 0px;
    background-position: 5px 10px;
    background-size: 30%;
  }
}

.input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  border: 1px solid #4D7DCD;
  color: #4D7DCD;
  height: 30px;
  padding: 0px 10px;
  width: 100%;
}

.input:nth-child(1) {
  margin: 0px 0px 10px 0px;
}

.footer {
  background: #fff url("../img/fline.png") repeat-x;
  background-color: #0D6BC2;
  padding: 40px 0px 30px 0px;
  color: #fff;
}

.footer_body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 20px;
}

@media (max-width: 479.98px) {
  .footer_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

.footer_logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_logo img {
  width: auto;
  height: 81px;
}

@media (max-width: 479.98px) {
  .footer_logo {
    margin: 0px 0px 10px 0px;
  }
}

.footer_logo-text {
  font-size: 16px;
  padding: 0px 0px 0px 20px;
}

.footer_logo-text span {
  display: block;
  line-height: 24px;
}

@media (max-width: 767.98px) {
  .footer_logo-text {
    font-size: 14px;
  }
}

.footer_tel {
  margin: 0px 0px 0px 20px;
  white-space: nowrap;
  font-style: italic;
  text-align: right;
  font-size: 30px;
}

.footer_tel a {
  color: #fff;
}

@media (max-width: 767.98px) {
  .footer_tel {
    font-size: 25px;
  }
}

@media (max-width: 479.98px) {
  .footer_tel {
    text-align: center;
    width: 100%;
    margin: 0;
  }
}

.footer_tel-text {
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}

@media (max-width: 479.98px) {
  .footer_tel-text {
    font-size: 18px;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
