.container {
  max-width: 1090px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
}

.container.a {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 1102px) {
  .container.a {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container.a {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container.a {
    max-width: none;
    padding: 0 10px;
  }
}

.main {
  margin: 20px 0px 0px 0px;
}

.main_image {
  height: 300px;
  position: relative;
}

@media (max-width: 767.98px) {
  .main_image {
    background-position: 45% 50%;
  }
}

.main_image .text {
  font-style: italic;
  background-color: #0D6BC2;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px 10px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.main_image .watter-mark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.2;
}

.main_image .watter-mark img {
  display: inline-block !important;
  width: auto;
  height: 80px;
}

.sort {
  margin: 30px 0px;
}

@media (max-width: 767.98px) {
  .sort {
    margin: 15px 0px;
  }
}

.sort_body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767.98px) {
  .sort_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.sort_column {
  white-space: nowrap;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px;
}

.sort_column:first-child {
  border-right: 1px solid #ccc;
}

.sort_column input {
  width: 90px;
  height: 26px;
  margin: 0 !important;
}

@media (max-width: 992.98px) {
  .sort_column input {
    width: 50px;
  }
}

@media (max-width: 767.98px) {
  .sort_column {
    padding: 10px 20px;
  }
  .sort_column:first-child {
    border-right: none;
    border-bottom: none;
  }
}

@media (max-width: 479.98px) {
  .sort_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.sort_text {
  font-style: italic;
  color: #0D6BC2;
  font-size: 18px;
}

@media (max-width: 992.98px) {
  .sort_text {
    font-size: 14px;
  }
}

@media (max-width: 479.98px) {
  .sort_text {
    margin: 0px 0px 10px 0px;
  }
}

.sort_tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  padding: 0px 20px 0px 0px;
  font-size: 14px;
}

@media (max-width: 992.98px) {
  .sort_tabs {
    font-size: 12px;
  }
}

@media (max-width: 992.98px) {
  .sort_tabs {
    padding: 0;
  }
}

.sort_tabs span {
  background-color: #ccc;
  height: 18px;
  width: 1px;
  margin: 0px 10px;
}

.sort_tabs-item {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 1px dashed #000;
  cursor: pointer;
  height: 17px;
  line-height: 20px;
}

.sort_tabs-item.active {
  color: #0D6BC2;
  border-bottom: 1px dashed #0D6BC2;
}

.sort_tabs-item.active:hover {
  border-bottom: 1px dashed #0D6BC2;
}

.sort_tabs-item:hover {
  border-bottom: none;
}

.sort_btn {
  margin: 0px 0px 0px 10px;
  padding: 5px 0px 2px 0px;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 992.98px) {
  .sort_btn {
    width: 100px !important;
  }
}

.content_body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767.98px) {
  .content_body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.content_item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 767.98px) {
  .content_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 479.98px) {
  .content_item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
  }
}

.content_item-body {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border: 1px solid #ccc;
  margin: 0px 20px;
}

.content_item-body span {
  display: block;
}

.content_item-body a {
  color: #000;
}

@media (max-width: 992.98px) {
  .content_item-body {
    margin: 0px 10px;
  }
}

@media (max-width: 479.98px) {
  .content_item-body {
    margin: 0;
  }
}

.content_item-body:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.content_image {
  display: block;
  height: 180px;
  position: relative;
}

.content_image .price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #0D6BC2;
  color: #fff;
  padding: 7px 10px 7px 10px;
  font-size: 16px;
}

.content_image .price .value {
  display: inline-block;
}

.content_adress {
  font-size: 16px;
  font-style: italic;
  padding: 15px 5px;
  margin: 0px 10px;
  border-bottom: 1px solid #ccc;
}

.content_description {
  padding: 15px 10px;
  font-size: 13px;
  line-height: 16px;
}

.btn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 130px;
  background-color: #0D6BC2;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 2px solid #1C3D73;
}

.btn:hover {
  background-color: #1C3D73;
  border-bottom: 2px solid #0D6BC2;
}
