.reviews {
  padding: 100px 0px 50px 0px;
  background-color: #F2F2FA;
  text-align: right;
}

.reviews__title {
  text-align: left;
  color: #234D60;
  font-family: "Montserrat-Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  margin: 0px 0px 30px 0px;
}

.reviews__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px -15px;
}

@media (max-width: 768px) {
  .reviews__body {
    display: inline-block;
  }
}

.reviews__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
  padding: 0px 15px;
  text-align: left;
  height: 100%;
}

.reviewsitem {
  font-family: "Roboto";
  font-weight: 300;
}

.reviewsitem__topblock {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0px;
}

.reviewsitem__image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.reviewsitem__image img {
  width: 100%;
  border-radius: 50%;
}

.reviewsitem__title {
  display: block;
  color: #234D60;
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}

.reviewsitem__title:hover {
  color: #234D60;
}

.reviewsitem__date {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  line-height: 100%;
  margin: 0px 15px 0px 0px;
}

.reviewsitem__date svg {
  width: 13px;
  height: 13px;
  margin: 0px 6px 0px 0px;
}

.reviewsitem__like {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  line-height: 100%;
  margin: 0px 15px 0px 0px;
}

.reviewsitem__like svg {
  width: 13px;
  height: 13px;
  margin: 0px 6px 0px 0px;
}

.reviewsitem__text {
  color: #404040;
  font-size: 14px;
  line-height: 16px;
  margin: 0px 0px 15px 0px;
}

.reviewsitem__star {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.reviewsitem__star span {
  margin: 0px 5px;
  color: #828282;
  font-size: 14px;
}

.reviewsitem__star svg {
  margin: 0px 5px 0px 0px;
  width: 14px;
  height: 14px;
  stroke: #828282;
  stroke-width: 30px;
}

.reviewsitem__star svg path {
  fill: #E25E2A;
  fill-opacity: 0.0;
}

.reviewsitem__star.star1 svg:nth-child(1) {
  stroke: none;
}

.reviewsitem__star.star1 svg:nth-child(1) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star2 svg:nth-child(1) {
  stroke: none;
}

.reviewsitem__star.star2 svg:nth-child(1) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star2 svg:nth-child(2) {
  stroke: none;
}

.reviewsitem__star.star2 svg:nth-child(2) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star3 svg:nth-child(1) {
  stroke: none;
}

.reviewsitem__star.star3 svg:nth-child(1) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star3 svg:nth-child(2) {
  stroke: none;
}

.reviewsitem__star.star3 svg:nth-child(2) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star3 svg:nth-child(3) {
  stroke: none;
}

.reviewsitem__star.star3 svg:nth-child(3) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star4 svg:nth-child(1) {
  stroke: none;
}

.reviewsitem__star.star4 svg:nth-child(1) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star4 svg:nth-child(2) {
  stroke: none;
}

.reviewsitem__star.star4 svg:nth-child(2) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star4 svg:nth-child(3) {
  stroke: none;
}

.reviewsitem__star.star4 svg:nth-child(3) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star4 svg:nth-child(4) {
  stroke: none;
}

.reviewsitem__star.star4 svg:nth-child(4) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star5 svg:nth-child(1) {
  stroke: none;
}

.reviewsitem__star.star5 svg:nth-child(1) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star5 svg:nth-child(2) {
  stroke: none;
}

.reviewsitem__star.star5 svg:nth-child(2) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star5 svg:nth-child(3) {
  stroke: none;
}

.reviewsitem__star.star5 svg:nth-child(3) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star5 svg:nth-child(4) {
  stroke: none;
}

.reviewsitem__star.star5 svg:nth-child(4) path {
  fill-opacity: 1.0;
}

.reviewsitem__star.star5 svg:nth-child(5) {
  stroke: none;
}

.reviewsitem__star.star5 svg:nth-child(5) path {
  fill-opacity: 1.0;
}

.certificates {
  background-color: #F2F2FA;
  padding: 0px 0px 100px 0px;
}

.certificates__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px -10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.certificates__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 10px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px 20px;
}

.certificat {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-width: 210px;
  max-width: 210px;
  min-height: 300px;
}

.certificat:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.certificat__image {
  border-radius: 10px;
  overflow: hidden;
}

.certificat__image img {
  width: 100%;
  max-width: 100%;
}
