.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
  position: relative; }
  @media (max-width: 1252px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

/*page1*/
body {
  background-color: #000; }

.wrapper {
  background-color: #fff;
  margin: 0px auto 0px;
  overflow: hidden; }

.title {
  color: #019edb;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase; }
  @media (max-width: 479.98px) {
    .title {
      font-size: 25px; } }

.title2 {
  text-align: center; }
  .title2 .number {
    color: #019edb;
    font-size: 60px; }
  .title2__number {
    width: 120px;
    height: 120px;
    margin: 0px auto -25px;
    line-height: 118px;
    position: relative;
    font-size: 60px;
    z-index: 1; }
    .title2__number:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0.5;
      background-color: #000;
      z-index: -1; }
  .title2__title {
    color: #ffffff;
    font-size: 39px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin: 0px 0px 10px 0px; }
    @media (max-width: 767.98px) {
      .title2__title {
        font-size: 30px; } }
    @media (max-width: 479.98px) {
      .title2__title {
        font-size: 25px; } }
  .title2__subtitle {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    position: relative;
    z-index: 1;
    line-height: 20px; }
    @media (max-width: 767.98px) {
      .title2__subtitle {
        font-size: 20px; } }
    @media (max-width: 479.98px) {
      .title2__subtitle {
        font-size: 15px; } }

.text {
  color: #fff;
  font-size: 14px;
  line-height: 23px; }
  @media (max-width: 479.98px) {
    .text {
      font-size: 12px;
      line-height: 18px; } }

.btn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  padding: 0px 5px;
  position: relative;
  z-index: 5; }
  .btn:before {
    content: "";
    -webkit-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -moz-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -ms-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -o-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    left: -10px;
    border-radius: 2px;
    background-color: #019edb;
    z-index: -1; }
  .btn:hover:before {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: 30px;
    height: 5%;
    width: 100%; }

.number {
  color: #fff;
  font-size: 83px;
  font-weight: 900;
  letter-spacing: 10px; }
  @media (max-width: 767.98px) {
    .number {
      font-size: 60px;
      letter-spacing: 5px; } }

.abs {
  position: relative;
  left: -10px; }
  .abs span {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0px;
    left: 2px; }
  .abs:before {
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 3px;
    height: 50px;
    top: -70px;
    left: 8px;
    background-color: #fff; }
  .abs:after {
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 3px;
    height: 50px;
    top: 35px;
    left: 8px;
    background-color: #fff; }

.mainblock {
  margin: 150px 0px 0px 0px;
  text-align: center; }
  @media (max-width: 992.98px) {
    .mainblock {
      margin: 100px 0px 0px 0px; } }
  .mainblock__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .mainblock__body span {
      border-radius: 2px;
      position: absolute;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
      .mainblock__body span:nth-child(1) {
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -ms-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
        width: 100px;
        height: 100px;
        background-color: #019edb;
        top: 0px;
        left: 50%;
        z-index: 8;
        margin: 70px 0px 0px -230px; }
        @media (max-width: 992.98px) {
          .mainblock__body span:nth-child(1) {
            margin: -50px 0px 0px -81px; } }
        @media (max-width: 767.98px) {
          .mainblock__body span:nth-child(1) {
            margin: 0;
            left: -205px;
            top: -163px;
            width: 300px;
            height: 300px; } }
        @media (max-width: 479.98px) {
          .mainblock__body span:nth-child(1) {
            left: -230px;
            top: -170px; } }
      .mainblock__body span:nth-child(2) {
        -webkit-transition: all 0.8s ease 0s;
        -moz-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;
        -o-transition: all 0.8s ease 0s;
        transition: all 0.8s ease 0s;
        width: 1800px;
        height: 1800px;
        background-color: #eee;
        top: -500px;
        left: -1800px;
        z-index: 7; }
        @media (max-width: 1252px) {
          .mainblock__body span:nth-child(2) {
            left: -1900px; } }
        @media (max-width: 992.98px) {
          .mainblock__body span:nth-child(2) {
            top: -550px;
            left: -2000px; } }
        @media (max-width: 767.98px) {
          .mainblock__body span:nth-child(2) {
            top: -530px;
            left: -2060px; } }
        @media (max-width: 479.98px) {
          .mainblock__body span:nth-child(2) {
            top: -530px;
            left: -2100px; } }
      .mainblock__body span:nth-child(3) {
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
        background-color: #eee;
        width: 2000px;
        height: 2000px;
        top: -1200px;
        right: -1400px;
        z-index: 7; }
        @media (max-width: 1252px) {
          .mainblock__body span:nth-child(3) {
            right: -1600px; } }
        @media (max-width: 992.98px) {
          .mainblock__body span:nth-child(3) {
            right: -1900px; } }
        @media (max-width: 767.98px) {
          .mainblock__body span:nth-child(3) {
            width: 1000px;
            height: 1000px;
            top: -570px;
            right: -990px; } }
        @media (max-width: 479.98px) {
          .mainblock__body span:nth-child(3) {
            top: -655px;
            right: -940px; } }
  .mainblock__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .mainblock__row:first-child {
      margin: 0% 0% 0px 100px; }
    .mainblock__row:last-child {
      margin: -290px 0% 0px 190px; }
    @media (max-width: 992.98px) {
      .mainblock__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .mainblock__row:first-child {
          margin: 0% 0% 0px 0px; }
        .mainblock__row:last-child {
          margin: -390px 0% 0px 0px; } }
    @media (max-width: 767.98px) {
      .mainblock__row:first-child {
        margin: 0% 0% 0px 0px; }
      .mainblock__row:last-child {
        margin: 0px 0% 0px 0px; } }
  .mainblock__maintext {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: relative;
    width: 400px;
    height: 400px;
    z-index: 8; }
    @media (max-width: 992.98px) {
      .mainblock__maintext {
        margin: 0px 0px 0px -400px; } }
    @media (max-width: 767.98px) {
      .mainblock__maintext {
        margin: 0px 0px 0px 0px; } }
    .mainblock__maintext:before {
      content: "";
      border-radius: 2px;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      -webkit-box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
      box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
      background-color: #444; }
    .mainblock__maintext__title {
      padding: 80px 0px 20px 0px;
      position: relative;
      z-index: 1; }
    .mainblock__maintext__text {
      position: relative;
      z-index: 1;
      max-width: 320px;
      margin: 20px auto; }
      @media (max-width: 479.98px) {
        .mainblock__maintext__text {
          padding: 0px 20px; } }
    .mainblock__maintext__btn {
      margin: 20px 0px; }
  .mainblock__mainimage {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
    box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
    border-radius: 2px;
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    z-index: 7; }
    @media (max-width: 992.98px) {
      .mainblock__mainimage {
        margin: -400px 0px 0px 400px; } }
    @media (max-width: 767.98px) {
      .mainblock__mainimage {
        margin: 0px 0px 0px 0px; } }
    .mainblock__mainimage__bg {
      background-position: 90% 50%;
      position: absolute;
      width: 145%;
      height: 145%;
      top: -21%;
      left: -23%;
      z-index: 1;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .mainblock__subtext {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: relative;
    width: 350px;
    height: 350px;
    z-index: 8;
    margin: 0px 0px 0px -20px; }
    @media (max-width: 992.98px) {
      .mainblock__subtext {
        margin: -50px 0px 0px 450px; } }
    @media (max-width: 767.98px) {
      .mainblock__subtext {
        margin: -350px 0px 0px 0px; } }
    .mainblock__subtext:before {
      content: "";
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 2px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      -webkit-box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
      box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
      background-color: #019edb; }
    .mainblock__subtext__number {
      margin: 10px 0px;
      position: relative;
      z-index: 1; }
    .mainblock__subtext__title {
      color: #fff;
      padding: 20px 0px;
      position: relative;
      z-index: 1; }
    .mainblock__subtext__text {
      position: relative;
      z-index: 1;
      max-width: 300px;
      margin: 10px auto; }
      @media (max-width: 479.98px) {
        .mainblock__subtext__text {
          padding: 0px 20px; } }
  .mainblock__subimage {
    border-radius: 2px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin: 100px 0px 0px -60px;
    -webkit-box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
    box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 7; }
    @media (max-width: 992.98px) {
      .mainblock__subimage {
        margin: -50px 0px 0px -150px; } }
    @media (max-width: 767.98px) {
      .mainblock__subimage {
        margin: -100px 0px 0px 0px; } }
    .mainblock__subimage__bg {
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      background-position: 90% 50%;
      position: absolute;
      width: 145%;
      height: 145%;
      top: -21%;
      left: -23%;
      z-index: 1;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.choose {
  position: relative;
  text-align: center; }
  .choose:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 188%;
    top: -550px;
    left: 0px;
    background-color: #000;
    z-index: 5; }
    @media (max-width: 1252px) {
      .choose:after {
        height: 181%; } }
    @media (max-width: 992.98px) {
      .choose:after {
        height: 152.5%; } }
    @media (max-width: 479.98px) {
      .choose:after {
        height: 150.6%; } }
  .choose__bg {
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 188%;
    top: -550px;
    left: 0px;
    z-index: 6; }
    @media (max-width: 1252px) {
      .choose__bg {
        height: 181%; } }
    @media (max-width: 992.98px) {
      .choose__bg {
        height: 152.5%; } }
    @media (max-width: 479.98px) {
      .choose__bg {
        height: 150.6%; } }
  .choose__title {
    position: relative;
    z-index: 7;
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 100px 0px 0px 0px; }
    @media (max-width: 1252px) {
      .choose__title {
        padding: 50px 0px 0px 0px; } }
    @media (max-width: 1252px) {
      .choose__title {
        padding: 150px 0px 0px 0px; } }
  .choose__subtitle {
    position: relative;
    z-index: 7;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding: 20px 0px 60px 0px; }
  .choose__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 992.98px) {
      .choose__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .choose__column {
    position: relative;
    z-index: 7; }
    @media (max-width: 992.98px) {
      .choose__column:nth-child(2) {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        margin: 40px 0px;
        left: 8px; } }
    .choose__column__body {
      margin: 0px 80px;
      padding: 40px;
      width: 350px;
      background-color: rgba(69, 69, 69, 0.5); }
      @media (max-width: 479.98px) {
        .choose__column__body {
          width: 280px; } }
    .choose__column__title {
      text-align: left;
      position: relative;
      z-index: 7;
      color: #fff;
      font-family: "HarabaraMais";
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0px 0px 20px 0px; }
    .choose__column__text {
      position: relative;
      z-index: 7;
      color: #fff;
      font-size: 14px;
      line-height: 25px;
      text-align: left; }
  .choose__btn {
    z-index: 7;
    margin: 50px 0px 50px 0px; }

.portfolio {
  position: relative; }
  .portfolio:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    z-index: 1; }
  .portfolio__bg {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    opacity: 0.4;
    z-index: 3; }
  .portfolio__image {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
    box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
    border-radius: 2px;
    width: 1200px;
    height: 1200px;
    overflow: hidden;
    position: absolute;
    top: -532px;
    left: 50%;
    margin: 0px 0px 0px -600px;
    z-index: 4; }
    @media (max-width: 992.98px) {
      .portfolio__image {
        top: -555px; } }
    @media (max-width: 767.98px) {
      .portfolio__image {
        width: 800px;
        top: -662px;
        margin: 0px 0px 0px -250px; } }
    @media (max-width: 479.98px) {
      .portfolio__image {
        top: -647px;
        margin: 0px 0px 0px -350px; } }
    .portfolio__image__bg {
      background-size: 90% auto;
      background-position: 50% 50%;
      position: absolute;
      width: 160%;
      height: 100%;
      top: 30%;
      left: 0%;
      z-index: 1;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .portfolio__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 450px 0px 0px 0px; }
    @media (max-width: 992.98px) {
      .portfolio__body {
        padding: 100px 0px 0px 0px; } }
    @media (max-width: 767.98px) {
      .portfolio__body {
        padding: 200px 0px 0px 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (max-width: 479.98px) {
      .portfolio__body {
        padding: 350px 0px 0px 0px; } }
  .portfolio__column {
    position: relative; }
    @media (max-width: 992.98px) {
      .portfolio__column {
        margin: 300px 0px 0px 0px; } }
    @media (max-width: 767.98px) {
      .portfolio__column {
        margin: 200px 0px 0px 0px; } }
    @media (max-width: 992.98px) {
      .portfolio__column:nth-child(2) {
        position: absolute;
        top: -200px;
        left: 50%;
        margin: 300px 0px 0px -340px;
        z-index: 5; } }
    @media (max-width: 767.98px) {
      .portfolio__column:nth-child(2) {
        top: -200px;
        margin: 300px 0px 0px -200px; } }
    @media (max-width: 479.98px) {
      .portfolio__column:nth-child(2) {
        top: -50px;
        margin: 300px 0px 0px -150px; } }
    @media (max-width: 767.98px) {
      .portfolio__column:nth-child(3) {
        margin: 0; } }
    .portfolio__column__block__number {
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      border-radius: 2px;
      display: inline-block;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: -120px;
      left: -75px;
      z-index: 6; }
      @media (max-width: 992.98px) {
        .portfolio__column__block__number {
          top: -90px;
          left: 250px; } }
      @media (max-width: 767.98px) {
        .portfolio__column__block__number {
          top: -100px;
          left: 200px; } }
      @media (max-width: 479.98px) {
        .portfolio__column__block__number {
          top: -200px;
          left: 10px; } }
    .portfolio__column__whiteblock {
      text-align: center;
      position: relative;
      width: 300px;
      height: 300px;
      z-index: 8; }
      .portfolio__column__whiteblock:before {
        content: "";
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #fff;
        border-radius: 2px;
        z-index: 1; }
      .portfolio__column__whiteblock__title {
        padding: 60px 0px 20px 0px;
        position: relative;
        z-index: 2; }
      .portfolio__column__whiteblock__text {
        color: #000;
        width: 280px;
        margin: 0px auto 0px;
        padding: 0px 0px 20px 0px;
        position: relative;
        z-index: 2; }
      .portfolio__column__whiteblock__btn {
        color: #000; }
    .portfolio__column__imageblock {
      border-radius: 2px;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      -webkit-box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
      box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 350px;
      height: 350px;
      overflow: hidden;
      position: relative;
      z-index: 5; }
      .portfolio__column__imageblock__image {
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        background-position: 50% 0%;
        background-size: 80% auto;
        position: absolute;
        width: 650px;
        height: 750px;
        top: -35%;
        left: -20%;
        z-index: 1;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .portfolio__column .number {
      text-align: center;
      line-height: 140px;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      display: inline-block;
      width: 150px;
      height: 150px;
      color: #019edb; }
      @media (max-width: 767.98px) {
        .portfolio__column .number {
          width: 100px;
          height: 100px;
          line-height: 90px; } }
  .portfolio__text {
    text-align: center;
    position: relative;
    z-index: 5; }
    .portfolio__text__title {
      display: inline-block;
      margin: 180px auto 20px;
      position: relative;
      z-index: 5; }
      @media (max-width: 767.98px) {
        .portfolio__text__title {
          margin: 100px auto 20px; } }
    .portfolio__text__text {
      position: relative;
      z-index: 5;
      max-width: 800px;
      padding: 20px 20px 40px 20px;
      margin: 0px auto 0px;
      font-size: 18px; }
      @media (max-width: 479.98px) {
        .portfolio__text__text {
          font-size: 15px;
          padding: 0px 20px 40px 20px; } }

.itwork {
  position: relative;
  padding: 40px 20px 80px 20px; }
  .itwork__image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
    @media (max-width: 767.98px) {
      .itwork__image {
        background-position: 65% 50%; } }
    .itwork__image:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      opacity: 0.6;
      background-color: #000; }
  .itwork__title {
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 40px 0px; }
  .itwork__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1220px;
    margin: 0px auto 0px; }
    @media (max-width: 992.98px) {
      .itwork__body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .itwork__column {
    padding: 0px 10px;
    position: relative;
    z-index: 5;
    text-align: center; }
    .itwork__column:nth-child(1) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%; }
    .itwork__column:nth-child(2) {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .itwork__column:nth-child(3) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%; }
    .itwork__column:nth-child(4) {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .itwork__column:nth-child(5) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%; }
    @media (max-width: 992.98px) {
      .itwork__column {
        margin: 20px 0px; }
        .itwork__column:nth-child(1) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 48%;
          flex: 0 0 48%; }
        .itwork__column:nth-child(3) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 48%;
          flex: 0 0 48%; }
        .itwork__column:nth-child(4) {
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
          position: relative;
          left: 8px;
          -webkit-box-ordinal-group: 5;
          -moz-box-ordinal-group: 5;
          -ms-flex-order: 5;
          -webkit-order: 5;
          order: 5; }
        .itwork__column:nth-child(5) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          -webkit-box-ordinal-group: 4;
          -moz-box-ordinal-group: 4;
          -ms-flex-order: 4;
          -webkit-order: 4;
          order: 4; } }
    @media (max-width: 767.98px) {
      .itwork__column {
        margin: 15px 0px; }
        .itwork__column:nth-child(1) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
        .itwork__column:nth-child(2) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
          position: relative;
          left: 8px;
          margin: 30px 0px; }
        .itwork__column:nth-child(3) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
        .itwork__column:nth-child(4) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          -webkit-box-ordinal-group: 4;
          -moz-box-ordinal-group: 4;
          -ms-flex-order: 4;
          -webkit-order: 4;
          order: 4;
          margin: 30px 0px; }
        .itwork__column:nth-child(5) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          -webkit-box-ordinal-group: 5;
          -moz-box-ordinal-group: 5;
          -ms-flex-order: 5;
          -webkit-order: 5;
          order: 5; } }
    @media (max-width: 479.98px) {
      .itwork__column {
        margin: 15px 0px; }
        .itwork__column:nth-child(1) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 340px;
          flex: 0 0 340px; }
        .itwork__column:nth-child(3) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 340px;
          flex: 0 0 340px; }
        .itwork__column:nth-child(5) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 340px;
          flex: 0 0 340px; } }
    .itwork__column__icon {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
      flex: 0 0 64px;
      position: relative;
      display: inline-block;
      width: 64px;
      height: 64px;
      padding: 15px;
      margin: 0px 0px 10px 0px; }
      .itwork__column__icon svg {
        width: 100%;
        height: 100%; }
        .itwork__column__icon svg path {
          fill: #fff; }
      .itwork__column__icon:before {
        content: "";
        position: absolute;
        border: 2px solid #fff;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 2px;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%; }
    .itwork__column__textitem {
      margin: 0px 20px; }
    .itwork__column__textitem__title {
      color: #019edb;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.42px;
      line-height: 20px;
      margin: 15px 0px;
      text-transform: uppercase; }
    .itwork__column__textitem__text {
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.4px;
      line-height: 20px; }

.reviews {
  position: relative;
  padding: 40px 20px 40px 20px; }
  .reviews__image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: 50% 10%; }
    .reviews__image:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      opacity: 0.6;
      background-color: #000; }
  .reviews__title {
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 40px 0px; }
  .reviews__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1220px;
    margin: 0px auto 0px; }
    @media (max-width: 992.98px) {
      .reviews__body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .reviews__column {
    padding: 0px 10px;
    position: relative;
    z-index: 5;
    text-align: center; }
    .reviews__column .abs {
      margin: 0px 20px; }
    .reviews__column:nth-child(1) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
      flex: 0 0 45%; }
    .reviews__column:nth-child(2) {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .reviews__column:nth-child(3) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
      flex: 0 0 45%; }
    @media (max-width: 992.98px) {
      .reviews__column {
        margin: 20px 0px; }
        .reviews__column:nth-child(1) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
        .reviews__column:nth-child(2) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
          position: relative;
          left: 8px;
          margin: 40px 0px 20px 0px; }
        .reviews__column:nth-child(3) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%; } }
    @media (max-width: 479.98px) {
      .reviews__column {
        margin: 15px 0px; }
        .reviews__column:nth-child(1) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 340px;
          flex: 0 0 340px; }
        .reviews__column:nth-child(2) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
        .reviews__column:nth-child(3) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 340px;
          flex: 0 0 340px; } }
    .reviews__column__textitem {
      margin: 0px 20px; }
    .reviews__column__textitem__title {
      color: #019edb;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.42px;
      line-height: 20px;
      margin: 15px 0px;
      text-transform: uppercase; }
    .reviews__column__textitem__text {
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.4px;
      line-height: 20px;
      margin: 0px 0px 20px 0px; }

.social {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2; }
  .social__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0px 0px 0px 0px;
    max-width: 1000px;
    margin: -40px auto 20px; }
    @media (max-width: 767.98px) {
      .social__body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .social__column {
    text-align: center; }
    @media (max-width: 767.98px) {
      .social__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%; } }
  .social__icon {
    display: inline-block;
    margin: 20px;
    width: 54px;
    height: 54px;
    padding: 10px;
    position: relative; }
    .social__icon:before {
      content: "";
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      position: absolute;
      opacity: 0.5;
      background-color: #000;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 2px;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .social__icon svg {
      width: 100%;
      height: 100%;
      fill: #fff;
      position: relative;
      z-index: 2; }
    .social__icon:hover {
      z-index: 3; }
      .social__icon:hover:before {
        background-color: #019edb; }

.footer {
  position: relative;
  padding: 40px 20px 80px 20px; }
  .footer__image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
    @media (max-width: 767.98px) {
      .footer__image {
        background-position: 65% 50%; } }
    .footer__image:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      opacity: 0.45;
      background-color: #000; }
  .footer__title {
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 40px 0px; }
  .footer__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1220px;
    margin: 0px auto 0px; }
    @media (max-width: 992.98px) {
      .footer__body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .footer__column {
    padding: 0px 10px;
    position: relative;
    z-index: 5;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%; }
    @media (max-width: 992.98px) {
      .footer__column {
        margin: 20px 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; } }
    @media (max-width: 767.98px) {
      .footer__column {
        margin: 15px 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
    .footer__column__icon {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
      flex: 0 0 64px;
      display: inline-block;
      width: 64px;
      height: 64px;
      padding: 5px;
      position: relative; }
      .footer__column__icon svg {
        width: 100%;
        height: 100%; }
        .footer__column__icon svg path {
          fill: #fff; }
      .footer__column__icon:before {
        content: "";
        -webkit-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        -moz-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        -ms-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        -o-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        left: -10px;
        border-radius: 2px;
        background-color: #019edb;
        z-index: -1; }
    .footer__column__textitem {
      margin: 0px 20px; }
    .footer__column__textitem__title {
      color: #019edb;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.42px;
      line-height: 20px;
      margin: 15px 0px;
      text-transform: uppercase; }
    .footer__column__textitem__text {
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.8px;
      line-height: 30px; }
      .footer__column__textitem__text:hover {
        text-decoration: underline; }
