//Миксины=========================================================================================================================//
@mixin animation1($name,$time,$delay){animation: $name $time infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-webkit-animation: $name $time infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-moz-animation: $name $time infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-o-animation: $name $time infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;}
@mixin animation2($name,$time,$delay){animation: $name $time infinite linear $delay;-webkit-animation: $name $time infinite linear $delay;-moz-animation: $name $time infinite linear $delay;-o-animation: $name $time infinite linear $delay;}

@mixin anim($time,$delay){-webkit-transition:all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time,$delay){-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin anim_cubic2($time,$delay){-webkit-transition:all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-moz-transition: all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-ms-transition: all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-o-transition: all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;transition: all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;}
@mixin rotate($deg){-moz-transform:rotate($deg);-ms-transform:rotate($deg);-webkit-transform:rotate($deg);-o-transform:rotate($deg);transform:rotate($deg);}
@mixin scale($num){-moz-transform:scale($num);-ms-transform:scale($num);-webkit-transform:scale($num);-o-transform:scale($num);transform:scale($num);}
@mixin flexbox(){display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
@mixin flexboxinline(){display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flex;display:-o-inline-flex;display: inline-flex;}
@mixin flexorder($val){-webkit-box-ordinal-group:$val;-moz-box-ordinal-group:$val;-ms-flex-order:$val;-webkit-order:$val;order:$val;}
@mixin adaptiv-font($pcSize, $mobSize) {$addSize: $pcSize - $mobSize;$addMobSize: $addSize + $addSize * 0.75;
	@media (max-width:$md3+px) {font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maketmw}));}
	@media (min-width:$md3+px) {font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maketmw}));}
}
@mixin adaptiv-lh($pcSize, $mobSize) {$addSize: $pcSize - $mobSize;$addMobSize: $addSize + $addSize * 0.75;
	@media (max-width:$md3+px) {line-height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maketmw}));}
	@media (min-width:$md3+px) {line-height: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maketmw}));}
}
//================================================================================================================================//
//Переменные=======================================================================================================================//
$minwidth:320px;
$maketmw:1920; 	// max-width макета
$stockmw:1000; 	// max-width контента
$mw:1040; 			// max-width whith padding
$md1:$mw+12; 		//@media max-width #1
$md2:992.98; 		//@media max-width #2
$md3:767.98; 		//@media max-width #3
$md4:479.98; 		//@media max-width #4
$md5h:567.99; 		//@media max-height #1
//=================================================================================================================================//
//Шрифт по умолчанию===============================================================================================================//
$fontdefault: Roboto, sans-serif;
//обнуление========================================================================================================================//
*{padding:0px;margin:0px;border:0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
input,button,select:focus,:active{outline: none;}
// a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height:100%;width:100%;margin:0;padding:0;min-width:$minwidth;position:relative;color: #333;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);-webkit-tap-highlight-color: transparent;}
body{line-height:1;font-size:14px;font-family:$fontdefault;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;
	&.lock{overflow: hidden;width:100%}
	&.lockMenu{
		@media (max-width:$md3+px) {overflow: hidden;width:100%;}}
}
input,button,textarea{font-family:$fontdefault;}
input::-ms-clear{display:none;}
//input::-webkit-input-placeholder {color: #ссс;font-weight: 300;}
//input::-moz-placeholder {color: #ссс;font-weight: 300;}
//textarea::-webkit-input-placeholder {color: #ссс;font-weight: 300;}
//textarea::-moz-placeholder {color: #ссс;font-weight: 300;}
input[type="password"]::-ms-reveal {display: none;}
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type="number"] {-moz-appearance: textfield;}
input[type="number"]:hover,input[type="number"]:focus {-moz-appearance: number-input;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}
input[type=date]::-webkit-calendar-picker-indicator {display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
//=================================================================================================================================//
.noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
//=================================================================================================================================//

.game {
	width: 100%;
	@include flexbox();
	flex-direction: column;
	&__row {
		height: 50px;
		@include flexbox();
	}
	&__cell {
		min-width: 50px;
		width: 50px;
		height: 50px;
		flex: 0 0 50px;
		border: 1px solid #fff;
		background-color: #2587;
		position: relative;
		&.active {
			&:before {
				content:'';
				position: absolute;
				width: calc(100% - 10px);
				height: calc(100% - 10px);
				top: 5px;
				left: 5px;
				background: rgb(255,210,44);
				background: linear-gradient(90deg, rgba(255,210,44,1) 0%, rgba(184,178,0,1) 100%);
				border-radius: 50%;
				border: 2px solid #cbb101;
			}
		}
		&.select {
			background-color: #f55c;
		}
		
	}
}

.info-btn {
	border: 2px solid #fff;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 5px;
	right: 5px;
	z-index: 10;
	background-color: #999;
	color: #fff;
	@include flexbox();
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}

.modal {
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10000;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	&.active {display: flex}
	&__item {
		background-color: #fff;
	}
	&__btn-close {
		position: absolute;
		top: -1px;
		right: -1px;
		line-height: 16px;
		font-size: 20px;
		padding: 5px 10px;
		border: 1px solid #ccc;
		color: #333;
		cursor: pointer;
		&:hover {
			background-color: #d80d28;
			color: #fff;
		}
	}
	&__btn {
		display: inline-block;
		padding: 5px 20px;
		border: 1px solid #adadad;
		border-radius: 3px;
		color: #000;
		text-decoration: none;
		background-color: #fff;
		&:hover {
			border-color: #0078d7;
			background-color: #e5f1fb;
		}
		&:active {
			border-color: #005499;
			background-color: #cce4f7;
		}
	}
	&__overflow {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-color: #000;
		z-index: -1;
		opacity: 0.2;
		&.active {display: inline-block}
	}
}
.modal-1 {
	display: none;
	border: 1px solid #999;
	max-width: 500px;
	padding: 40px 0px 0px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	position: relative;
	overflow: hidden;
	&.active {display: inline-block}
	&__item-image {
		svg {
			width: 40px;
			height: 40px;
		}
	}
	&__item-content {
		margin: 0px 40px 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__item-title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		margin: 10px 0px;
		padding: 0px 10px;
	}
	&__item-text {
		padding: 10px;
		width: 100%;
	}
	&__item-btn-body {
		text-align: right;
		background-color: #f0f0f0;
		padding: 15px 40px;
	}
}