$bgCol:rgb(30, 30, 30);
$color_button:rgba(30, 30, 30, 0.5);
$number:#ccc;
$bordermini: var(--colorR1);

body.compensate-for-scrollbar {
  overflow: hidden;
}

.gbox-active {
  height: auto;
}

.gbox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.gbox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;

  * {
    box-sizing: border-box;
  }
}

.gbox-outer, .gbox-inner, .gbox-bg, .gbox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gbox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.gbox-bg {
  background: $bgCol;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.gbox-is-open .gbox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.gbox-infobar, .gbox-toolbar, .gbox-caption, .gbox-navigation .gbox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease, visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997;
}

.gbox-show-infobar .gbox-infobar, .gbox-show-toolbar .gbox-toolbar, .gbox-show-caption .gbox-caption, .gbox-show-nav .gbox-navigation .gbox-button {
  opacity: 1;
  transition: opacity .25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.gbox-infobar {
  color: $number;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gbox-toolbar {
  right: 0;
  top: 0;
}

.gbox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994;
}

.gbox-is-open .gbox-stage {
  overflow: hidden;
}

.gbox-slide {
  -webkit-backface-visibility: hidden;

  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994;

  &::before {
    content: '';
    display: inline-block;
    font-size: 0;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

.gbox-is-sliding .gbox-slide, .gbox-slide--previous, .gbox-slide--current, .gbox-slide--next {
  display: block;
}

.gbox-slide--image {
  overflow: hidden;
  padding: 44px 0;

  &::before {
    display: none;
  }
}

.gbox-slide--html {
  padding: 6px;
}

.gbox-content {
  background: #999;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.gbox-slide--image .gbox-content {
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.gbox-can-zoomOut .gbox-content {
  cursor: zoom-out;
}

.gbox-can-zoomIn .gbox-content {
  cursor: zoom-in;
}

.gbox-can-swipe .gbox-content, .gbox-can-pan .gbox-content {
  cursor: -webkit-grab;
  cursor: grab;
}

.gbox-is-grabbing .gbox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.gbox-container [data-selectable='true'] {
  cursor: text;
}

.gbox-image {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.gbox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 1;
}

.gbox-slide--video .gbox-content, .gbox-slide--map .gbox-content, .gbox-slide--pdf .gbox-content, .gbox-slide--iframe .gbox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.gbox-slide--video .gbox-content {
  background: #000;
}

.gbox-slide--map .gbox-content {
  background: #e5e3df;
}

.gbox-slide--iframe .gbox-content {
  background: #fff;
}

.gbox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.gbox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

/* Fix iOS */

.gbox-error {
  
  text-align: center;
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;

  p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    svg {
      width: 100%;
      height: 128px;
    }
    path {
      opacity: 0.3;
      fill: #000;
    }
  }
}

/* Buttons */

.gbox-button {
  background: $color_button;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
  color: #ccc;

  &:visited, &:link {
    color: #ccc;
  }

  &:hover {
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &.gbox-focus {
    outline: 1px dotted;
  }

  &[disabled] {
    color: #888;
    cursor: default;
    outline: none;

    &:hover {
      color: #888;
      cursor: default;
      outline: none;
    }
  }

  div {
    height: 100%;
  }

  svg {
    display: block;
    height: 100%;
    overflow: visible;
    position: relative;
    width: 100%;


    path {
      fill: currentColor;
      stroke-width: 0;
    }
  }
}

/* Fix IE11 */

.gbox-button--play svg:nth-child(2), .gbox-button--fsenter svg:nth-child(2), .gbox-button--pause svg:nth-child(1), .gbox-button--fsexit svg:nth-child(1) {
  display: none;
}

.gbox-progress {
  background: lime;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transform-origin: 0;
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998;
}

/* Close button on the top right corner of html content */

.gbox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;

  &:hover {
    color: #fff;
    opacity: 1;
  }
}

.gbox-slide--html .gbox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.gbox-slide--image.gbox-is-scaling .gbox-content {
  overflow: hidden;
}

.gbox-is-scaling .gbox-close-small, .gbox-is-zoomable.gbox-can-pan .gbox-close-small {
  display: none;
}

/* Navigation arrows */

.gbox-navigation {
  .gbox-button {
    background-clip: content-box;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: calc(50% - 50px);
    width: 70px;

    div {
      padding: 7px;
    }
  }

  .gbox-button--arrow_left {
    left: 0;
    left: env(safe-area-inset-left);
    padding: 31px 26px 31px 6px;
  }

  .gbox-button--arrow_right {
    padding: 31px 6px 31px 26px;
    right: 0;
    right: env(safe-area-inset-right);
  }
}

/* Caption */

.gbox-caption {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

@supports (padding: max(0px)) {
  .gbox-caption {
     padding: 75px unquote('max(44px, env(safe-area-inset-right))') unquote('max(25px, env(safe-area-inset-bottom))') unquote('max(44px, env(safe-area-inset-left))');
  }
}

.gbox-caption--separate {
  margin-top: -50px;
}

.gbox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.gbox-caption a {
  color: #ccc;
  text-decoration: none;

  &:link, &:visited {
    color: #ccc;
    text-decoration: none;
  }

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

/* Loading indicator */

.gbox-loading {
  animation: gbox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@keyframes gbox-rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Transition effects */

.gbox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */

.gbox-fx-slide {
  &.gbox-slide--previous {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &.gbox-slide--next {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  &.gbox-slide--current {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* transitionEffect: fade */

.gbox-fx-fade {
  &.gbox-slide--previous, &.gbox-slide--next {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.gbox-slide--current {
    opacity: 1;
  }
}

/* transitionEffect: zoom-in-out */

.gbox-fx-zoom-in-out {
  &.gbox-slide--previous {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1.5);
  }

  &.gbox-slide--next {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }

  &.gbox-slide--current {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

/* transitionEffect: rotate */

.gbox-fx-rotate {
  &.gbox-slide--previous {
    opacity: 0;
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  &.gbox-slide--next {
    opacity: 0;
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  &.gbox-slide--current {
    opacity: 1;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* transitionEffect: circular */

.gbox-fx-circular {
  &.gbox-slide--previous {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  }

  &.gbox-slide--next {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  }

  &.gbox-slide--current {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

/* transitionEffect: tube */

.gbox-fx-tube {
  &.gbox-slide--previous {
    transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  }

  &.gbox-slide--next {
    transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  }

  &.gbox-slide--current {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .gbox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }

  .gbox-slide--image {
    padding: 6px 0;
  }

  .gbox-close-small {
    right: -6px;
  }

  .gbox-slide--image .gbox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }

  .gbox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }

  @supports (padding: max(0px)) {
    .gbox-caption {
      padding-left: unquote('max(12px, env(safe-area-inset-left))');
      padding-right: unquote('max(12px, env(safe-area-inset-right))');
    }
  }
}

/* Share */

.gbox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;

  h1 {
    color: #222;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.gbox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;

  &:visited, &:link {
    color: #fff;
  }

  &:hover {
    text-decoration: none;
  }
}

.gbox-share__button--fb {
  background: #3b5998;

  &:hover {
    background: #344e86;
  }
}

.gbox-share__button--pt {
  background: lime;

  &:hover {
    background: #aa0719;
  }
}

.gbox-share__button--tw {
  background: #1da1f2;

  &:hover {
    background: #0d95e8;
  }
}

.gbox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;

  path {
    fill: #fff;
  }
}

.gbox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

/* Thumbs */

.gbox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.gbox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.gbox-show-thumbs {
  .gbox-thumbs {
    display: block;
  }

  .gbox-inner {
    right: 212px;
  }
}

.gbox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.gbox-thumbs-x .gbox-thumbs__list {
  overflow: hidden;
}

.gbox-thumbs-y .gbox-thumbs__list {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px;
  }
}

.gbox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;

  &::before {
    border: 3px solid $bordermini;
    bottom: 0;
    content: '';
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: 0px;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 99991;
  }

  &:focus::before {
    opacity: .5;
  }

  &.gbox-thumbs-active::before {
    opacity: 1;
  }
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .gbox-thumbs {
    width: 110px;
  }

  .gbox-show-thumbs .gbox-inner {
    right: 110px;
  }

  .gbox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}