.slick-slider{
	position: relative;
	.slick-track, .slick-list {}
	.slick-list{}
	.slick-track{}
	.slick-slide {}
	//arrow
	.slick-next, .slick-prev {
		@include anim(0.1s,0s,all);
		height: 100%;
		width: 60px;
		bottom: 0;
		z-index: 5;
		@media (max-width:$md3+px) {
			width: 40px;
		}
		@media (max-width:$md4+px) {
			width: 30px;
		}
		svg {
			width: 40px;
			path{
				@include anim(0.1s,0s,all);
				fill:#fffc;
				stroke: #666;
				stroke-width: 10;
			}
			@media (max-width:$md3+px) {
				width: 30px;
			}
		}
		&:hover{svg {path{fill:var(--colorO);stroke: #ccc;}}}
		&:active{svg {path{fill:var(--colorR);}}}
	}
	.slick-next {right: 0px;}
	.slick-prev {left: 0px;}
	//dots
	&.slider__body-cart {
		.slick-dots {
			padding: 0;
			justify-content: center;
			width: 100%;
			li {
				width: 30px;
				height: 30px;
				button {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
	.slick-dots {
		@include flexboxinline();
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		bottom: 0px;
		right: 0px;
		padding: 0px 60px 0px 0px;
		width: auto;
		@media (max-width:$md3+px) {
			padding: 0;
			justify-content: center;
			width: 100%;
		}
		&:hover {li{opacity: 1;}}
		li {
			@include anim_cubic2(0.1s,0s);
			width: 40px;
			height: 40px;
			margin: 0;
			@media (max-width:$md3+px) {
				width: 35px;
				height: 35px;
			}
			opacity: 0.7;
			&:hover{button {background-color: #fff8;}}
			button {@include anim(0.1s,0s,all);
				&:before {
					content:'';
					display: none;
				}
				border-radius: 4px;
				width: 20px;
				height: 20px;
				border: 2px solid #fff;
				position: absolute;
				top: 25%;
				left: 25%;
				@media (max-width:$md3+px) {
					top: 7px;
					left: 7px;
				}
			}
			&.slick-active {button {background-color: #fff;}}
		}
	}
}
.slick-dotted.slick-slider {margin: 0 !important}

.slider-body-other-models {
	.slick-next {
		&:after {left: 8px;}
		right: -25px;
		@media (max-width:$md3+px) {
			right: -20px;
		}
	}
	.slick-prev {
		&:after {right: 8px;}
		left: -25px;
		@media (max-width:$md3+px) {
			left: -20px;
		}
	}
	.slick-next, .slick-prev {
		@include anim(0.1s,0s,all);
		height: 100%;
		width: 60px;
		bottom: 0;
		z-index: 5;
		&:after {
			content:'';
			position: absolute;
			width: 40px;
			height: 40px;
			top: calc(50% - 21px);
			border-radius: 50%;
			border: 2px solid #0004;
			background-color: #fff;
		}
		svg {
			position: relative;
			z-index: 1;
			width: 24px;
			path{
				@include anim(0.1s,0s,all);
				fill: var(--colorO);
				stroke: #666;
				stroke-width: 10;
			}
		}
		&:hover{svg {path{fill:var(--colorO);stroke: #ccc;}}}
		&:active{svg {path{fill:var(--colorR);}}}
	}
}