@import "variables.scss";
//Шрифт по умолчанию===============================================================================================================//
$fontdefault: Roboto, sans-serif;
//обнуление========================================================================================================================//
*{padding:0px;margin:0px;border:0px}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
input,button,select:focus,:active{outline: none}
// a:focus,a:active{outline: none}
aside,nav,footer,header,section{display: block}
html,body{height:100%;width:100%;margin:0;padding:0;min-width:$minwidth;position:relative;color: #333;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);-webkit-tap-highlight-color: transparent}
body{line-height:1;font-size:14px;font-family:$fontdefault;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;
	&.lock{overflow: hidden;width:100%}
	&.lockMenu{
		@media (max-width:$md3+px) {overflow: hidden;width:100%}}
}
input,button,textarea{font-family:$fontdefault}
input::-ms-clear{display:none}
//input::-webkit-input-placeholder {color: #ссс;font-weight: 300}
//input::-moz-placeholder {color: #ссс;font-weight: 300}
//textarea::-webkit-input-placeholder {color: #ссс;font-weight: 300}
//textarea::-moz-placeholder {color: #ссс;font-weight: 300}
input[type="password"]::-ms-reveal {display: none}
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0}
input[type="number"] {-moz-appearance: textfield}
input[type="number"]:hover,input[type="number"]:focus {-moz-appearance: number-input}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0}
input[type=date]::-webkit-calendar-picker-indicator {display: none}
button{cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
a,a:visited{text-decoration:none}
a:hover{text-decoration:none}
ul li{list-style:none}
img{vertical-align:top}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit}
//СТАРТОВЫЕ СТИЛИ=========================================================================================================================//
.noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
.ibg {background-position: center;background-size: cover;background-repeat: no-repeat;
	img {display: none !important;}}
//ПОДКЛЮЧАЕМЫЕ СТИЛИ===============================================================================================================//
@import "header.scss";
@import "footer.scss";
@import "slider.scss";
//ОСНОВНАЯ СЕТКА===================================================================================================================//
body {
	padding-top: 150px;
	max-width:$mw*2+px;
	width: 100%;
	margin: 0 auto;
}
.wrapper {
	overflow: hidden;
}
.container {
	max-width:$mw+px;
	margin: 0 auto;
	width: 100%;
	padding-left: ($mw - $stockmw)/2+px;
	padding-right: ($mw - $stockmw)/2+px;
	@media (max-width:$md3+px) {padding: 0 ($mw - $stockmw)/4+px}
}
.m-t-1 {margin-top: 10px;}
.m-t-2 {margin-top: 20px;}
.m-t-3 {margin-top: 30px;}
.m-t-4 {margin-top: 40px;}
.m-t-5 {margin-top: 50px;}
.m-t-6 {margin-top: 60px;}
.m-b-1 {margin-bottom: 10px;}
.m-b-2 {
	margin-bottom: 20px;
	@media (max-width:$md3+px) {
		margin-bottom: 10px;
	}
}
.m-b-3 {
	margin-bottom: 30px;
	@media (max-width:$md3+px) {
		margin-bottom: 20px;
	}
}
.m-b-4 {
	margin-bottom: 40px;
	@media (max-width:$md3+px) {
		margin-bottom: 20px;
	}
}
.m-b-5 {
	margin-bottom: 50px;
	@media (max-width:$md3+px) {
		margin-bottom: 20px;
	}
}
.m-b-6 {
	margin-bottom: 60px;
	@media (max-width:$md3+px) {
		margin-bottom: 40px;
	}
}
.m-a {margin: 0 auto;}
//ОСНОВНОЙ БЛОК====================================================================================================================//
.breadcrumb {
	@include flexbox();
	flex-wrap: wrap;
	padding: 7px 5px;
	margin: 10px 0 20px;
	@media (max-width:$md3+px) {
		margin: 10px 0 0 0;
		padding: 5px 0;
	}
	li {
		font-weight: 700;
		position: relative;
		line-height: 25px;
		margin: 0 3px;
		@media (max-width:$md3+px) {font-size: 12px;line-height: 20px;margin: 0 1px;}
		@media (max-width:$md3+px) {font-size: 11px}
		&.active {
			color: #999;margin: 0;
			&:after {content: '';}
		}
		&:after {
			content:"/";
			color: #0004;
			font-size: 20px;
			position: relative;
			top: 2px;
			@media (max-width:$md3+px) {
				font-size: 16px;
			}
		}
		a {
			color: #333;
			@media (max-width:$md3+px) {padding: 5px 0}
			&:hover{text-decoration: underline; color: var(--colorO);}
		}
	}
}
.item-phone {}

.phone-type1 {
	color: #333;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 38px;
	span.pre {
		font-size: 14px;
		margin-right: 4px;
	}
}

.title {
	color: #333;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	&:before {
		content:'';
		position: absolute;
		width: 70%;
		height: 3px;
		bottom: -2px;
		left: 0px;
		background-color: var(--colorR);
	}
	&.v1 {
		font-size: 22px;
		line-height: 26px;
	}
	&.v2 {
		font-size: 18px;
		line-height: 22px;
	}
}

.btn {
	@include anim_cubic2(0.1s,0s);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 2px solid transparent;
	display: inline-block;
	padding: 0px 25px 0;
	height: 40px;
	border-radius: 5px;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	line-height: 38px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	svg {path {@include anim_cubic2(0.1s,0s)}}
	&.v2 {width: 100%;}
	@media (max-width:$md3+px) {
		padding: 0 15px;
		height: 35px;
		line-height: 32px;
		font-size: 14px;
	}
	&.btn-type1 {
		border-color: var(--colorO);
		color: var(--colorO);
		&:hover {
			color: #fff;
			background-color: var(--colorO);
		}
	}
	&.btn-type2 {
		background-color: #fff;
		&:hover {
			color: var(--colorO);
		}
	}
	&.btn-type3 {
		color: #fff;
		text-transform: uppercase;
		background-color: var(--colorO);
		border-right-color: var(--colorO);
		border-left-color: var(--colorR);
		background: linear-gradient(to right, var(--colorR) 0%, var(--colorO) 100%);
		svg {
			margin: 0px 0px 0px 10px;
			position: relative;
			top: 2px;
			path {fill: #fff;}
		}
		&:hover {
			background: #fff;
			border-color: var(--colorR);
			color: var(--colorR);
			path {fill: var(--colorR)}
		}
	}
	&.btn-type4 {
		border-color: var(--colorR);
		color: var(--colorR);
		&:hover {
			background-color: var(--colorR);
			color: #fff;
		}
	}
	&.btn-type5 {
		color: #fff;
		background-color: var(--colorR);
		border-color: var(--colorR);
		&:hover {
			background: #fff;
			border-color: var(--colorR);
			color: var(--colorR);
			path {fill: var(--colorR)}
		}
	}
	&.btn-type6 {
		color: #fff;
		text-transform: uppercase;
		background-color: var(--colorO);
		border-right-color: var(--colorO);
		border-left-color: var(--colorR);
		background: linear-gradient(to right, var(--colorR) 0%, var(--colorO) 100%);
		&:hover {
			background: #fff;
			border-color: var(--colorR);
			color: var(--colorR);
		}
	}
	&.btn-type7 {
		color: #fff;
		background-color: var(--colorO);
		border-color: var(--colorO);
		&:hover {
			background: #fff;
			border-color: var(--colorO);
			color: var(--colorO);
			path {fill: var(--colorO)}
		}
	}
}
.form-agree {
	margin: 5px 0px 0px 0px;
	font-size: 12px;
	font-weight: 400;
	display: block;
	color: #777;
	a {
		color: #666;
		font-weight: 700;
		text-decoration: underline;
		&:hover {text-decoration: none;}
	}
}
//===================================================//
.main-block-baner {
	margin: 0px 0px 30px 0px;
	height: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	&__slider {
		overflow: hidden;
		@include flexbox();
	}
	&__item {
		overflow: hidden;
		flex: 0 0 100%;
		position: relative;
		@media (max-width:$md4+px) {
			text-align: center;
		}
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
		img {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
	&__text {
		position: relative;
		top: 5px;
		margin: 110px 0px 0px 40px;
		z-index: 1;
		@include flexboxinline();
		flex-direction: column;
		padding: 30px 70px;
		color: #ffffff;
		font-size: 24px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		@media (max-width:$md2+px) {
			padding: 20px 70px;
			margin: 110px 0px 30px 40px;
		}
		@media (max-width:$md3+px) {
			padding: 20px 40px;
			margin: 130px 0px 40px 40px;
		}
		@media (max-width:$md4+px) {
			padding: 20px 40px 20px 20px;
			margin: 130px 0 40px;
			align-items: center;
			justify-content: center;
		}
		.name {
			margin: 0px 0px 0px -50px;
			font-size: 45px;
			width: 100%;
			@media (max-width:$md2+px) {
				font-size: 40px;
			}
			@media (max-width:$md3+px) {
				font-size: 26px;
				margin: 0px 0px 0px -30px;
			}
			@media (max-width:$md4+px) {
				font-size: 18px;
				margin: 0px 0px 0px 0px;
			}
		}
		.text {
			margin: 0px 0px 0px -25px;
			padding: 10px 0 10px;
			@media (max-width:$md2+px) {
				font-size: 20px;
			}
			@media (max-width:$md3+px) {
				font-size: 15px;
				margin: 0px 0px 0px -20px;
			}
			@media (max-width:$md4+px) {
				font-size: 14px;
				margin: 0px 0px 0px 10px;
			}
		}
		.price {
			padding: 10px 0;
			font-size: 40px;
			@media (max-width:$md2+px) {
				font-size: 30px;
			}
			@media (max-width:$md3+px) {
				font-size: 24px;
				padding: 5px 0;
			}
			@media (max-width:$md4+px) {
				font-size: 22px;
				margin: 0;
			}
		}
		.btn {
			margin: 10px -25px 0px 25px;
			@media (max-width:$md3+px) {
				margin: 10px -25px 0px 15px;
			}
			@media (max-width:$md4+px) {
				margin: 10px 0px 0px 25px;
			}
		}
		&:before {
			content:'';
			background-color: #fff8;
			transform: skew(-20deg, -5deg);
			position: absolute;
			width: 100%;
			height: 75%;
			bottom: 0px;
			left: 10px;
			z-index: -1;
			
		}
		&:after {
			content:'';
			background-color: var(--colorR);
			background-image: linear-gradient(30deg, var(--colorR) 0%,  var(--colorO) 100%);
			transform: skew(20deg, 1deg);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			z-index: -1;
		}
	}
}

.models-block {
	&__item-body {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border: 1px solid #ccc;
		background-color: #ffffff;
		border-radius: 5px;
		overflow: hidden;
		margin: 0px 0px 40px 0px;
		@include flexbox();
		@media (max-width:$md3+px) {
			flex-direction: column;
			margin: 0px auto 25px;
			max-width: 500px;
		}
		&.v1 {
			@media (min-width:$md3+px) {
				.models-block__item {
					&:first-child {@include flexorder(1);}
					&:last-child {@include flexorder(2);}
				}
			}
			
		}
		&.v2 {
			@media (min-width:$md3+px) {
				.models-block__item {
					&:first-child {@include flexorder(2);}
					&:last-child {@include flexorder(1);}
				}
			}
		}
	}
	&__item {
		flex: 1 1 50%;
		max-width: 50%;
		@media (max-width:$md3+px) {max-width: 100%}
		img {
			max-height: 300px;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			@media (max-width:$md3+px) {max-height: 200px}
		}
	}
	&__item-list {
		@include flexboxinline();
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 20px 30px;
		.title {
			align-self: start;
			padding: 10px 0px 0px 0px;
			margin-left: 15px;
		}
		@media (max-width:$md2+px) {padding: 10px}
		@media (max-width:$md3+px) {padding: 20px 10px}
	}
	&__item-list-body {
		height: 100%;
		@include flexbox();
		justify-content: start;
		flex-wrap: wrap;
		margin: 0px 0px 10px 0px;
	}
	&__item-list-item {
		flex: 1 1 50%;
		@include flexbox();
		align-items: center;
		@media (max-width:$md3+px) {flex: 1 1 33%;padding: 10px 0px}
		@media (max-width:$md4+px) {flex: 1 1 50%}
		svg {
			margin: 0px 15px 0px 20px;
			width: 35px;
			height: 35px;
			@media (max-width:$md2+px) {margin: 0px 10px 0px 15px;width: 30px;height: 30px}
			@media (max-width:$md4+px) {margin: 0px 10px 0px 5px}
		}
	}
	&__item-list-item-value {font-size: 16px;}
	&__item-list-item-title {font-size: 14px;}
}

.stock-block {
	&__item-body {
		@include flexbox();
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0px -5px;
		@media (max-width:$md2+px) {
			flex-direction: column;
		}
		@media (max-width:$md4+px) {
			justify-content: center;
		}
	}
	&__item {
		flex: 0 1 calc(50% - 10px);
		max-width: calc(50% - 10px);
		border: 1px solid #ddd;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		margin: 5px 5px 20px;
		@include flexbox();
		@media (max-width:$md2+px) {
			flex: 1 1 100%;
			max-width: 550px;
			margin: 5px auto 20px;
		}
		@media (max-width:$md4+px) {
			max-width: 260px;
			flex-direction: column;
		}
	}
	&__item-image {
		flex: 0 0 33.33%;
		@media (max-width:$md3+px) {
			flex: 0 0 150px;
		}
		@media (max-width:$md4+px) {
			flex: 1 1 auto;
			width: 100%;
			max-height: 150px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
	&__item-content {
		@include flexbox();
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
		position: relative;
		background-color: #fff;
		@media (max-width:$md4+px) {
			align-items: center;
			text-align: center;
			padding: 10px 5px;
		}
		&:before {
			content:'';
			position: absolute;
			width: 20px;
			height: 20px;
			top: 10px;
			left: -10px;
			border: 10px solid transparent;
			border-left: 10px solid #fff;
			border-top: 10px solid #fff;
			@include rotate(-45deg);
		}
	}
	&__item-content-title {
		font-size: 18px;
		font-weight: 700;
		margin: 0px 0px 10px 0px;
		&:before, &:after {content:'–';color: var(--colorR);opacity: 0.75;}
		@media (max-width:$md4+px) {
			font-size: 15px;
		}
	}
	&__item-content-subtitle {
		font-size: 18px;
		font-weight: 700;
		margin: 0px 0px 10px 0px;
		&:before {content:'«';opacity: 0.75;}
		&:after {content:'»';opacity: 0.75;}
		@media (max-width:$md4+px) {
			font-size: 14px;
		}
	}
	&__item-content-text {
		height: 100%;
		border-top: 1px solid var(--colorR);
		padding: 20px 0px 0px 0px;
		margin: 0px 0px 10px 0px;
		font-weight: 700;
		line-height: 16px;
		@media (max-width:$md4+px) {
			padding: 10px 0px 0px 0px;
			font-weight: 400;
			font-size: 13px;
		}
	}
	&__item-content-link {
		font-weight: 700;
		color: var(--colorR);
		margin: 0px 0px 10px 0px;
		text-decoration: underline;
		&:hover {text-decoration: none;}
	}
}

.stock-baner {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	overflow: hidden;
	padding: 20px 20px 20px calc(50% - 10px);
	position: relative;
	z-index: 1;
	background-image: url('../images/stock1.jpg');
	background-position: 20% 50%;
	background-size: cover;
	text-align: center;
	flex-direction: column;
	@media (max-width:$md3+px) {
		background-color: #fafafa;
		background-image: none;
		padding: 10px 20px 10px 105px;
	}
	@media (max-width:$md4+px) {
		padding: 20px 0px;
	}
	&__icon {
		position: absolute;
		left: 0%;
		top: 0%;
		right: auto;
		bottom: 0%;
		max-height: 100%;
		min-height: 100%;
		z-index: -1;
		svg {
			max-height: 100%;
			min-height: 100%;
			width: auto;
			stop {
				&:first-child {stop-color: var(--colorO)}
				&:last-child {stop-color: var(--colorR)}
			}
			@media (max-width:$md4+px) {
				min-height: auto;
				height: 100px;
			}
		}
	}
	&__title {
		display: inline-block;
		font-size: 30px;
		text-align: center;
		border-bottom: 2px solid #a8a8a8;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0px 20px 10px;
		span {
			color: var(--colorR);
			@media (max-width:$md4+px) {display: block;}
		}
		@media (max-width:$md3+px) {
			font-size: 25px;
		}
		@media (max-width:$md4+px) {
			display: block;
			padding: 0px 40px 30px 60px;
			margin: 0px 0px 0px 0px;
		}
	}
	&__text {
		text-align: center;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		padding: 5px 20px;
		margin: 10px 0px;
		border-radius: 5px;
		background-color: #f7f7f780;
		@media (max-width:$md3+px) {
			padding: 10px;
			background-color: transparent;
		}
	}
}

.text-block {
	&__body {
		@include flexbox();
		@media (max-width:$md2+px) {
			flex-direction: column;
		}
	}
	&__image {
		flex: 1 1 50%;
		text-align: center;
		img {
			width: 100%;
			border-radius: 5px;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			@media (max-width:$md2+px) {
				width: auto;
			}
			@media (max-width:$md3+px) {
				max-height: 200px;
			}
			@media (max-width:$md4+px) {
				width: 100%;
			}
		}
		&.v2 {
			text-align: center;
			border-radius: 5px;
			@include anim_cubic2(0.1s,0s);
			img {
				border: 2px solid #0002;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
				border-radius: 5px;
				width: auto;
				height: 100%;
				object-fit: cover;
				object-position: 50% 50%;
			}
			&:hover {
				img {border-color: var(--colorR);}
			}
		}
	}
	&__title {
		margin: 0px 0px 10px 0px;
	}
	&__text {
		flex: 1 1 50%;
		@include flexbox();
		flex-direction: column;
		justify-content: flex-start;
		font-size: 16px;
		line-height: 20px;
		text-align: justify;
		padding: 10px 20px;
		@media (max-width:$md3+px) {
			padding: 10px;
		}
		@media (max-width:$md4+px) {
			padding: 10px 0;
		}
	}
}

.in-stock-block {
	&__body {
		padding: 10px 0px;
		text-align: center;
		@media (max-width:$md3+px) {padding: 0;}
	}
	&.v2 &__body {
		@media (max-width:$md3+px) {
			max-width: 400px;
			margin: 0px auto 0px;
		}
	}
	&__item {
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		border: 1px solid #0002;
		margin: 0px 0px 20px 0px;
		@include flexbox();
		justify-content: space-between;
		@media (max-width:$md2+px) {
			flex-wrap: wrap;
		}
	}
	&.v2 &__item {
		@media (max-width:$md1+px) {flex-wrap: wrap;}
	}
	&__item-column {
		padding: 10px 20px;
		width: 100%;
		flex: 1 1 25%;
		@media (max-width:$md3+px) {padding: 10px;}
	}
	&__image {
		@include flexbox();
		align-items: center;
		@media (max-width:$md3+px) {
			flex: 0 1 50%;
		}
		@media (max-width:$md4+px) {
			flex: 1 1 100%;
		}
		img {
			max-height: 220px;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			@media (max-width:$md3+px) {
				max-height: 120px;
				width: auto;
				margin: 0px auto 0px;
			}
		}
	}
	&.v2 &__image {
		flex: 0 0 25%;
		@media (max-width:$md2+px) {
			flex: 1 1 20%;
			@include flexorder(2);
		}
		@media (max-width:$md3+px) {
			flex: 1 1 100%;
		}
	}
	&__small-image {
		padding: 0;
		flex: 0 1 80px;
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width:$md2+px) {
			flex: 1 1 100%;
			flex-direction: row;
			@include flexorder(4);
			border-top: 1px solid #0002;
		}
		@media (max-width:$md3+px) {
			padding: 10px 0px;
		}
	}
	&__small-image-item {
		margin: 3px 0px;
		border: 1px solid transparent;
		width: 100%;
		height: 100%;
		max-height: 70px;
		object-fit: cover;
		object-position: 50% 50%;
		&:hover {
			border-color: var(--colorO);
		}
	}
	&__name {
		flex: 1 1 15%;
		padding: 20px 10px;
		@include flexbox();
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media (max-width:$md2+px) {
			flex: 1 1 10%;
		}
		@media (max-width:$md3+px) {
			flex: 1 1 40%;
		}
		@media (max-width:$md4+px) {
			flex: 1 1 100%;
			border-top: 1px solid #0002;
		}
	}
	&.v2 &__name {
		padding: 20px 10px 20px 20px;
		flex: 1 1 20%;
		text-align: left;
		align-items: start;
		justify-content: space-between;
		@media (max-width:$md2+px) {
			flex: 1 1 30%;
			@include flexorder(3);
		}
		@media (max-width:$md3+px) {
			text-align: center;
			align-items: center;
			padding: 10px !important;
		}
	}
	&__name-title {
		font-size: 20px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0px 0px 10px 0px;
		@media (max-width:$md3+px) {font-size: 20px;margin: 0px 0px 5px 0px;}
	}
	&__name-mod {
		font-size: 18px;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
		@media (max-width:$md3+px) {font-size: 14px;margin: 0px 0px 10px 0px;}
	}
	&.v2 &__name-mod {
		margin: 0;
		font-weight: 400;
		display: inline-block;
	}
	&__name-check-item {
		padding: 5px 10px 5px 25px;
		position: relative;
		font-weight: 700;
		width: 100%;
		text-align: left;
		&:before, &:after {
			content:'';
			position: absolute;
		}
		&.is-check {
			color: #97c12a;
			&.v2 {
				color: #333;
				&:before {
					border-left-color: var(--colorO);
					border-top-color: var(--colorO);
				}
			}
			&:before {
				width: 15px;
				height: 20px;
				left: 0px;
				top: calc(50% - 15px);
				border: 4px solid transparent;
				border-left: 3px solid #97c12a;
				border-top: 3px solid #97c12a;
				transform: skew(-20deg) rotate(-160deg);
			}
		}
		&.no-check {
			color: #f35f57;
			&:before {
				top: calc(50% - 9px);
				left: 9px;
				width: 2px;
				height: 20px;
				background-color: #f35f57;
				transform: skew(-20deg) rotate(-55deg);
			}
			&:after {
				top: calc(50% - 0px);
				left: 0px;
				width: 20px;
				height: 2px;
				background-color: #f35f57;
				transform: skew(20deg) rotate(-30deg);
			}
		}
	}
	&__name-price-block {
		text-align: left;
		padding: 5px 0px 0px 0px;
		margin: 10px 0px;
		@media (max-width:$md4+px) {
			text-align: center;
		}
	}
	&__name-price-old {
		display: inline-block;
		position: relative;
	}
	&__name-price-old-item {
		opacity: 0.7;
		font-size: 16px;
		margin: 5px 20px 5px 0px;
		white-space: nowrap;
		position: relative;
			&:before {
				content:'';
				position: absolute;
				width: 110%;
				height: 2px;
				top: calc(50% - 1px);
				left: -5%;
				background-color: var(--colorR);
				transform: skew(0deg, -10deg);
			}
	}
	&__name-price-old-icon {
		cursor: pointer;
		position: absolute;
		bottom: 15px;
		right: 0px;
		font-size: 12px;
		font-weight: 700;
		border: 1px solid var(--colorO);
		border-radius: 50%;
		width: 16px;
		height: 16px;
		line-height: 0;
		@include flexbox();
		align-items: center;
		background-color: #fff;
		justify-content: center;
		&:hover {
			.in-stock-block__name-price-old-label {
				opacity: 1;
				pointer-events: inherit;
			}
		}
	}
	&__name-price-old-label {
		opacity: 0;
		pointer-events: none;
		text-align: center;
		background-color: #fff;
		border: 1px solid var(--colorO);
		position: absolute;
		width: auto;
		height: auto;
		bottom: 10px;
		left: 10px;
		z-index: 1;
		padding: 5px 10px;
		border-radius: 5px;
		div {
			white-space: nowrap;
			line-height: 20px;
		}
		@media (max-width:$md4+px) {
			left: calc(50% - 20vw);
		}
	}
	&__name-price {
		display: inline-block;
		font-size: 24px;
		font-weight: 700;
		color: var(--colorO);
		@media (max-width:$md1+px) {
			font-size: 30px;
			margin: 0px 0px 0px 10px;
		}
	}
	&__name-list-item {
		font-size: 15px;
		position: relative;
		padding: 0px 0px 0px 10px;
		margin: 5px 0px 5px 5px;
		font-weight: 700;
		display: inline-block;
		@media (max-width:$md3+px) {
			margin: 5px;
		}
		&:before {
			content:'';
			position: absolute;
			width: 6px;
			height: 6px;
			top: calc(50% - 3px);
			left: 0px;
			border-radius: 50%;
			background-color: var(--colorO);
		}
	}
	&__description {
		border-left: 1px solid #0002;
		border-right: 1px solid #0002;
		padding: 0px 20px;
		@include flexbox();
		text-align: left;
		flex-direction: column;
		justify-content: center;
		@media (max-width:$md2+px) {
			@include flexorder(4);
			flex: 1 1 50%;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: stretch;
			justify-content: start;
			border: 0;
			border-top: 1px solid #0002;
		}
		@media (max-width:$md3+px) {
			@include flexorder(3);
			padding: 10px;
		}
		@media (max-width:576px) {display: none;}
	}
	&.v2 &__description {
		flex: 1 1 20%;
		font-size: 14px;
		@media (max-width:$md1+px) {
			@include flexorder(4);
			flex: 1 1 100%;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: stretch;
			justify-content: flex-start;
			border: 0;
			border-top: 1px solid #0002;
		}
		@media (max-width:$md3+px) {display: none;}
	}
	&__description-item {
		position: relative;
		padding: 5px 0px 5px 15px;
		font-size: 18px;
		@media (max-width:$md2+px) {
			margin: 5px;
			flex: 1 1 45%;
		}
		@media (max-width:$md3+px) {
			flex: 1 1 100%;
			margin: 0px 5px;
		}
		&:before {
			content:'';
			position: absolute;
			width: 6px;
			height: 6px;
			top: 9px;
			left: 0px;
			border-radius: 50%;
			background-color: var(--colorO);
		}
	}
	&.v2 &__description-item {
		font-size: 16px;
		@media (max-width:$md1+px) {
			margin: 5px;
			flex: 0 1 30%;
		}
	}
	&__price-block {
		padding: 20px;
		@include flexboxinline();
		flex-direction: row;
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-around;
		@media (max-width:$md3+px) {
			flex: 1 1 50%;
			padding: 10px 20px;
			@include flexorder(4);
			flex-direction: row;
			flex-wrap: wrap;
			text-align: center;
			align-items: center;
			border-top: 1px solid #0002;
		}
		a {
			flex: 1 1 100%;
			padding: 0px 10px;
			margin: 5px 0px 0px 0px;
		}
	}
	&.v2 &__price-block {
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 20px 10px 10px 10px;
		flex: 1 1 10%;
		a {
			max-height: 40px;
			margin: 5px 10px;
		}
		@media (max-width:$md2+px) {
			@include flexorder(1);
			flex-direction: row;
			align-items: center;
			flex: 1 1 100%;
			a {
				flex: 0 1 auto;
			}
		}
		@media (max-width:$md3+px) {
			flex-wrap: wrap;
			justify-content: center;
			border-bottom: 1px solid #0002;
		}
	}
	&__price-block-old-price {
		flex: 1 1 auto;
		opacity: 0.7;
		font-size: 24px;
		padding: 10px;
		white-space: nowrap;
		@media (max-width:$md3+px) {
			flex: 1 1 33%;
			padding: 0 10px 10px;
		}
		@media (max-width:$md4+px) {
			font-size: 20px;
			padding: 0 5px 10px;
		}
		.item-price {
			position: relative;
			&:before {
				content:'';
				position: absolute;
				width: 110%;
				height: 2px;
				top: calc(50% - 1px);
				left: -5%;
				background-color: var(--colorR);
				transform: skew(0deg, -10deg);
			}
		}
	}
	&__price-block-price {
		font-size: 35px;
		font-weight: 700;
		flex: 1 1 auto;
		color: var(--colorO);
		white-space: nowrap;
		@media (max-width:$md3+px) {
			font-size: 32px;
			flex: 1 1 33%;
		}
		@media (max-width:$md4+px) {
			font-size: 28px;
			flex: 1 1 45%;
		}
		.text {
			color: #444;
			font-size: 16px;
			display: block;
			@media (max-width:$md3+px) {font-size: 14px;}
		}
	}
	&.v2 &__price-block-price {
		text-align: center;
		@media (max-width:$md2+px) {
			margin: 0px 10px 0px 0px;
		}
		@media (max-width:$md3+px) {
			flex: 1 1 100%;
			margin: 0px 0px 10px 0px;
		}
		.text {
			display: block;
			margin: 10px 10px 10px 0px;
			@media (max-width:$md2+px) {
				display: inline-block;
				margin: 0px 0px 0px 0px;
			}
		}
	}
}

.banner-block {
	&.v2 {
		.banner-block__images {@include flexorder(1);}
		.banner-block__content {@include flexorder(2);}
	}
	&__body {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		@include flexbox();
		border-radius: 5px;
		overflow: hidden;
		@media (max-width:$md3+px) {
			flex-wrap: wrap;
		}
	}
	&__image {
		flex: 1 1 50%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			max-height: 350px;
		}
		@media (max-width:$md3+px) {
			flex: 1 1 100%;
			@include flexorder(1);
			max-height: 200px;
		}
	}
	&__content {
		flex: 1 1 50%;
		padding: 20px 40px;
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width:$md2+px) {
			padding: 20px;
		}
		@media (max-width:$md3+px) {
			@include flexorder(2);
			padding: 10px;
		}
	}
	&__title {
		text-align: center;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0px 0px 10px 0px;
		position: relative;
		&:after {
			content:'';
			position: absolute;
			background-color: var(--colorR);
			width: 110%;
			height: 2px;
			bottom: 0px;
			left: -5%;
		}
		span {
			color: var(--colorR);
			white-space: nowrap;
		}
		@media (max-width:$md3+px) {font-size: 20px;}
	}
	&__text-block {
		ul {
			font-weight: 400;
			font-size: 16px;
			text-align: left;
			@media (max-width:$md3+px) {
				font-size: 14px;
			}
			li {
				position: relative;
				padding: 5px 10px 5px 25px;
				margin: 5px 0px;
				&:before {
					content:'';
					position: absolute;
					border-radius: 50%;
					width: 8px;
					height: 8px;
					top: 8px;
					left: 10px;
					background-color: var(--colorR);
				}
			}
		}
	}
	&__text {
		text-align: center;
		font-size: 18px;
	}
	&__form {
		@include flexbox();
		@media (max-width:$md3+px) {
			flex-wrap: wrap;
		}
		input {
			padding: 15px 20px;
			font-size: 16px;
			border: 1px solid #0002;
			&:focus {
				border: 1px solid var(--colorR);
			}
		}
		button {
			@include anim_cubic2(0.1s,0s);
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
			white-space: nowrap;
			background-color: var(--colorR);
			border: 2px solid var(--colorR);
			font-size: 14px;
			padding: 0px 10px;
			flex: 1 1 auto;
			@media (max-width:$md3+px) {
				padding: 10px 10px;
			}
			&:hover {
				background-color: transparent;
				color: var(--colorR);
			}
		}
	}
}

.cart-model {
	&__body {
		@include flexbox();
		flex-direction: column;
	}
	&__row {
		margin: 0px 0px 20px 0px;
	}
	&__title-body {
		@media (max-width:$md2+px) {
			margin: 0px 0px 0px 0px;
		}
	}
	&__title-text {
		color: #202971;
		font-size: 50px;
		font-weight: 700;
		padding: 5px 0px;
		span {text-transform: uppercase;}
		@media (max-width:$md3+px) {
			font-size: 30px;
		}
	}
	&__title-list {
		@include flexbox();
		padding: 5px 0px;
		@media (max-width:$md3+px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__title-list-item {
		@include flexbox();
		align-items: center;
		margin: 0px 15px 0px 0px;
		color: var(--colorO);
		font-weight: 700;
		font-size: 16px;
		svg {margin: 0px 5px 0px 0px;}
		@media (max-width:$md3+px) {
			padding: 5px 0px;
		}
	}
	&__content-body {
		@include flexbox();
		justify-content: space-between;
		position: relative;
		@media (max-width:$md2+px) {
			flex-wrap: wrap;
		}
	}
	&__content-column {
		padding: 10px;
		@media (max-width:$md3+px) {
			padding: 10px 0px;
		}
		&:first-child {
			flex: 1 1 20%;
			@include flexbox();
			flex-direction: column;
			justify-content: space-between;
			@media (max-width:$md2+px) {
				flex: 1 1 100%;
				//flex-direction: row;
			}
		}
		&:nth-child(2) {
			padding: 10px 0px;
			flex: 1 1 auto;
			@include flexbox();
			flex-direction: column;
			justify-content: flex-end;
		}
		&:last-child {
			flex: 1 1 30%;
		}
	}
	&__content-bg {
		img {
			position: absolute;
			height: 150%;
			top: -45%;
			left: calc(50% - 40%);
			z-index: -1;
			object-fit: cover;
			object-position: 50% 50%;
			@media (max-width:$md2+px) {
				height: 100%;
				top: -10%;
				left: -5%;
			}
			@media (max-width:$md3+px) {
				top: 0%;
				height: 50%;
			}
			@media (max-width:$md4+px) {
				left: -30%;
				top: 5%;
			}
		}
	}
	&__content-price {
		background-color: #ededed;
		box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
		border: 1px solid #0001;
		border-radius: 5px;
		overflow: hidden;
		@include flexbox();
		flex-wrap: wrap;
		align-items: center;
		@media (max-width:$md2+px) {
			max-width: 300px;
			margin: 0px auto 10px;
		}
		@media (max-width:$md3+px) {
			max-width: 100%;
		}
	}
	&__content-price-old {
		text-align: center;
		opacity: 0.8;
		color: #737373;
		font-size: 16px;
		font-weight: 400;
		padding: 10px 15px;
		flex: 1 1 auto;
		white-space: nowrap;
		span {
			margin: 0px 5px;
			position: relative;
			&:before {
				content:'';
				position: absolute;
				width: 110%;
				height: 2px;
				top: calc(50% - 1px);
				left: -5%;
				background-color: var(--colorR);
				transform: skew(0deg, -5deg);
			}
		}
	}
	&__content-price-discount {
		display: inline-block;
		text-align: center;
		flex: 1 1 50%;
		opacity: 0.8;
		color: #ff0000;
		font-size: 20px;
		font-weight: 700;
	}
	&__content-price-value {
		white-space: nowrap;
		flex: 1 1 100%;
		border-radius: 5px;
		text-align: center;
		font-size: 26px;
		font-weight: 700;
		color: #fff;
		padding: 10px 20px;
		background: linear-gradient(to right, var(--colorR) -25%, var(--colorO) 100%);
	}
	&__content-list {
		@include flexbox();
		flex: 1 1 auto;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 10px;
		@media (max-width:$md2+px) {
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			justify-content: start;
			margin: 0px;
		}
	}
	&__content-list-item {
		padding: 10px 10px;
		@media (max-width:$md2+px) {
			flex: 1 1 33%;
			padding: 5px 5px;
		}
		svg {
			width: 30px;
			height: 30px;
			margin-right: 10px;
			@media (max-width:$md3+px) {
				width: 25px;
				height: 25px;
			}
		}
		@include flexbox();
	}
	&__content-list-item-title {
		font-size: 16px;
		white-space: nowrap;
		@media (max-width:$md3+px) {
			font-size: 14px;
		}
	}
	&__content-image {
		text-align: center;
		margin-bottom: 10px;
		img {
			display: none;
			max-width: 40vw;
			object-position: 50% 50%;
			@media (max-width:$md2+px) {
				max-width: 45vw;
			}
			@media (max-width:$md3+px) {
				max-width: 55vw;
			}
			@media (max-width:$md4+px) {
				max-width: 90%;
			}
		}
	}
	&__content-colors {
		text-align: center;
		padding: 0 10px;
	}
	&__content-colors-text {
		padding: 10px 0px 0px 0px;
		color: var(--colorR);
		font-weight: 700;
		.color-name {
			font-weight: 400;
			color: #333;
		}
	}
	&__content-colors-list {
		padding: 10px 0;
		@include flexbox();
		justify-content: center;
	}
	&__content-colors-list-item {
		@include anim_cubic2(0.1s,0s);
		width: 40px;
		height: 25px;
		margin: 0px 2px;
		border-radius: 5px;
		border: 1px solid #0004;
		cursor: pointer;
		position: relative;
		&:before {
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			opacity: 0;
			background-color: #fff;
		}
		&:hover {
			&:before {
				opacity: 0.2;
			}
			border-color: #0006;
		}
		&.active {
			border: 3px solid #999;
		}
	}
	&__content-form {
		padding: 20px;
		border-radius: 5px;
		border: 1px solid #0002;
		background-color: #fff;
		box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
		position: relative;
		margin: -40px 10px 20px;
		@media (max-width:$md2+px) {margin: 0px 10px 20px;}
		&:before, &:after {
			content:'';
			position: absolute;
			border-radius: 5px;
			width: 50%;
			height: 50%;
			z-index: -1;
			background: linear-gradient(to right, var(--colorR) -25%, var(--colorO) 100%);
		}
		&:before {
			top: -10px;
			left: -10px;
		}
		&:after {
			bottom: -10px;
			right: -10px;
		}
	}
	&__content-form-title {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		strong {
			font-size: 26px;
		}
	}
	&__content-form-sub-title {
		font-weight: 700;
		font-size: 16px;
		color: var(--colorR);
		margin: 5px 0px 30px 0px;
	}
	&__content-form-input {
		width: 100%;
		border-radius: 5px;
		border: 1px solid #0008;
		padding: 10px;
		margin: 0px 0px 10px 0px;
	}
	&__content-form-btn {
		margin: 0px 0px 10px 0px;
		width: 100%;
		white-space: nowrap;
		font-size: 14px;
		@media (max-width:$md4+px) {
			padding: 0px 10px;
		}
	}
	&__content-big-btn {
		cursor: pointer;
		border: 1px solid #0002;
		border-radius: 5px;
		box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
		@include flexbox();
		align-items: center;
		justify-content: center;
		font-size: 20px;
		letter-spacing: 1px;
		padding: 10px;
		text-transform: uppercase;
		margin: 0px 10px;
		svg {
			path {fill: var(--colorR)}
			margin: 0px 10px 0px 0px;
			width: 40px;
			height: 40px;
		}
		&:hover {
			path {fill: #fff}
			color: #fff;
			background: linear-gradient(to right, var(--colorR) -25%, var(--colorO) 100%);
		}
	}
	&__icon-body {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		padding: 10px 0px;
		@media (max-width:$md3+px) {
			flex-wrap: wrap;
			align-items: stretch;
		}
	}
	&__icon-item {
		text-align: center;
		@media (max-width:$md3+px) {
			flex: 1 1 50%;
			padding: 10px 0px;
		}
	}
	&__icon-image {
		svg {
			width: 60px;
			height: 60px;
			stop {
				stop-color: #1d2b3a;
			}
		}
	}
	&__icon-text {
		padding: 10px 20px;
		strong {
			color: var(--colorR);
		}
	}
}

.tab-block {
	&__tab-btn-body {
		@include flexbox();
		justify-content: center;
		margin: 0px 0px 20px 0px;
		flex-wrap: wrap;
	}
	&__tab-nav-item {
		border: 1px solid #0004;
		padding: 10px 20px;
		margin: 0px 5px 10px;
		border-radius: 5px;
		cursor: pointer;
		@include flexbox();
		align-items: center;
		justify-content: center;
		text-align: center;
		font-weight: 700;
		@media (max-width:$md3+px) {
			font-size: 12px;
		}
		&.active {
			color: #fff;
			border-color: var(--colorR);
			background-color: var(--colorR);
		}
		&:hover {
			color: #fff;
			border-color: var(--colorR);
			background-color: var(--colorR);
		}
	}
	&__tab-item-body {}
	&__tab-item {
		text-align: center;
		width: 100%;
		border: 1px solid #000;
		display: none;
		&.active {
			display: inline-block;
		}
	}
}

.overview-block {
	&__body {
		@include flexbox();
		flex-direction: column;
	}
	&__item {
		@include flexbox();
		justify-content: space-between;
		padding: 10px 0px;
		&.v2 {
			@media (min-width:$md3+px) {
				.overview-block__item-text {@include flexorder(2);}
				.overview-block__item-image {@include flexorder(1);}
			}
		}
		@media (max-width:$md3+px) {
			flex-wrap: wrap;
		}
	}
	&__item-text {
		flex: 1 1 30%;
		border: 1px solid #0004;
		margin: 0px 10px;
		@include flexbox();
		align-items: center;
		flex-direction: column;
		@media (max-width:$md2+px) {
			flex: 1 1 60%;
		}
		@media (max-width:$md3+px) {
			flex: 1 1 100%;
		}
	}
	&__item-text-title {
		font-size: 20px;
		font-weight: 700;
		padding: 20px 0px 5px;
		margin: 0px 20px;
		text-transform: uppercase;
		border-bottom: 2px solid var(--colorR);
		@media (max-width:$md3+px) {
			padding: 10px 0px 5px;
			font-size: 18px;
		}
		@media (max-width:$md4+px) {
			font-size: 16px;
			padding: 15px 0px 5px;
		}
	}
	&__item-text-list {
		padding: 10px 20px;
		@include flexbox();
		flex-direction: column;
		@media (max-width:$md3+px) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
	&__item-text-item {
		position: relative;
		text-align: left;
		font-size: 16px;
		margin: 5px 0px;
		padding: 0px 12px;
		@media (max-width:$md3+px) {
			flex: 1 1 45%;
		}
		@media (max-width:$md4+px) {
			flex: 1 1 100%;
			margin: 3px 0px;
		}
		&:before {
			content:'';
			position: absolute;
			width: 6px;
			height: 6px;
			top: 4px;
			left: 0px;
			border-radius: 50%;
			background-color: var(--colorR);
		}
	}
	&__item-image {
		flex: 1 1 70%;
		margin: 0px 10px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
	&__video {
		@include flexbox();
		padding: 10px 10px 20px;
		margin: 0px -10px;
		@media (max-width:$md3+px) {
			flex-wrap: wrap;
		}
	}
	&__video-item {
		flex: 1 1 33%;
		padding: 0px 10px;
		position: relative;
		@media (max-width:$md3+px) {
			flex: 1 1 100%;
			max-width: 400px;
			margin: 0px auto 20px;
			max-height: 180px;
		}
		&:before {
			content:'';
			@include anim_cubic2(0.1s,0s);
			position: absolute;
			width: calc(100% - 20px);
			height: 100%;
			top: 0px;
			left: 10px;
			opacity: 0.5;
			background-color: #000;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		&:hover {
			&:before {
				opacity: 0;
			}
			.overview-block__video-icon {
				opacity: 1;
			}
		}
	}
	&__video-icon {
		@include anim_cubic2(0.1s,0s);
		border: 1px solid #0002;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		border-radius: 15px;
		position: absolute;
		width: 90px;
		height: 60px;
		top: calc(50% - 30px);
		left: calc(50% - 45px);
		opacity: 0.5;
		&:before {
			content:'';
			position: absolute;
			width: 90px;
			height: 60px;
			top: calc(50% - 30px);
			left: calc(50% - 45px);
			background-color: #fff;
		}
		&:after {
			content:'';
			position: absolute;
			top: calc(50% - 12px);
			left: calc(50% - 10px);
			border: 12px solid transparent;
			border-left: 25px solid #df1017;
		}
	}
	&__text {
		text-align: left;
		padding: 10px 20px;
		p {
			text-align: justify;
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.stock-baner-v2 {
	border: 1px solid #0001;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	@include flexbox();
	justify-content: space-between;
	&__text {
		padding: 20px 0px 20px 20px;
		flex: 1 1 40%;
		@include flexbox();
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
		position: relative;
		@media (max-width:$md3+px) {
			align-items: center;
			text-align: center;
			flex: 1 1 100%;
		}
		@media (max-width:$md4+px) {
			padding: 20px;
		}
		&:before, &:after {
			content:'';
			pointer-events: none;
			position: absolute;
			height: 400px;
			width: 400px;
			top: calc(50% - 200px);
			background-color: #fff;
			transform: rotate(45deg) skew(15deg, 15deg);
		}
		&:before {
			right: -100px;
			z-index: 2;
			@media (max-width:$md3+px) {
				right: -50px;
			}
		}
		&:after {
			right: -200px;
			opacity: 0.4;
			z-index: 1;
			@media (max-width:$md3+px) {
				right: -150px;
			}
		}
	}
	&__text-title {
		white-space: nowrap;
		text-align: right;
		text-transform: uppercase;
		@include adaptiv-font(32, 18);
		margin: 0px 0px 15px 0px;
		font-weight: 700;
		position: relative;
		z-index: 3;
		@media (max-width:$md4+px) {
			font-size: 20px;
		}
		div {
			color: var(--colorR);
			@include flexboxinline();
			align-items: center;
			svg {
				width: auto;
				height: 26px;
				margin-left: 10px;
				path {fill: var(--colorR)}
				@media (max-width:$md3+px) {
					height: 20px;
				}
				@media (max-width:$md4+px) {
					height: 16px;
				}
			}
		}
	}
	&__text-subtitle {
		@include adaptiv-font(20, 14);
		font-weight: 700;
		margin: 0px 0px 20px 0px;
		position: relative;
		z-index: 3;
	}
	.btn {
		position: relative;
		z-index: 3;
	}
	&__image {
		flex: 1 1 60%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		@media (max-width:$md4+px) {display: none;}
	}
}

.other-models {
	&__item {
		flex: 1 1 33%;
		border: 1px solid #0004;
		border-radius: 5px;
		text-align: center;
		overflow: hidden;
		max-width: 98%;
		position: relative;
		left: 1%;
	}
	&__item-title {
		padding: 20px 20px 5px;
		font-weight: 700;
		font-size: 26px;
		text-align: left;
		text-transform: uppercase;
		@media (max-width:$md2+px) {
			font-size: 20px;
		}
		@media (max-width:$md3+px) {
			font-size: 24px;
			padding: 10px 10px 5px;
		}
	}
	&__item-price {
		text-align-last: left;
		padding: 0px 20px 10px;
		font-size: 24px;
		font-weight: 700;
		margin: 0px 0px 10px 0px;
		span {
			color: var(--colorO);
		}
	}
	&__item-image {
		padding: 0px 20px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		@media (max-width:$md3+px) {
			padding: 0px 10px;
		}
	}
	&__item-colors {
		font-weight: 700;
		span {color: var(--colorO);}
		text-align-last: left;
		padding: 10px;
	}
	&__item-list {
		margin: 0px 5px 10px;
		padding: 15px 0px 5px;
		border-top: 1px solid #0004;
		border-bottom: 1px solid #0004;
		@include flexbox();
		justify-content: space-between;
		@media (max-width:$md1+px) {
			flex-wrap: wrap;
		}
		@media (max-width:$md4+px) {
			margin: 0px 0px 5px;
		}
	}
	&__item-list-item {
		padding: 0 5px;
		font-weight: 700;
		@media (max-width:$md1+px) {
			flex: 1 1 50%;
		}
		@media (max-width:$md3+px) {
			font-size: 13px;
		}
		.value {
			display: block;
			font-weight: 400;
			font-size: 16px;
			padding: 10px 0px;
		}
	}
	a.btn {
		display: inline-block;
		border-radius: 0;
		width: 104%;
		position: relative;
		left: -2%;
		height: 50px;
		line-height: 50px;
		max-height: 50px;
		letter-spacing: 1px;
		&:hover {
			left: 0;
			width: 100%;
		}
	}
}

.equipment-block {
	&__body {}
	&__item-drop-btn {
		padding: 10px;
		@include flexbox();
		justify-content: space-between;
		font-weight: 700;
		font-size: 16px;
		margin: 0px 0px 5px 0px;
	}
	&__item-drop-btn.main {
		cursor: default;
		color: #fff;
		background-color: #a2a2a2;
		.equipment-block__item-drop-btn-icon {
			opacity: 0;
		}
	}
	&__item-drop-btn.list {
		cursor: pointer;
		text-transform: uppercase;
		background-color: #dcdcdc;
		position: relative;
		z-index: 1;
		&:before {
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			opacity: 0;
			z-index: -1;
			background-color: var(--colorO);
		}
		&:hover {
			&:before {opacity: 0.4;}
		}
		&.active {
			&:before {opacity: 0.4;}
			.equipment-block__item-drop-btn-name {
				span {
					&:before {@include rotate(135deg)}
					&:after {@include rotate(-135deg)}
				}
			}
			.equipment-block__item-drop-btn-icon {
				background-color: #b3e6b3;
				span {
					left: calc(100% - 23px);
				}
			}
		}
	}
	&__item-drop-btn-name {
		flex: 1 1 50%;
		text-align: left;
		padding: 5px 10px;
		span {
			position: relative;
			&:before, &:after {
				content:'';
				@include anim_cubic2(0.2s,0s);
				position: absolute;
				width: 2px;
				height: 10px;
				top: calc(50% - 5px);
				opacity: 0.7;
				background-color: var(--colorR);
			}
			&:before {
				right: -20px;
				@include rotate(45deg);
			}
			&:after {
				right: -14px;
				@include rotate(-45deg);
			}
		}
	}
	&__item-drop-btn-old-price {
		flex: 0 1 150px;
		padding: 5px 10px;
	}
	&__item-drop-btn-price {
		flex: 0 1 150px;
		padding: 5px 10px;
	}
	&__item-drop-btn-icon {
		flex: 0 1 50px;
		border: 2px solid #0004;
		padding: 5px 10px;
		border-radius: 50px;
		position: relative;
		background-color: #fff;
		span {
			@include anim_cubic2(0.2s,0s);
			position: absolute;
			width: 22px;
			height: 22px;
			border-radius: 50px;
			top: calc(50% - 11px);
			left: 1px;
			background-color: #0004;
			&:before, &:after {
				content:'';
				@include anim_cubic2(0.2s,0s);
				position: absolute;
				background-color: #ebebeb;
				
			}
			&:before {
				height: 4px;
				width: 14px;
				top: calc(50% - 2px);
				left: calc(50% - 7px);
			}
			&:after {
				height: 14px;
				width: 4px;
				top: calc(50% - 7px);
				right: calc(50% - 2px);
			}
		}
	}
}


//ОСНОВНОЙ БЛОК====================================================================================================================//
//СТОРОННЕЕ СТИЛИ==================================================================================================================//
@import "galleryBB.scss";
@import "galleryFB.scss";
@import "slick.scss";
@import "slick-theme.scss";