//Миксины=========================================================================================================================//
@mixin animation($name,$time,$delay){animation: $name $time infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-webkit-animation: $name $time infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-moz-animation: $name $time infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-o-animation: $name $time infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;}
@mixin anim($time,$delay){-webkit-transition:all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time,$delay){-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin anim_cubic2($time,$delay){-webkit-transition:all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-moz-transition: all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-ms-transition: all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;-o-transition: all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;transition: all $time cubic-bezier(0.455, 0.03, 0.515, 0.955) $delay;}
@mixin rotate($deg){-moz-transform:rotate($deg);-ms-transform:rotate($deg);-webkit-transform:rotate($deg);-o-transform:rotate($deg);transform:rotate($deg);}
@mixin scale($num){-moz-transform:scale($num);-ms-transform:scale($num);-webkit-transform:scale($num);-o-transform:scale($num);transform:scale($num);}
@mixin skew($num){-moz-transform:skewX($num);-ms-transform:skewX($num);-webkit-transform:skewX($num);-o-transform:skewX($num);transform:skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items:stretch; justify-content:center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);}
@mixin flexbox(){display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size: 0;}
@mixin flexboxinline(){display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flex;display:-o-inline-flex;display: inline-flex;}
@mixin flexorder($val){-webkit-box-ordinal-group:$val;-moz-box-ordinal-group:$val;-ms-flex-order:$val;-webkit-order:$val;order:$val;}
@mixin adaptiv-font($pcSize, $mobSize) {$addSize: $pcSize - $mobSize;$addMobSize: $addSize + $addSize * 0.75;
	@media (max-width:$md3+px) {font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maketmw}));}
	@media (min-width:$md3+px) {font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maketmw}));}
}
@mixin adaptiv-lh($pcSize, $mobSize) {$addSize: $pcSize - $mobSize;$addMobSize: $addSize + $addSize * 0.75;
	@media (max-width:$md3+px) {line-height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maketmw}));}
	@media (min-width:$md3+px) {line-height: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maketmw}));}
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
.autorpage-wrapper {
	font-family: Montserrat_regular;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto 50px;
}

.errorlink {
	display: inline-block;
	text-align: center;
	font-size: 12px;
	margin: 10px 0px;
	@media (max-width:767px) {font-size: 11px;}
	@media (max-width:575px) {font-size: 10px;}
	@media (max-width:370px) {font-size: 9px;}
	a {color: #A4A5B0;&:hover{color: #1991EB;text-decoration: none;svg{path{fill:#1991EB}}}}
	svg {width: 16px;height: 16px;position: relative;top: -2px;margin: 0px 7px 0px 0px;}
}

.autorpage {
	padding: 20px 0px 0px 0px;
	@include flexbox();
	@media (max-width:767px) {flex-direction: column;align-items: center;padding: 10px 0px 0px 0px;}
	@media (max-width:575px) {padding: 0;}
	&_column {
		padding: 0px 0px 20px 0px;
		&:nth-child(1) {flex: 0 0 20%;}
		&:nth-child(2) {flex: 1 1 80%;padding: 0px 20px 20px 7%;}
		@media (max-width:960px) {&:nth-child(2) {padding: 0px 20px 20px 5%;}}
		@media (max-width:860px) {&:nth-child(2) {padding: 0px 20px 20px 3%;}}
		@media (max-width:767px) {
			.autor-adaptive {text-align: center;
				.autor-block {display: inline-block;text-align: left;}
			}
		}
		@media (max-width:575px) {padding: 0;}
	}
	&_image {
		margin: 0px 0px 20px 0px;
		max-width: 287px;
		height: 438px;
		border-radius: 6px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		box-shadow: 2px 2px 14px rgba(75, 76, 78, 0.43414);
		@media (max-width:575px) {width: 156px;height: 235px;margin: 0px auto 20px;}
		img {height: 100%;width: auto;}
		.number {
			display: inline-block;
			background: #F7981C;
			font-family: Montserrat_bold;
			color: #fff;
			font-size: 32px;
			line-height: 50px;
			padding: 0px 10px;
			border-radius: 0px 4px 4px 0px;
			position: absolute;
			bottom: 45px;
			left: 0px;
			z-index: 2;
			@media (max-width:575px) {font-size: 16px;line-height: 32px;bottom: 25px;}
		}
	}
	&_list {
		@include flexbox();
		flex-direction: column;
	}
	&_like {
		font-size: 12px;
		line-height: 21px;
		text-align: center;
		color: #A4A5B0;
		margin: 0px 0px 10px 0px;
	}
	&_link {
		cursor: pointer;
		text-align: center;
		padding: 8px 12px;
		margin: 5px 0px;
		height: 40px;
		width: 284px;
		display: inline-block;
		font-family: Montserrat_bold;
		font-size: 14px;
		line-height: 21px;
		color: #A4A5B0;
		border: 1px solid #E9EDF1;
		box-sizing: border-box;
		border-radius: 4px;
		position: relative;
		@media (max-width:767px) {margin: 10px 0px 0px 0px;}
		&:hover{color: #1991EB;text-decoration: none;}
	}
	&_info-row {}
	&_info-row-list {
		@include flexbox();
		justify-content: space-between;
		margin: 0px 0px 5px 0px;
		li {&:nth-child(4) {flex: 1 1 100%;text-align: right;}}
		@media (max-width:575px) {margin: 0;}
	}
	&_info-row-item {
		@include flexbox();
		align-items: center;
		margin: 0px 15px 0px 0px;
		font-size: 14px;
		line-height: 28px;
		color: #A4A5B0;
		
		svg {height: 14px;width: 14px;margin: 0px 5px 0px 0px;}
		@media (max-width:500+px) {font-size: 12px;span {display: none;}}
	}
	&_autor {
		font-size: 18px;
		line-height: 28px;
		margin: 0px 0px 5px 0px;
		@media (max-width:575px) {font-size: 12px;margin: 0px 0px 5px 0px;}
		a {
			color: #354052;
			text-decoration: underline;
			&:hover{color: #1991EB;}
		}
	}
	&_autorname {
		font-family: Roboto Slab;
		font-size: 32px;
		line-height: 38px;
		color: #354052;
		margin: 0px 0px 20px 0px;
		@media (max-width:575px) {font-size: 20px;line-height: 25px;}
	}
	&_btn {
		margin: 0px 0px 20px 0px;
		@media (max-width:767px) {
			text-align: center;
			position: relative;
		}
		@media (max-width:767px) {@include flexbox();align-items: center;justify-content: space-between;max-width: 285px;margin: 0px auto 0px;}
	}
	&_btnread {
		text-align: center;
		font-size: 14px;
		line-height: 21px;
		line-height: 38px;
		font-family: Montserrat_semibold;
		display: inline-block;
		color: #FFFFFF;
		background-color: #1991EB;
		border: 1px solid #1991EB;
		border-radius: 4px;
		height: 40px;
		padding: 0px 28px;
		@media (max-width:767px) {flex: 0 0 80%;}
		@media (max-width:575px) {font-size: 12px;padding: 0px 40px;}
		@media (max-width:370px) {padding: 0px 32px;}
		&:hover{color: #1991EB;text-decoration: none;background-color: transparent;}
	}
	&_btnshare {
		svg {display: none;}
		border-radius: 4px;
		display: inline-block;
		padding: 0px 25px;
		text-align: center;
		font-size: 14px;
		line-height: 38px;
		font-family: Montserrat_semibold;
		cursor: pointer;
		color: #354052;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		height: 40px;
		position: relative;
		margin: 0px 0px 0px 10px;
		@media (max-width:767px) {
			svg {display: inline-block;}
			span {padding: 18px 13px;}
			font-size: 0;
			display: block;
			padding: 0px 0px;
			width: 44px;
			height: 40px;
			
		}
		&_subblock {
			cursor: default;
			position: absolute;
			top: 39px;
			right: 0px;
			text-align: right;
			display: none;
			z-index: 55;
			width: 200px;
			border-radius: 4px;
			border: 1px solid #E9EDF1;
			background-color: #fff;
			text-align: center;
			@media (max-width:767px) {
				padding: 5px 10px;
			}
		}
		&_sublink {
			font-size: 16px;
			color: #354052;
			border: 1px solid #E9EDF1;
			border-radius: 4px;
			width: 100%;
			margin: 1px 0px;
			&:nth-child(1) {margin: 3px 0px 1px 0px;}
			@media (max-width:767px) {
				margin: 5px 0px;
				&:nth-child(1) {margin: 3px 0px 5px 0px;}
			}
			display: inline-block;
			background-color: #fff;
			&:hover{color: #1991EB;text-decoration: none;}
		}
		&.active{
			span {
				&:before {@include rotate(45deg);}
				&:after {@include rotate(-45deg);}
			}
		}
	}
	&_description {
		overflow: hidden;
		margin: 30px 0px 0px 0px;
		@media (max-height:575px) {margin: 20px 0px 0px 0px;}
		position: relative;
		&.gradient {&:after {background: linear-gradient(-180deg, rgba(245, 242, 239, 0.0001) 80%, #fff 100%);}}
		&:after {
				content:"";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				
			}
		&_show-text {
			margin-bottom: 56px;
			display: inline-block;
			margin-top: 15px;
			font-size: 14px;
			line-height: 21px;
			text-decoration-line: underline;
			color: #1991EB;
			@media (max-width:575px) {margin-bottom: 30px;}
		}
	}
	&_description-text {
		font-size: 18px;
		line-height: 28px;
		color: #354052;
		span {
			display: block;
			font-family: Montserrat_bold;
			margin: 0px 0px 10px 0px;
		}
		@media (max-width:575px) {font-size: 14px;}
	}
	.autorpage {
		&_biography {}
		&_biography-title {
			margin: 0px 0px 15px 0px;
		}
		&_biography-list {
			font-size: 14px;
			line-height: 18px;
			color: #354052;
			li {margin: 10px 0px;}
		}
		&_biography-year {
			margin: 0px 10px 0px 0px;
		}
		&_biography-link {
			font-family: Montserrat_semibold;
			color: #1991EB;
			line-height: 16px;
			&:hover{color: #1991EB;}
		}
	}
	&_reviews {
		margin: 0px 0px 50px 0px;
	}
	&__column {}
}

.autor-books {
	display: inline-block;
	max-width: 865px;
	border: 1px solid #000;
	font-size: 18px;
	padding: 0px 60px 0px 0px;
	margin: 10px 0px 5px 0px;
	@media (max-width:767px) {display: none;}
}

.autorpage_btn-adaptive {
	text-align: center;
}

.block-title {
	font-family: Montserrat_bold;
	font-size: 26px;
	line-height: 36px;
	color: #354052;
	@media (max-width:575px) {font-size: 20px;}
	a {
		font-family: Montserrat_semibold;
		display: inline-block;
		font-size: 10px;
		line-height: 18px;
		padding: 6px 10px 4px;
		margin: 0px 0px 0px 10px;
		line-height: 100%;
		color: #FFFFFF;
		background: #354052;
		border-radius: 4px;
		position: relative;
		top: -8px;
		@media (max-width:575px) {padding: 4px 5px 2px;}
	}
}

.book-reviews {
	&_title {
		margin: 40px 0px 20px 0px;
	}
	&_input-block {
		width: 100%;
		max-width: 570px;
		background: #EDF7FF;
		border-radius: 2px;
		@include flexboxinline();
		padding: 18px 20px 11px 20px;
		@media (max-width:767px) {max-width: 100%;}
	}
	&_avatar {
		flex: 0 0 38px;
		display: inline-block;
		width: 38px;
		height: 38px;
		overflow: hidden;
		border-radius: 50%;
		margin: 0px 15px 0px 0px;
		img {width: auto;height: 100%;}
	}
	&_input {
		font-size: 14px;
		color: #7F8FA4;
		width: 100%;
		textarea {
			padding: 7px 12px;
			height: 37px;
			min-height: 36px;
			max-height: 200px;
			width: 100%;
			border: 1px solid #DFE3E9;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}
	&_reviews-block {
		margin: 10px 0px 0px 0px;
		padding: 77px 0px;
		max-width: 570px;
		background: #F9F8F8;
		border-radius: 2px;
		font-size: 22px;
		line-height: 21px;
		text-align: center;
		color: #C7CBCF;
		@media (max-width:767px) {max-width: 100%;}
	}
}

