@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
.byBook {
  display: none !important; }
  @media (max-width: 767px) {
    .byBook {
      display: block !important; } }

.bookpage-wrapper {
  font-family: Montserrat_regular;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 50px; }

.bookpage {
  padding: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  @media (max-width: 767px) {
    .bookpage {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px 0px 0px 0px; } }
  @media (max-width: 575px) {
    .bookpage {
      padding: 0; } }
  .bookpage_column {
    padding: 0px 0px 20px 0px; }
    .bookpage_column:nth-child(1) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%; }
    .bookpage_column:nth-child(2) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
      flex: 1 1 80%;
      padding: 0px 20px 20px 7%; }
    @media (max-width: 960px) {
      .bookpage_column:nth-child(2) {
        padding: 0px 20px 20px 5%; } }
    @media (max-width: 860px) {
      .bookpage_column:nth-child(2) {
        padding: 0px 20px 20px 2%; } }
    @media (max-width: 767px) {
      .bookpage_column .book-adaptive {
        text-align: center; }
        .bookpage_column .book-adaptive .book-block {
          display: inline-block;
          text-align: left; } }
    @media (max-width: 575px) {
      .bookpage_column {
        padding: 0; } }
  .bookpage_book {
    margin: 0px 0px 35px 0px;
    max-width: 287px;
    height: 438px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 14px rgba(75, 76, 78, 0.43414);
    box-shadow: 2px 2px 14px rgba(75, 76, 78, 0.43414); }
    @media (max-width: 575px) {
      .bookpage_book {
        width: 156px;
        height: 235px;
        margin: 0px auto 20px; } }
    .bookpage_book img {
      height: auto;
      width: 100%; }
    .bookpage_book .number {
      display: inline-block;
      background: #F7981C;
      font-family: Montserrat_bold;
      color: #fff;
      font-size: 32px;
      line-height: 50px;
      padding: 0px 10px;
      border-radius: 0px 4px 4px 0px;
      position: absolute;
      bottom: 45px;
      left: 0px;
      z-index: 2; }
      @media (max-width: 575px) {
        .bookpage_book .number {
          font-size: 16px;
          line-height: 32px;
          bottom: 25px; } }
  .bookpage_book-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .bookpage_book-link {
    cursor: pointer;
    text-align: center;
    padding: 8px 12px;
    margin: 5px 0px;
    height: 40px;
    width: 284px;
    display: inline-block;
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 21px;
    color: #A4A5B0;
    border: 1px solid #E9EDF1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative; }
    .bookpage_book-link:hover {
      color: #1991EB;
      text-decoration: none; }
  .bookpage_book-errorlink {
    display: inline-block;
    text-align: center;
    line-height: 38px;
    height: 40px;
    font-size: 12px;
    width: 284px;
    margin: 10px 0px; }
    .bookpage_book-errorlink a {
      color: #A4A5B0; }
      .bookpage_book-errorlink a:hover {
        color: #1991EB;
        text-decoration: none; }
        .bookpage_book-errorlink a:hover svg path {
          fill: #1991EB; }
    .bookpage_book-errorlink svg {
      width: 16px;
      height: 16px;
      position: relative;
      top: -2px;
      margin: 0px 7px 0px 0px; }
  .bookpage_info-row-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
    @media (max-width: 575px) {
      .bookpage_info-row-list {
        margin: 0; } }
  .bookpage_info-row-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 15px 0px 0px;
    font-size: 14px;
    line-height: 28px;
    color: #A4A5B0; }
    .bookpage_info-row-item svg {
      height: 14px;
      width: 14px;
      margin: 0px 5px 0px 0px; }
    @media (max-width: 500px) {
      .bookpage_info-row-item {
        font-size: 12px; }
        .bookpage_info-row-item span {
          display: none; } }
  .bookpage_autor {
    font-size: 18px;
    line-height: 28px;
    margin: 0px 0px 10px 0px; }
    @media (max-width: 575px) {
      .bookpage_autor {
        font-size: 12px;
        margin: 0px 0px 5px 0px; } }
    .bookpage_autor a {
      color: #354052;
      text-decoration: underline; }
      .bookpage_autor a:hover {
        color: #1991EB; }
  .bookpage_bookname {
    font-family: Roboto Slab;
    font-size: 32px;
    line-height: 38px;
    color: #354052;
    margin: 0px 0px 10px 0px; }
    @media (max-width: 575px) {
      .bookpage_bookname {
        font-size: 20px;
        line-height: 25px; } }
  .bookpage_bookinfo {
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    color: #354052;
    margin: 0px 0px 20px 0px; }
    .bookpage_bookinfo span {
      margin: 0px 20px 0px 0px; }
      .bookpage_bookinfo span:last-child {
        display: inline-block;
        line-height: 100%;
        padding: 5px 3px 3px 3px;
        background: #E9EDF1;
        border-radius: 2px; }
  .bookpage_genre {
    margin: 0px 0px 20px 0px; }
  .bookpage_genre-item {
    font-family: Montserrat_bold;
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 10px;
    margin: 5px 5px 5px 0px;
    color: #354052;
    background: #FFFFFF;
    border: 1px solid #E9EDF1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 23px; }
    .bookpage_genre-item:hover {
      color: #1991EB;
      text-decoration: none; }
  .bookpage_btn {
    margin: 0px 0px 20px 0px; }
    @media (max-width: 767px) {
      .bookpage_btn {
        text-align: center;
        position: relative; } }
    @media (max-width: 575px) {
      .bookpage_btn {
        margin: 0px 0px 15px 0px; } }
    .bookpage_btn .adaptive-popap {
      margin: 0px 0px 0px 10px;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      line-height: 38px;
      font-family: Montserrat_semibold;
      cursor: pointer;
      display: none;
      width: 44px;
      height: 40px;
      color: #FFFFFF;
      background-color: #1991EB;
      border: 1px solid #1991EB;
      border-radius: 4px;
      text-align: center; }
      @media (max-width: 575px) {
        .bookpage_btn .adaptive-popap {
          font-size: 12px; } }
      .bookpage_btn .adaptive-popap:hover {
        color: #1991EB;
        background-color: #fff; }
      .bookpage_btn .adaptive-popap span {
        padding: 0px 2px; }
      .bookpage_btn .adaptive-popap .adaptive-popap-btn {
        padding: 10px 7px; }
      @media (max-width: 767px) {
        .bookpage_btn .adaptive-popap {
          display: inline-block; } }
  .bookpage_btnread {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    line-height: 38px;
    font-family: Montserrat_semibold;
    display: inline-block;
    color: #FFFFFF;
    background-color: #1991EB;
    border: 1px solid #1991EB;
    border-radius: 4px;
    height: 40px;
    padding: 0px 28px; }
    .bookpage_btnread span {
      display: none; }
    @media (max-width: 767px) {
      .bookpage_btnread span {
        display: inline-block; } }
    @media (max-width: 575px) {
      .bookpage_btnread {
        font-size: 12px;
        padding: 0px 40px; } }
    @media (max-width: 370px) {
      .bookpage_btnread {
        padding: 0px 32px; } }
    .bookpage_btnread:hover {
      color: #1991EB;
      text-decoration: none;
      background-color: transparent; }
  .bookpage_btndwl {
    margin: 0px 0px 0px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    line-height: 38px;
    font-family: Montserrat_semibold;
    cursor: pointer;
    display: inline-block;
    color: #354052;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    position: relative; }
    @media (max-width: 767px) {
      .bookpage_btndwl {
        display: block;
        width: 100%;
        max-width: 296px;
        margin: 10px auto 0px; } }
    .bookpage_btndwl span {
      border-radius: 4px;
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0px 30px 0px 14px; }
      .bookpage_btndwl span:before, .bookpage_btndwl span:after {
        content: "";
        -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        -moz-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        -ms-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        -o-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
        position: absolute;
        width: 6px;
        height: 1px;
        top: 50%;
        border-radius: 1px;
        background: #354052; }
      .bookpage_btndwl span:before {
        right: 12px;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .bookpage_btndwl span:after {
        right: 16px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
    .bookpage_btndwl_subblock {
      cursor: default;
      position: absolute;
      top: 38px;
      left: 0px;
      text-align: right;
      display: none;
      z-index: 55;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #E9EDF1;
      background-color: #fff;
      text-align: center; }
      @media (max-width: 767px) {
        .bookpage_btndwl_subblock {
          padding: 5px 10px; } }
    .bookpage_btndwl_sublink {
      font-size: 16px;
      color: #354052;
      border: 1px solid #E9EDF1;
      border-radius: 4px;
      width: 100%;
      margin: 1px 0px;
      display: inline-block;
      background-color: #fff; }
      .bookpage_btndwl_sublink:nth-child(1) {
        margin: 3px 0px 1px 0px; }
      @media (max-width: 767px) {
        .bookpage_btndwl_sublink {
          margin: 5px 0px; }
          .bookpage_btndwl_sublink:nth-child(1) {
            margin: 3px 0px 5px 0px; } }
      .bookpage_btndwl_sublink:hover {
        color: #1991EB;
        text-decoration: none; }
    .bookpage_btndwl.active span:before {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .bookpage_btndwl.active span:after {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .bookpage_description {
    overflow: hidden;
    margin: 40px 0px 0px 0px;
    position: relative; }
    @media (max-height: 575px) {
      .bookpage_description {
        margin: 20px 0px 0px 0px; } }
    .bookpage_description.gradient:after {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(245, 242, 239, 0.0001)), to(#fff));
      background: -webkit-linear-gradient(top, rgba(245, 242, 239, 0.0001) 80%, #fff 100%);
      background: -o-linear-gradient(top, rgba(245, 242, 239, 0.0001) 80%, #fff 100%);
      background: linear-gradient(-180deg, rgba(245, 242, 239, 0.0001) 80%, #fff 100%); }
    .bookpage_description:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px; }
    .bookpage_description_show-text {
      margin-bottom: 56px;
      display: inline-block;
      margin-top: 15px;
      font-size: 14px;
      line-height: 21px;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      color: #1991EB; }
      @media (max-width: 575px) {
        .bookpage_description_show-text {
          margin-bottom: 30px; } }
  .bookpage_description-text {
    font-size: 18px;
    line-height: 28px;
    color: #354052; }
    @media (max-width: 575px) {
      .bookpage_description-text {
        font-size: 14px; } }
  .bookpage_bottom-btn {
    margin: 0px 0px 30px 0px; }
    @media (max-width: 767px) {
      .bookpage_bottom-btn {
        display: none;
        position: absolute;
        width: 296px;
        top: 40px;
        left: 50%;
        margin: 0px 0px 0px -148px;
        background-color: #fff;
        z-index: 55;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 20px;
        text-align: center; } }
  .bookpage_bottom-btn-item {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Montserrat_semibold;
    height: 54px;
    padding: 0px 21px;
    font-size: 14px;
    line-height: 50px;
    color: #354052;
    border: 1px solid #E9EDF1;
    border-radius: 4px;
    margin: 5px 5px 5px 0px; }
    @media (max-width: 767px) {
      .bookpage_bottom-btn-item {
        width: 100%;
        display: inline-block; } }
    .bookpage_bottom-btn-item:hover {
      color: #1991EB; }
      .bookpage_bottom-btn-item:hover svg path {
        fill: #1991EB; }
      .bookpage_bottom-btn-item:hover span {
        background-color: #1991EB; }
    .bookpage_bottom-btn-item svg {
      margin: 0px 8px 0px 0px;
      height: 16px;
      width: auto; }
    .bookpage_bottom-btn-item span {
      margin: 0px 8px 0px 0px;
      display: inline-block;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      position: relative;
      background-color: #354052; }
      .bookpage_bottom-btn-item span:before, .bookpage_bottom-btn-item span:after {
        content: "";
        position: absolute;
        background-color: #fff;
        border-radius: 2px; }
      .bookpage_bottom-btn-item span:before {
        width: 2px;
        height: 8px;
        top: 4px;
        left: 7px; }
      .bookpage_bottom-btn-item span:after {
        width: 8px;
        height: 2px;
        top: 7px;
        left: 4px; }
  .bookpage_tags {
    margin: 0px 0px 0px 0px; }
    @media (max-width: 767px) {
      .bookpage_tags {
        margin: 0px 0px 40px 0px; } }
  .bookpage_tags-item {
    padding: 0px 10px;
    margin: 5px 8px 5px 0px;
    display: inline-block;
    font-family: Montserrat_bold;
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    color: #354052;
    background: #E9EDF1;
    border: 1px solid #E9EDF1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 23px; }
    .bookpage_tags-item:hover {
      color: #1991EB;
      text-decoration: none; }
  .bookpage_info-block {
    margin: 50px 0px 0px 0px; }
  .bookpage_reviews {
    margin: 0px 0px 50px 0px; }

.book-list-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 5px 0px; }
  .book-list-item_mainlink {
    cursor: pointer;
    padding: 8px 12px;
    height: 40px;
    width: 284px;
    display: inline-block;
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 21px;
    color: #354052;
    border: 1px solid #E9EDF1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative; }
    .book-list-item_mainlink:hover {
      color: #1991EB; }
    .book-list-item_mainlink:before, .book-list-item_mainlink:after {
      content: "";
      -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
      -moz-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
      -ms-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
      -o-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
      transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
      position: absolute;
      width: 7px;
      height: 1px;
      top: 50%;
      border-radius: 1px;
      background: #354052; }
    .book-list-item_mainlink:before {
      right: 10px;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .book-list-item_mainlink:after {
      right: 15px;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .book-list-item_mainlink.active:before {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .book-list-item_mainlink.active:after {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .book-list-item_subblock {
    display: none; }
  .book-list-item_sublink {
    font-family: Montserrat_bold;
    margin: 5px 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    display: block;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 28px;
    height: 30px;
    width: 284px;
    border: 1px solid #E9EDF1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px; }
    .book-list-item_sublink:hover {
      color: #354052; }

.info-block_mainlink {
  cursor: pointer;
  font-family: Montserrat_bold;
  font-size: 22px;
  color: #354052;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 69px;
  line-height: 67px;
  padding: 0px 20px;
  position: relative; }
  @media (max-width: 960px) {
    .info-block_mainlink {
      font-size: 18px; } }
  @media (max-width: 860px) {
    .info-block_mainlink {
      font-size: 16px; } }
  @media (max-width: 575px) {
    .info-block_mainlink {
      font-size: 14px;
      line-height: 48px;
      height: 48px;
      padding: 0px 15px; }
      .info-block_mainlink span {
        display: none; } }
  .info-block_mainlink:before, .info-block_mainlink:after {
    content: "";
    -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -moz-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -ms-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -o-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    position: absolute;
    width: 10px;
    height: 2px;
    top: 50%;
    border-radius: 1px;
    background: #1991EB; }
    @media (max-width: 575px) {
      .info-block_mainlink:before, .info-block_mainlink:after {
        width: 7px;
        height: 2px; } }
  .info-block_mainlink:before {
    right: 20px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
    @media (max-width: 575px) {
      .info-block_mainlink:before {
        right: 15px; } }
  .info-block_mainlink:after {
    right: 26px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
    @media (max-width: 575px) {
      .info-block_mainlink:after {
        right: 19px; } }
  .info-block_mainlink.active:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .info-block_mainlink.active:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.info-block_subblock {
  display: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 20px 0px 0px 0px; }

.info-block_about {
  border-bottom: 1px solid #E9EDF1;
  padding: 1px 20px 20px 20px; }
  @media (max-width: 575px) {
    .info-block_about {
      padding: 1px 10px 10px 10px; } }
  .info-block_about_body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 960px) {
      .info-block_about_body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  @media (max-width: 960px) {
    .info-block_about_column:nth-child(1) {
      margin: 0px 0px 20px 0px; } }

.info-block_title {
  margin: 15px 0px;
  font-size: 22px;
  line-height: 32px;
  color: #354052; }

.info-block_text {
  font-size: 14px;
  line-height: 18px;
  padding: 3px 10px 3px 0px;
  color: #A4A5B0; }
  .info-block_text a {
    color: #A4A5B0;
    text-decoration: underline; }
    .info-block_text a:hover {
      color: #1991EB; }

.info-block_number {
  font-family: Montserrat_bold;
  font-size: 14px;
  line-height: 26px;
  color: #A4A5B0; }

.info-block_premius {
  border-bottom: 1px solid #E9EDF1;
  padding: 0px 20px 20px 20px; }
  @media (max-width: 575px) {
    .info-block_premius {
      padding: 0px 10px 10px 10px; } }

.info-block_stat {
  border-bottom: 1px solid #E9EDF1;
  padding: 0px 20px 20px 20px; }
  @media (max-width: 575px) {
    .info-block_stat {
      padding: 0px 10px 10px 10px; } }
  .info-block_stat_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0px; }

.info-block_persons {
  padding: 0px 60px 15px 20px; }
  .info-block_persons_body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 575px) {
      .info-block_persons_body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
  @media (max-width: 960px) {
    .info-block_persons {
      padding: 0px 20px 15px 20px; } }
  @media (max-width: 575px) {
    .info-block_persons {
      padding: 0px 10px 10px 10px; } }

.person-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 15px 0px; }
  .person-item a:hover {
    text-decoration: none;
    color: #1991EB; }
    .person-item a:hover .person-item_name {
      color: #1991EB; }
    .person-item a:hover .person-item_books {
      color: #1991EB;
      text-decoration: underline; }
  .person-item_avatar {
    width: 74px;
    height: 74px;
    margin: 0px auto 0px;
    overflow: hidden;
    border-radius: 50%; }
    .person-item_avatar img {
      width: 100%;
      height: auto; }
    @media (max-width: 960px) {
      .person-item_avatar {
        width: 60px;
        height: 60px; } }
  .person-item_name {
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 18px;
    color: #354052;
    margin: 5px 0px;
    padding: 0px 5px; }
    @media (max-width: 960px) {
      .person-item_name {
        font-size: 12px;
        line-height: 14px; } }
  .person-item_books {
    font-size: 12px;
    line-height: 21px;
    color: #7F8FA4; }

.block-title {
  font-family: Montserrat_bold;
  font-size: 26px;
  line-height: 36px;
  color: #354052; }
  .block-title a {
    font-family: Montserrat_semibold;
    display: inline-block;
    font-size: 10px;
    line-height: 18px;
    padding: 6px 10px 4px;
    margin: 0px 0px 0px 10px;
    line-height: 100%;
    color: #FFFFFF;
    background: #354052;
    border-radius: 4px;
    position: relative;
    top: -8px; }

.book-reviews_title {
  margin: 70px 0px 20px 0px; }

.book-reviews_input-block {
  width: 100%;
  max-width: 570px;
  background: #EDF7FF;
  border-radius: 2px;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 18px 20px 11px 20px; }

.book-reviews_avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38px;
  flex: 0 0 38px;
  display: inline-block;
  width: 38px;
  height: 38px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 15px 0px 0px; }
  .book-reviews_avatar img {
    width: auto;
    height: 100%; }

.book-reviews_input {
  font-size: 14px;
  color: #7F8FA4;
  width: 100%; }
  .book-reviews_input textarea {
    padding: 7px 12px;
    height: 37px;
    min-height: 36px;
    max-height: 200px;
    width: 100%;
    border: 1px solid #DFE3E9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px; }

.book-reviews_reviews-block {
  margin: 10px 0px 0px 0px;
  padding: 77px 0px;
  max-width: 570px;
  background: #F9F8F8;
  border-radius: 2px;
  font-size: 22px;
  line-height: 21px;
  text-align: center;
  color: #C7CBCF; }
