@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
/*welcome=======================================================*/
.modal-sm {
  max-width: 590px;
}

@media (max-width: 767px) {
  .modal-sm {
    max-width: 100%;
  }
}

.welc-modal_content-box {
  text-align: center;
  padding: 17px 19px 80px 19px;
}

@media (max-width: 767px) {
  .welc-modal_content-box {
    padding: 17px 19px 40px 19px;
  }
}

.welc-modal_header img {
  height: 170px;
  width: auto;
  margin: 80px 0px 20px 0px;
}

@media (max-width: 767px) {
  .welc-modal_header img {
    margin: 40px 0px 20px 0px;
  }
}

@media (max-width: 575px) {
  .welc-modal_header img {
    margin: 40px 0px 10px 0px;
  }
}

.welc-modal_title {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  max-width: 370px;
  margin: 0px auto 25px;
  text-align: center;
  color: #1991EB;
}

@media (max-width: 575px) {
  .welc-modal_title {
    font-size: 25px;
    line-height: 30px;
    margin: 0px auto 20px;
  }
}

@media (max-width: 450px) {
  .welc-modal_title {
    font-size: 20px;
    line-height: 25px;
  }
}

.welc-modal_text {
  font-family: Montserrat_regular;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #354052;
  padding: 0px 20px;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 575px) {
  .welc-modal_text {
    padding: 0px 0px;
    font-size: 14px;
    line-height: 18px;
  }
}

.welc-modal_link {
  font-family: Montserrat_semibold;
  border: 0;
  outline: 0;
  background: -webkit-linear-gradient(325deg, #1991eb 50%, rgba(78, 42, 206, 0.99));
  background: -o-linear-gradient(325deg, #1991eb 50%, rgba(78, 42, 206, 0.99));
  background: linear-gradient(125deg, #1991eb 50%, rgba(78, 42, 206, 0.99));
  color: #fff;
  padding: 8px 20px;
  margin: 0px auto 0px;
  border-radius: 4px;
  background-size: 200%;
  background-position: 100% 0;
  -webkit-box-shadow: 2px 4px 14px 0 rgba(74, 74, 74, 0.28);
  box-shadow: 2px 4px 14px 0 rgba(74, 74, 74, 0.28);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.welc-modal_link:hover {
  color: #fff;
}

/*=======================================================*/
/*notification=============================================*/
.modal-sx {
  max-width: 615px;
}

@media (max-width: 767px) {
  .modal-sx {
    max-width: 100%;
  }
}

.notif-modal_content-box {
  padding: 25px 25px 15px 25px;
  text-align: center;
}

@media (max-width: 575px) {
  .notif-modal_content-box {
    padding: 25px 0px 15px 0px;
  }
}

.notif-modal_header {
  padding: 0px 0px;
}

@media (max-width: 767px) {
  .notif-modal_header {
    padding: 0px 10px;
  }
}

@media (max-width: 370px) {
  .notif-modal_header {
    padding: 0px 10px;
  }
}

.notif-modal_avatar {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 81px;
  height: 81px;
  margin: 0px 0px 10px 0px;
}

.notif-modal_avatar img {
  width: 100%;
}

.notif-modal_title {
  font-family: Montserrat_bold;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.notif-modal_title a {
  color: #1991EB;
}

.notif-modal_btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #A4A5B0;
  color: #fff !important;
  padding: 11px 74px;
  margin: 0px auto 0px;
  border-radius: 4px;
  line-height: 100%;
  -webkit-box-shadow: 2px 4px 14px 0 rgba(74, 74, 74, 0.15);
  box-shadow: 2px 4px 14px 0 rgba(74, 74, 74, 0.15);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.notif-modal_btn:hover {
  color: #fff;
  background: #1991eb;
  text-decoration: none;
}

.notif-modal-item_body {
  background: #F9F8F8;
  border-radius: 6px;
  padding: 25px;
  margin: 5px -23px 30px -23px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}

@media (max-width: 575px) {
  .notif-modal-item_body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    margin: 5px -16px 30px -16px;
  }
}

.notif-modal-item_book {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 96px;
  flex: 0 0 96px;
  width: 96px;
  height: 147px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.notif-modal-item_book img {
  height: 100%;
}

.notif-modal-item_book .number {
  display: inline-block;
  background: #F7981C;
  font-family: Montserrat_bold;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  padding: 0px 15px;
  border-radius: 0px 4px 4px 0px;
  position: absolute;
  bottom: 15px;
  left: 0px;
  z-index: 2;
}

@media (max-width: 400px) {
  .notif-modal-item_book {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 64px;
    flex: 0 0 64px;
    width: 80px;
    height: 96px;
  }
}

.notif-modal-item_comment {
  padding: 0px 0px 0px 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 575px) {
  .notif-modal-item_comment {
    padding: 0px 0px 0px 15px;
  }
}

.notif-modal-item_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}

.notif-modal-item_row:nth-child(2) {
  margin: 0px 0px 10px 0px;
}

.notif-modal-item_row:nth-child(3) {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.notif-modal-item_avatar {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
}

.notif-modal-item_avatar img {
  width: 100%;
}

.notif-modal-item_name {
  padding: 0px 0px 0px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #354052;
}

.notif-modal-item_date {
  text-align: left;
  display: block;
  font-size: 10px;
  line-height: 14px;
  color: #7F8FA4;
}

.notif-modal-item_text {
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  color: #354052;
  margin: 0px 0px 10px 0px;
  position: relative;
}

.notif-modal-item_text span {
  display: inline-block;
  background: -webkit-linear-gradient(280deg, rgba(245, 242, 239, 0.0001) 40%, #F9F8F8 100%);
  background: -o-linear-gradient(280deg, rgba(245, 242, 239, 0.0001) 40%, #F9F8F8 100%);
  background: linear-gradient(-190deg, rgba(245, 242, 239, 0.0001) 40%, #F9F8F8 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

@media (max-width: 767px) {
  .notif-modal-item_text span {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(245, 242, 239, 0.0001)), to(#F9F8F8));
    background: -webkit-linear-gradient(top, rgba(245, 242, 239, 0.0001) 60%, #F9F8F8 100%);
    background: -o-linear-gradient(top, rgba(245, 242, 239, 0.0001) 60%, #F9F8F8 100%);
    background: linear-gradient(180deg, rgba(245, 242, 239, 0.0001) 60%, #F9F8F8 100%);
  }
}

@media (max-width: 575px) {
  .notif-modal-item_text {
    font-size: 12px;
    line-height: 16px;
  }
  .notif-modal-item_text span {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(245, 242, 239, 0.0001)), to(#F9F8F8));
    background: -webkit-linear-gradient(top, rgba(245, 242, 239, 0.0001) 60%, #F9F8F8 100%);
    background: -o-linear-gradient(top, rgba(245, 242, 239, 0.0001) 60%, #F9F8F8 100%);
    background: linear-gradient(180deg, rgba(245, 242, 239, 0.0001) 60%, #F9F8F8 100%);
  }
}

.notif-modal-item_like {
  font-family: Montserrat_bold;
  font-size: 10px;
  line-height: 12px;
  color: #354052;
}

.notif-modal-item_like svg {
  width: 17px;
  height: 17px;
  margin: 0px 5px 0px 0px;
  position: relative;
  top: -3px;
}

.notif-modal-item_like svg path {
  fill: #354052;
}

.notif-modal-item_shere {
  font-family: Montserrat_bold;
  font-size: 10px;
  line-height: 12px;
  color: #354052;
}

.notif-modal-item_shere svg {
  width: 17px;
  height: 17px;
  margin: 0px 5px 0px 0px;
}

.notif-modal-item_shere svg path {
  fill: #354052;
}

/*============================================================*/
/*==========================================================
table*/
.pr-col-body-book {
  padding: 0px 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 620px) {
  .pr-col-body-book {
    padding: 0;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.pr-col-body-book-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 57px;
  flex: 0 0 57px;
  -webkit-box-shadow: 0px 0px 10px rgba(75, 76, 78, 0.15);
  box-shadow: 0px 0px 10px rgba(75, 76, 78, 0.15);
  width: 57px;
  height: 87px;
  margin: 5px 0px;
}

.pr-col-body-book-image div {
  display: inline-block;
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pr-col-body-book-titles {
  display: inline-block;
  font-family: Montserrat_bold;
  font-size: 14px;
  line-height: 22px;
  color: #354052;
  padding: 0px 0px 0px 15px;
}

@media (max-width: 620px) {
  .pr-col-body-book-titles {
    font-size: 12px;
    line-height: 18px;
  }
}

/**/
.premiums-table-short .pr-col-noms {
  display: none;
}

.premiums-table-short .pr-col-book {
  width: 40%;
}

.premiums-table-short .pr-col-laur {
  width: 35%;
}

.premiums-table-short .pr-col-nom {
  width: 20%;
}

.premiums-table-short .pr-col-year {
  width: 5%;
}

@media (max-width: 991px) {
  .premiums-table-short .pr-col-book {
    width: 35%;
  }
  .premiums-table-short .pr-col-laur {
    width: 40%;
  }
  .premiums-table-short .pr-col-nom {
    width: 25%;
  }
}

@media (max-width: 620px) {
  .premiums-table-short .pr-col-book {
    width: 100%;
  }
  .premiums-table-short .pr-col-laur {
    width: 100%;
  }
  .premiums-table-short .pr-col-nom {
    width: 100%;
  }
}

/**/
@media (max-width: 620px) {
  .premiums-table {
    margin: 40px 0px 65px 0px;
  }
  .premiums-table__row {
    position: relative;
    margin: 0px 0px 50px 0px;
  }
  .pr-col-body-year {
    display: inline-block;
    position: absolute;
    width: auto !important;
    padding: 0 !important;
    top: -35px;
    left: 15px;
  }
}

/*======================================================*/
