.books-slider_wrapper {
	max-width: 1115px;
	margin: 0 auto;
}
.books-slider_item {
	outline: none;
	padding-left: 22px;
	padding-right: 22px;
}
.books-slider_item .books-slider_item-author {
	font-size: 14px;
	line-height: 21px;
	margin-top: 16px;
	color: #354052;
}
.books-slider_item .books-slider_item-title {
	font-size: 18px;
	font-family: Montserrat_semibold;
	line-height: 21px;
	color: #354052;
}
.books-slider_wrapper .books-slider {
	margin-left: -22px;
	margin-right: -22px;
}
.books-slider {
	margin-top: 20px;
	margin-bottom: 40px;
}
.books-slider .slick-arrow{
	background: #fff;
	font-size: 0px;
	content: "";
	width: 46px;
	height: 46px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 154px;
	margin-top: -23px;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;	
	z-index: 2;
}
.books-slider .slick-arrow.slick-prev{
	left: -3px;
}
.books-slider .slick-arrow.slick-prev:hover{
	left:-7px;
}
.books-slider .slick-arrow.slick-next{
	right: -3px;
}
.books-slider .slick-arrow.slick-next:hover{
	right: -7px;
}
.books-slider .slick-arrow::before {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;	
	content: "";
	display: block;
	width: 8px;
	height: 12px;
	position: absolute;
	opacity: 0.6;
	background: no-repeat center center url('../images/icons/arrow-slider.svg');
	left: 50%;
	top: 50%;
	margin-left: -4px;
	margin-top: -6px;
}
.books-slider .slick-arrow:hover::before {
	opacity: 1;
}

.books-slider .slick-arrow.slick-prev::before {
	margin-left: -5px;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);	
}
.books-slider .slick-arrow.slick-disabled {
	display: none !important;
}
.books-slider_item-image {
	display: block;
	position: relative;
	margin-top: 14px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 14px rgba(75, 76, 78, 0.43414);
	background: #000;
}
.books-slider_item-image img{
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;	
}
.books-slider_item-image_tag {
	z-index: 3;
	position: absolute;
	top: 10px;
	left: 6px;
	background: #FFFFFF;
	border: 1px solid #E9EDF1;
	box-sizing: border-box;
	border-radius: 23px;	
	font-size: 10px;
	line-height: 19px;	
	padding: 0px 11px;
	text-transform: uppercase;
	color: #354052;
	font-family: Montserrat_semibold;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;	
}
.books-slider_item-image_rate_container {
	z-index: 3;
	position: absolute;
	bottom: 25px;
	left: 0px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;	
}
.books-slider_item-image_rate {
	cursor: pointer;
	font-family: Montserrat_semibold;
	color: #fff;
	padding: 0px 8px;
	background: #F7981C;
	border-radius: 0px 4px 4px 0px;
	font-size: 18px;
	line-height: 32px;	
	float: left;
}
.books-slider_item-image_rate-close {
	float: left;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	width: 32px;
	height: 32px;
	margin-left: 5px;	
	position: relative;
}
.books-slider_item-image_rate-close::after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background:  no-repeat center center url('../images/icons/not-intrested.svg');
	position: absolute;
	z-index: 2;
	left: 8px;
	top: 8px;
}
.books-slider_item-image_rate-rating {
	float: left;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 11px;
	line-height: 32px;
	height: 32px;
	margin-left: 5px;	
	position: relative;	
	font-size: 16px;
	font-family: Montserrat_semibold;	
	color: #fff;
}
.books-slider_item-image_rate-rating::before {
	content: "";
	width: 10px;
	height: 9px;
	background:  no-repeat center center url('../images/icons/mini-star.svg');
	display: inline-block;
	vertical-align: top;
	margin-right: 3px;
	margin-top: 11px;
}
@media (min-width:768px) {
	.books-slider_item:hover .books-slider_item-image .books-slider_item-image_tag{
		left: -100%;
	}
	.books-slider_item:hover .books-slider_item-image .books-slider_item-image_rate_container{
		left: -100%;
	}
}
.books-slider_item .books-slider_item-image::before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	z-index: 2;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
@media (min-width:768px) {
	.books-slider_item:hover .books-slider_item-image::before {
		opacity: 0.6;
	}
}
.books-slider_item-image_rate-form-container {
	z-index: 4;
	position: absolute;
	bottom: -100px;
	width: 100%;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
@media (min-width:768px) {
	.books-slider_item:hover .books-slider_item-image_rate-form-container {
		bottom: 0px;
	}
}
.books-slider_item-image_rate-form-stars {
	width: 100%;
	margin-top: -1px;
}
.books-slider_item-image_rate-form-stars::after {
	content: "";
	display: block;
	clear: both;
}
.books-slider_item-image_rate-form-star {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	background-image: url('../images/icons/book-star.svg'); 
	background-repeat: no-repeat;
	background-position: center center;	
	width: 10%;
	float: left;
	height: 19px;
	cursor: pointer;
}

@media (min-width:768px) {
	.books-slider_item-image_rate-form-star:hover {
		-moz-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		-o-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);	
		border-radius: 3px;
	}
	.books-slider_item-image_rate-form-star.star_1:hover {
		border-radius: 3px;
		-moz-transform: scale(1.5) translateX(3px);
		-webkit-transform: scale(1.5) translateX(3px);
		-o-transform: scale(1.5) translateX(3px);
		-ms-transform: scale(1.5) translateX(3px);
		transform: scale(1.5) translateX(3px);	
	}
	.books-slider_item-image_rate-form-star.star_10:hover {
		border-radius: 3px;
		-moz-transform: scale(1.5) translateX(-3px);
		-webkit-transform: scale(1.5) translateX(-3px);
		-o-transform: scale(1.5) translateX(-3px);
		-ms-transform: scale(1.5) translateX(-3px);
		transform: scale(1.5) translateX(-3px);	
	}
}
.books-slider_item-image_rate-form-star.selected_rating {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);	
	border-radius: 3px;
}
.books-slider_item-image_rate-form-star.star_1.selected_rating {
	border-radius: 3px;
	-moz-transform: scale(1.5) translateX(3px);
	-webkit-transform: scale(1.5) translateX(3px);
	-o-transform: scale(1.5) translateX(3px);
	-ms-transform: scale(1.5) translateX(3px);
	transform: scale(1.5) translateX(3px);	
}
.books-slider_item-image_rate-form-star.star_10.selected_rating {
	border-radius: 3px;
	-moz-transform: scale(1.5) translateX(-3px);
	-webkit-transform: scale(1.5) translateX(-3px);
	-o-transform: scale(1.5) translateX(-3px);
	-ms-transform: scale(1.5) translateX(-3px);
	transform: scale(1.5) translateX(-3px);	
}

.books-slider_item-image_rate-form-bottom-text {
	cursor: pointer;
	padding: 9px 0px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	font-size: 10px;
	line-height: 17px;	
	font-family: Montserrat_semibold;
}
.books-slider_item-image_rate-form-star.star_1 {
	border-radius: 3px 0px 0px 3px;
	background-color: #A59F98;

}
.books-slider_item-image_rate-form-star.star_2 {
	background-color: #B0A698;
}
.books-slider_item-image_rate-form-star.star_3 {
	background-color: #BEAC94;
}
.books-slider_item-image_rate-form-star.star_4 {
	background-color: #CAB497;
}
.books-slider_item-image_rate-form-star.star_5 {
	background-color: #DDB685;
}
.books-slider_item-image_rate-form-star.star_6 {
	background-color: #F9B762;
}
.books-slider_item-image_rate-form-star.star_7 {
	background-color: #F5B055;
}
.books-slider_item-image_rate-form-star.star_8 {
	background-color: #FBA73B;
}
.books-slider_item-image_rate-form-star.star_9 {
	background-color: #F9A130;
}
.books-slider_item-image_rate-form-star.star_10 {
	background-color: #F7981C;
	border-radius: 0px 3px 3px 0px;
}
.books-slider_item-image_favorite {
	position: absolute;
	z-index: 3;
	top: 8px;
	right: -100px;
	height: 24px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.8);
	font-size: 10px;
	font-family: Montserrat_semibold;
	text-transform: uppercase;
	text-align: right;
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
@media (min-width:768px) {
	.books-slider_item:hover .books-slider_item-image_favorite {
		right: 12px;
	}
}
.books-slider_item-image_favorite .favorite-icon {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	margin-left: 3px;
	background: no-repeat center center url('../images/icons/favorite.svg');
}
.books-slider_item-image_favorite.added-to-favorite .favorite-icon {
	border-radius: 50%;
	background: #FFFFFF no-repeat center center url('../images/icons/favorite-hover.svg');
	
}
@media (min-width:768px) {
	.books-slider_item-image_favorite:hover {
		color: #1991EB;
	}
	.books-slider_item-image_favorite:hover .favorite-icon {
		background-image: url('../images/icons/favorite-hover.svg');
	}
}
.books-slider_item-image_rate-center {
	text-align: center;
	color: #fff;
	font-family: Montserrat_semibold;
	line-height: 58px;
	font-size: 25px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 88px;
	width: 100%;
	height: 54px;
	background: no-repeat center center url('../images/icons/big-star-book.svg');
	z-index: 3;
	display: none;
}
@media (min-width:768px) {
	.books-slider_item:hover .books-slider_item-image_rate-center.selected_rating {
		display: block !important;
	}
}

.books-slider_item-image_rate-center span{
	display: block;
}
.books-slider_item-image_rate-center span.j-hover-star-text {
	font-size: 13px;
	text-transform: uppercase;
	margin-top: -13px;
}
.icon-added-to-favorite {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #FFFFFF no-repeat center center url('../images/icons/favorite-hover.svg');
	top: 8px;
	right: 12px;
	z-index: 3;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
@media (min-width:768px) {
	.books-slider_item:hover .icon-added-to-favorite {
		top: -50px;	
	}
}
.books-slider_item-image_rate-form-bottom-text::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	background: no-repeat center center url('../images/icons/not-intrested.svg');
	
	
}
.books-slider::after {
	content: "";
	display: block;
	clear: both;
}
.books-slider .books-slider_item {
	width: 230px;
	float: left;
}
.books-slider_wrapper-scroll {
	margin-bottom: 30px;
}
@media (max-width:1200px) {
	.books-slider_wrapper-scroll {
		padding-left: 40px;
		padding-right: 40px;
		overflow-x: scroll;
	}
	.header-login .registration-btn {
		display: none;
	}	
	.scrolled .header-login .sign-btn {
		padding-top: 0px;
		padding-bottom: 3px;
	}
}
.rate-modal-overlay {
	display: none;
}

@media (max-width:767px) {
	
	.books-slider {
		margin-top: 10px;
	}
	.books-slider_wrapper-scroll {
		padding-left: 10px;
		padding-right: 10px;
	}
	.books-slider .books-slider_item {
		width: 153px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.books-slider_wrapper .books-slider {
		margin-left: -10px;
		margin-right: -10px;
	}
	.books-slider_item-image_tag,
	.icon-added-to-favorite {
		display: none;
	}
	
	
	.rate-modal-overlay {
		display: none;
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background: rgba(0,0,0,0.5);
		z-index: 999999;
	}	
	.rate-modal-overlay.show-rate-modal {
		display: block;
	}
	.rate-modal {
		background: #fff;
		width: 295px;
		min-height: 192px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -148px;
		margin-top: -96px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 8px;
	}
	.rate-modal_inner-form {
		padding: 23px 15px 17px;
	}
	.rate-modal_buttons::after {
		display: block;
		content: "";
		clear: both;
	}
	.rate-modal_buttons {
		margin-top: 14px;
	}
	.rate-modal_buttons > button {
		float: left;
		display: block;
		width: calc(50% - 2px);
	}
	.rate-modal_buttons > button + button{
		margin-left: 4px;
	}
	.rate-modal_buttons .btn.btn-success {
		font-family: Montserrat_semibold;
		background: #1991EB;
		color: #fff;
		font-size: 12px;
		border:none;
		outline: none;
		height: 40px;
		padding: 0px;
		text-align: center;
		line-height: 40px;
	}
	.rate-modal_buttons .btn:active,
	.rate-modal_buttons .btn:hover {
		border:none !important;
		outline: none !important;
		box-shadow: none !important;	
		background: #1991EB !important;	
	}
	.rate-modal_buttons .btn.btn-cancel {
		font-family: Montserrat_semibold;
		background: none;
		color: #A4A5B0;
		font-size: 12px;
		border:none;
		outline: none;
		height: 40px;
		padding: 0px;
		text-align: center;
		line-height: 40px;
	}
	.rate-modal .rate-modal-textarea {
		border: 1px solid #E9EDF1;
		border-radius: 3px;
		height: 68px;
		color: #A4A5B0;
		font-size: 12px;
		line-height: 15px;
		width: 100%;
		padding: 8px;
	}
	.rate-modal .books-slider_item-image_rate-form-star {
		height: 30px;
		background-size: 15px 15px;
	}
	.rate-modal .books-slider_item-image_rate-center {
		top: -105px;
	}
	.j-rate-form-mobile {
		position: relative;
	}
	.j-rate-form-mobile .error-message {
		text-align: center;
		margin-top: 20px;
		color: #ae1b1b;
		font-size: 12px;
		line-height: 16px;
	}
}



/* для деталки, есть зависимость от стилей выше! */

.book-detail-l-side__wrapper {
	max-width: 284px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 500px;
}

.book-detail-l-side__image {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}
.book-detail-l-side__image .books-slider_item-image_rate_container {
	bottom: 40px;
}
.book-detail-l-side__rate-form {
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;	
	padding: 9px 7px 40px;
	margin-top: 20px;
	text-align: center;
}
.book-detail-l-side__rate-form__title {
	font-size: 14px;
	color: #354052;
	margin-bottom: 12px;
	line-height: 21px;	
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star {
	height: 28px;
	background-size: 14px 14px;
}
.book-detail-l-side__rate-full-count {
	font-size: 12px;
	line-height: 21px;
	color: #A4A5B0;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 38px;
}
.book-detail-l-side__rate-remove-rate {
	display: none;
	margin-top: 13px;
	text-align: center;
	font-size: 10px;
	line-height: 18px;
	text-transform: uppercase;
	color: #A4A5B0;	
	font-family: Montserrat_semibold;
	cursor: pointer;
	
}
.book-detail-l-side__rate-remove-rate::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	margin-right: 3px;
	background:  no-repeat center center url('../images/icons/not-intrested-gray.svg');
	z-index: 2;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star {
	position: relative;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star .rate-value{
	display: none;
	font-family: Montserrat_semibold;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	text-align: center;
	line-height: 31px;
	font-size: 10px;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star:hover,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.selected_rating {
	z-index: 3;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star .rate-text{
	display: none;
	position: absolute;
	width: 100px;
	bottom: -15px;
	left: 50%;
	margin-left: -50px;
	text-align: center;
	font-size: 9px;
	font-family: Montserrat_semibold;
	text-transform: uppercase;
}

.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star:hover .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star:hover .rate-text,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.selected_rating .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.selected_rating .rate-text{
	display: block;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star:hover,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.selected_rating {
	background-size: 20px 20px;
}

.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_1 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_1 .rate-text {
	color: #A59F98;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_1 .rate-text {
	margin-left: 0px;
	left: 0px;
	text-align: left;
}

.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_2 .rate-text {
	margin-left: -13px;
	left: 0px;
	text-align: left;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_10 .rate-text {
	margin-left: 0px;
	right: 0px;
	left: auto;
	text-align: right;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_2 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_2 .rate-text  {
	color: #B0A698;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_3 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_3 .rate-text  {
	color: #BEAC94;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_4 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_4 .rate-text  {
	color: #CAB497;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_5 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_5 .rate-text  {
	color: #DDB685;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_6 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_6 .rate-text  {
	color: #F9B762;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_7 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_7 .rate-text  {
	color: #F5B055;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_8 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_8 .rate-text  {
	color: #FBA73B;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_9 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_9 .rate-text  {
	color: #F9A130;
}
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_10 .rate-value,
.book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_10 .rate-text  {
	color: #F7981C;
}
.book-detail-l-side__rate-form_thx {
	display: none;
	color: #354052;
	font-size: 14px;
	line-height: 21px;	
	text-align: center;
	padding-top: 35px;
	padding-bottom: 5px;
}

.book-detail-l-side__rate-form_change {
	display: none;
	color: #354052;
	font-family: Montserrat_semibold;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.book-detail-l-side__rate-form_change .j-change-detail-rate {
	cursor: pointer;
	font-family: Montserrat_regular;
	color: #1991EB;
}
.book-detail-l-side__mobile-modal-rate {
	display: none;
}

.book-detail-l-side__mobile-modal-change-rate {
	display: none;
}
@media (max-width:767px) {
	.book-detail-l-side__wrapper {
		padding-left: 37px;
		padding-right: 37px;
		max-width: 358px;
	}
	.book-detail-l-side__image {
		width: 56%;
		margin: 0 auto;
	}
	.book-detail-l-side__rate-form {
		display: none;
	}
	.book-detail-l-side__mobile-modal-rate {
		margin-top: -40px;
		display: none;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 8px;	
		padding: 60px 7px 30px;
		margin-bottom: 20px;
		text-align: center;		
		font-family: Montserrat_semibold;
		color: #354052;
	}
	.book-detail-l-side__mobile-modal-rate.showed {
		display: block;
	}
	.book-detail-l-side__mobile-modal-change-rate {
		display: none;
		margin-top: -40px;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 8px;	
		padding: 60px 7px 30px;
		margin-bottom: 20px;
		text-align: center;		
		font-family: Montserrat_semibold;
		color: #354052;		
	}
	.book-detail-l-side__mobile-modal-change-rate.showed {
		display: block;
	}
	.book-detail-l-side__mobile-modal-change-rate .book-detail-l-side__mobile-modal-change-rate__link{
		font-family: Montserrat_regular;
		color: #1991EB;		
	}
}

@media (min-width:768px) {
	.book-detail-l-side__rate-form_wrapper .books-slider_item-image_rate-form-stars:hover .j-hover-star.selected_rating {
			z-index: 1;
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);		
	}
	
	.book-detail-l-side__rate-form_wrapper .books-slider_item-image_rate-form-stars:hover .j-hover-star.selected_rating .rate-text{
		display: none;
	}
}

.modal_detail_rating .modal-content,
.modal_detail_rating_recenzition .modal-content {
	border-radius: 8px;
}
.modal_detail_rating .modal-dialog {
	max-width: 651px;
}
.modal_detail_rating .reg-modal_header {
	padding: 19px 0px;
}
.modal_detail_rating .modal-body {
	padding: 0px;
}
.modal-body_top-content {
	padding: 0px 36px 33px;
	font-size: 14px;
	line-height: 20px;
	color: #354052;
}
.modal-body_top-content .modal-body_top-content_title{
	font-size: 30px;
	line-height: 32px;
	font-family: Montserrat_semibold;
	color: #354052;
	margin-bottom: 16px;
}
.modal_detail_rating .book-detail-l-side__rate-form {
	max-width: 467px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 50px 40px;
}
.modal_detail_rating .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star {
	height: 40px;
	background-size: 20px 20px;
}
.modal_detail_rating .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star .rate-value {
	line-height: 43px;
}
.modal_detail_rating .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star .rate-text {
	bottom: -25px;
}
.modal_detail_rating .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_1 .rate-text,
.modal_detail_rating .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_2 .rate-text {
	margin-left: -50px;
    left: 50%;
    text-align: center;	
}
.modal-similar-books {
	background: #F9F8F8;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px;
	padding-top: 20px;	
}
.modal-similar-books .books-slider_item {
	padding-left: 8px;
	padding-right: 8px;
	width: 146px;
}
.modal-similar-books .books-slider_wrapper .books-slider {
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0px;
}
.modal-similar-books .books-slider_item-image_tag {
	max-width: 65%;
	padding: 0px 6px;
	line-height: 15px;
	font-size: 8px;
}
.modal-similar-books .books-slider_item-image_rate,
.modal-similar-books .books-slider_item-image_rate-rating {
	font-size: 12px;
	padding: 0 5px;
}
.modal-similar-books .books-slider_item .books-slider_item-author {
	font-size: 10px;
	line-height: 21px;
}
.modal-similar-books .books-slider_item .books-slider_item-title {
	font-size: 12px;
	line-height: 14px;
}
.modal-similar-books .books-slider_wrapper-scroll {
	margin-bottom: 0px;
}
.modal-footer-link {
	padding-top: 33px;
	padding-bottom: 38px;
	text-align: center;
}
.modal-footer-link a{
	font-size: 14px;
	line-height: 21px;
	color: #A4A5B0;
	text-decoration: none;
}

.modal_detail_success {
	display: none;
	width: 100% !important;
}
.modal_detail_rating_onboard .modal-content,
.modal_detail_rating_recenzition .modal-content,
.modal_detail_rating .modal-content {
	border: none;
	border-radius: 8px;
}
.modal_detail_success .modal-dialog,
.modal_detail_rating_onboard .modal-dialog,
.modal_detail_rating_recenzition .modal-dialog {
	max-width: 545px;
}
.modal_detail_success .reg-modal_header {
	padding: 30px 0px;	
}
.modal_detail_success a.btn-link{
	height: 40px;
	display: inline-block;
	line-height: 40px;
	color: #fff;
	background: #1991EB;
	border-radius: 4px;
	padding: 0px 30px;
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	margin-top: 35px;
	margin-bottom: 10px;
}
.modal_detail_success .modal-body_top-content_title {
	text-align: center;
}
.modal_detail_success .success-buttons-center {
	text-align: center;
}
.modal_detail_rating_onboard .reg-modal_header,
.modal_detail_rating_recenzition .reg-modal_header {
	padding: 19px 0px;
}
.modal_detail_success .modal-body,
.modal_detail_rating_onboard .modal-body,
.modal_detail_rating_recenzition .modal-body {
	padding: 0px;
}
.modal-body_top-content_subtitle {
	font-size: 22px;
	line-height: 24px;
	color: #354052;
	font-family: Montserrat_semibold;
	margin-top: 28px;
	margin-bottom: 15px;
}
.modal-body_top-content_content {
	color: #354052;
	font-size: 14px;
	line-height: 19px;
}

.modal_detail_rating_onboard .book-detail-l-side__rate-form,
.modal_detail_rating_recenzition .book-detail-l-side__rate-form {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 50px 40px;
}
.modal_detail_rating_onboard .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star,
.modal_detail_rating_recenzition .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star {
	height: 40px;
	background-size: 20px 20px;
}
.modal_detail_rating_onboard .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star .rate-value,
.modal_detail_rating_recenzition .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star .rate-value {
	line-height: 43px;
}
.modal_detail_rating_onboard .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star .rate-text,
.modal_detail_rating_recenzition .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star .rate-text {
	bottom: -25px;
}
.modal_detail_rating_onboard .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_1 .rate-text,
.modal_detail_rating_onboard .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_2 .rate-tex,
.modal_detail_rating_recenzition .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_1 .rate-text,
.modal_detail_rating_recenzition .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star.star_2 .rate-text {
	margin-left: -50px;
    left: 50%;
    text-align: center;	
}

@media (max-width: 700px) {
	.modal_detail_rating_recenzition .modal-dialog,
	.modal_detail_rating .modal-dialog,
	.modal_detail_rating_onboard .modal-dialog {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.modal-similar-books {
		display: none;
	}
	.modal_detail_rating_recenzition .reg-modal_header button.close,
	.modal_detail_rating_onboard .reg-modal_header button.close,
	.modal_detail_rating .reg-modal_header button.close {
		top:8px !important;
		right:8px !important;
		width: 12px;
		height: 12px;
	}
	.modal_detail_rating_recenzition .reg-modal_header button.close span,
	.modal_detail_rating_onboard   .reg-modal_header button.close span,
	.modal_detail_rating  .reg-modal_header button.close span {
		width: 12px;
		height: 12px;
		vertical-align: top;
	}
	
	.modal_detail_rating  .modal_detail_rating .reg-modal_header {
		padding: 10px 0px;
	}
	.modal-body_top-content .modal-body_top-content_title {
		font-size: 24px;
		line-height: 24px;
	}
	.modal-body_top-content {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 0px;
	}
	.modal_detail_rating_recenzition .book-detail-l-side__rate-form,
	.modal_detail_rating_onboard .book-detail-l-side__rate-form,
	.modal_detail_rating .book-detail-l-side__rate-form {
		padding: 36px 12px;
	}
	.modal_detail_rating_recenzition .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star,
	.modal_detail_rating_onboard .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star,
	.modal_detail_rating .book-detail-l-side__rate-form .books-slider_item-image_rate-form-star {
		height: 30px;
		background-size: 15px 15px;
	}
	.modal_detail_rating_recenzition .book-detail-l-side__rate-form,
	.modal_detail_rating_onboard .book-detail-l-side__rate-form {
		margin-bottom: 20px;
	}
	.onboard-buttons button + button, .rate-modal-buttons button + button {
		margin-left: 0px;
		margin-top: 25px;
	}
	.rate-modal-buttons {
		padding-bottom: 72px;
	}
	.rate-modal-buttons button {
		width: 210px;
		text-align: center;
	}
	.modal-footer-link.mobile-hidden {
		display: none;
	}
	.j-rate-read-form-recenzition,
	.j-form-send-only-recenzition {
		padding-bottom: 20px;
	}
	.form-rate-container button.modal-btn {
		padding-left: 35px;
		padding-right: 35px;
	}
	.modal-body_top-content_subtitle {
		margin-top: 0px;
		font-size: 16px;
		line-height: 19px;		
	}
	.book-rate-show-recenzition {
		margin-bottom: 20px;
	}
	.onboard-buttons {
		margin-bottom: 20px;
		margin-top: 0px;
	}
	.onboard-title-form__right {
		width: 140px;
		padding-left: 10px;		
	}
	.onboard-title-form__left {
	    width: calc(100% - 140px);
	}	
	.onboard-buttons::after {
		content: "";
		display: block;
		clear: both;
	}
	.onboard-buttons .modal-cencel-btn {
		float: right;
	}
	.onboard-buttons .j-save-onboard {
		float: left;
	}
	.form-rate-container .onboard-buttons button.modal-btn.modal-cencel-btn {
		margin-top: 25px;
	}
	.modal_detail_success {
		padding-bottom: 45px;
	}
	.modal_detail_success a.btn-link {
		margin-top: 25px;
	}
}
.icons-banners-knigogid li img{
	max-width: 17px;
	max-height: 17px;
}
.mobile-hamb,
.mobile-menu-overlay {
	display: none;
}
.mobile-bottom-socials .soc_icons {
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position:  center center;
}
.mobile-bottom-socials .soc_icons.soc_icon_fb{
	background-image: url('../images/icons/soc_icon_fb.svg');
}
.mobile-bottom-socials .soc_icons.soc_icon_vk{
	background-image: url('../images/icons/soc_icon_vk.svg');
}
.mobile-bottom-socials .soc_icons.soc_icon_in{
	background-image: url('../images/icons/soc_icon_in.svg');
}
.mobile-bottom-socials .soc_icons + .soc_icons {
	margin-left: 15px;
}

.mobile-bottom-socials.footer-block {
	padding-top: 30px;
	padding-bottom: 30px;
}
.mobile-bottom-socials.footer-block .soc_icons {
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	
}
.footer-tagline {
	min-width: 227px; 
}
@media (max-width:767px) {
	.header-login .header-user .dropdown-block {
		top: 36px;
		right: -10px;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
	}
	.mobile-hamb {
		cursor: pointer;
		display: none;
		height: 48px;
		width: 63px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 17px;
		margin-top: -12px;
		margin-left: -12px;
		margin-bottom: -12px;
		z-index: 3;
	}
	.scrolled .header-search_btn {
		margin-left: 22px;
	}
	.scrolled .mobile-hamb {
		display: block;
	}
	.scrolled .header-login  .sign-btn {
		display: none;
	}
	.mobile-hamb span,
	.mobile-hamb::after,
	.mobile-hamb::before {
		width: 100%;
		content: "";
		display: block;
		height: 3px;
		border-radius: 1.5px;
		background: #354052;
	}
	.mobile-hamb span {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.footer .card {
		border-bottom-color: #A4A5B0 !important;
		border-radius: 0px;
	}
	.footer .footer-copy ul li a {
		color: #A4A5B0;
	}
	.mobile-menu-overlay {
		cursor: pointer;
		display: none;
		position: fixed;
		background: rgba(0,0,0,0.5);
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: -300px;
		z-index: 99;
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;		
	}
	.mobile-menu-wrapper {
		overflow: hidden;
		width: 340px;
		background: #F8F8F8;
		position: absolute;
		left: -100%;
		right: 0px;
		top: 0px;
		bottom: 0px;
		max-width: 90%;
		padding-top: 0px;
		padding-left: 20px;
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;		
		
	}
	.mobile-bottom-socials.footer-block {
		padding-bottom: 10px;
	}
	.mobile-menu-overlay.active .mobile-menu-wrapper {
		left: 0px;
	}
	.mobile-menu-wrapper .logo-mobile-menu {
		width: 155px;
	}
	.mobile-menu-close {
		cursor: pointer;
		position: absolute;
		top: 22px;
		right: 33px;
	}
	.mobile-menu-close svg{
		vertical-align: top;
		width: 15px;
		height: 15px;
	}
	.mobile-menu-wrapper__scroll {
		padding-top: 13px;
		height: 100vh;
		position: relative;
		overflow-y: scroll;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		width: calc(100% + 40px);
		margin-left: -20px;
	}
	.mobile-menu-wrapper ul {
		padding: 0px;
		margin: 16px 0px 20px;
	}
	.mobile-menu-wrapper ul li {
		padding: 0px;
		margin: 0px;
	}
	.mobile-menu-wrapper ul li a{
		font-family: Montserrat_semibold;
		text-decoration: none;
		color: #354052;
		font-size: 14px;
		line-height: 21px;
		
	}
	.mobile-menu-wrapper ul li + li {
		margin-top: 22px;
	}
	.mobile-search-form {
		position: relative;
		border-top: 1px solid #E9EDF1;
		border-bottom: 1px solid #E9EDF1;
		width: calc(100% + 20px);
		margin-left: -20px;
		padding:16px 20px;
	}
	.mobile-search-form input.field-search-text {
		background: #fff;
		box-shadow: none;
		height: 36px;
		width: 100%;
		border: 1px solid #DFE3E9;
		border-radius: 4px;
		line-height: 36px;
		padding-left: 10px;
	}
	.field-search-button-mobile {
		position: absolute;
		background: url(../images/icons/search.svg) no-repeat center center;
		width: 16px;
		height: 16px;
		z-index: 3;
		right: 30px;
		top: 26px;
		border: none;
		outline: none;
	}
	.mobile-bottom-socials {
		padding-top: 22px;		
		padding-right: 40px;
		font-size: 12px;
		line-height: 16px;		
		color: #354052;
	}
	.mobile-bottom-socials::after {
		content: "";
		display: block;
		clear: both;
	}
	.mobile-bottom-socials__left {
		float: left;
		width: calc(100% - 90px);
	}
	.mobile-bottom-socials__right {
		float: left;
		width: 90px;
	}
	.mobile-bottom-socials .soc_icons {
		margin-top: 8px;
		width: 16px;
		height: 16px;
		background-size: 16px 16px;	
	}
	.mobile-footer-menu-image {
		margin-top: 21px;
		margin-bottom: 43px;
		text-align: center;
	}
	.mobile-footer-menu-image img{
		width: 125px;
	}
	
	.footer .logo img {
		width: 126px;
	}
	.footer-tagline {
		font-size: 28px;
		width: 70%;
		min-width: 250px;
	}
	.footer-tip {
		width: 50%;
		font-size: 14px;
		line-height: 21px;		
		color: #354052;
		min-width: 180px;
	}
	.footer-reg_btn {
		margin-bottom: 30px;
		max-width: 190px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		width: 100%;
		display: block;
		margin-left: 0px;
		margin-right: 0px;
		background: linear-gradient(173.62deg, #1991EB -0.83%, rgba(78, 42, 206, 0.987052) 101.37%);
		border-radius: 4px;
	}
	.mobile-bottom-socials.footer-block {
		padding-top: 0px;
	}
	#reg-modal .reg-modal_content {
		max-width: 310px;
		margin-left: auto;
		margin-right: auto;
	}
	#reg-modal .reset-pass {
		margin-top: 15px;
	}
	#reg-modal .availability-acc.not,
	#reg-modal .reg-modal_form .sep,
	#reg-modal .agreement-tip {
		color: #A4A5B0;
	}
	#reg-modal .reg-modal_btns button + button {
		margin-top: 10px;
	}
	#reg-modal .reg-modal_form .submit{
		opacity: 0.5;
		background: linear-gradient(174.52deg, #1991EB -0.83%, rgba(78, 42, 206, 0.987052) 101.37%);
	}
	#reg-modal .reg-modal_btns {
		padding-left: 0px;
		padding-right: 0px;
	}
	.mobile-menu-wrapper ul li a.logout-mobile-link {
		color: #A4A5B0;
	}
	a.top-blue-mobile-link {
		border-top: 1px solid #E9EDF1;
		border-bottom: 1px solid #E9EDF1;
		font-size: 14px;
		line-height: 21px;
		color: #1991EB;	
		display: block;	
		font-family: Montserrat_semibold;
		padding-top: 15px;
		padding-bottom: 16px;
		margin-top: 16px;
		padding-left: 20px;
		margin-left: -20px;
		position: relative;
	}
	a.top-blue-mobile-link img{
		width: 26px;
		height: 26px;
		border-radius: 50%;
		left: 0px;
		top: 0px;
		margin-top: -5px;
		margin-bottom: -3px;
		margin-right: 8px;
	}
	
}

@media (max-width:575px) {

	.footer-copy ul li:not(:last-child):before {
		background: #A4A5B0;
	}
	.footer-copy ul li:first-child::before {
		display: none;
	}
	.footer-copy {
		padding-bottom: 45px;
	}
	.footer-copy::after {
		content: "";
		display: block;
		clear: both;
	}
	.footer-copy ul {
		display: block;
	}
	.footer-copy ul li:first-child {
		font-family: Montserrat_semibold;
		display: block;
		float: none;
		clear: both;
		margin-bottom: 16px;
	}
	.footer-copy ul li {
		float: left;
		margin-bottom: 0px;
	}	
}
